<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content=""><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - algorithms</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">algorithms</h1><h2>Topological Sort | Kahn's Algorithm</h2>
<p><a href="https://piped.kavin.rocks/watch?v=cIBFEhD77b4&amp;feature=youtu.be" target="_blank">https://piped.kavin.rocks/watch?v=cIBFEhD77b4&amp;feature=youtu.be</a></p>
<h2>Dijkstra's Shortest Path</h2>
<p><a href="https://piped.kavin.rocks/watch?v=pSqmAO-m7Lk&amp;feature=youtu.be" target="_blank">https://piped.kavin.rocks/watch?v=pSqmAO-m7Lk&amp;feature=youtu.be</a></p>
<h2>Union Find</h2>
<p><a href="https://piped.kavin.rocks/watch?v=ibjEGG7ylHk&amp;feature=youtu.be" target="_blank">https://piped.kavin.rocks/watch?v=ibjEGG7ylHk&amp;feature=youtu.be</a></p>
<p><a href="https://piped.kavin.rocks/watch?v=JZBQLXgSGfs&amp;feature=youtu.be" target="_blank">https://piped.kavin.rocks/watch?v=JZBQLXgSGfs&amp;feature=youtu.be</a></p>
<h2>Graph Algorithms</h2>
<p><a href="https://piped.kavin.rocks/watch?v=tWVWeAqZ0WU&amp;feature=youtu.be" target="_blank">https://piped.kavin.rocks/watch?v=tWVWeAqZ0WU&amp;feature=youtu.be</a></p>
<h2>Radix Sort</h2>
<p><a href="https://yewtu.be/watch?app=desktop&amp;v=_KhZ7F-jOlI" target="_blank">https://yewtu.be/watch?app=desktop&amp;v=_KhZ7F-jOlI</a></p>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
