<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Alternative milks are easy, taste good, and are WAY cheaper than store bought."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Alt Milk</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Alt Milk</h1><h2>Ingredients</h2>
<ul>
<li>Choice of grain and water from below</li>
<li>1 Tbsp <strong><a href="maple-syrup.html">maple syrup</a></strong> (or some other sweetener, like a single pitted date)</li>
<li>Pinch of <strong><a href="salt.html">salt</a></strong></li>
</ul>
<h3>Oat</h3>
<ul>
<li>1 cup <strong><a href="oats.html">rolled oats</a></strong></li>
<li>3 cups <strong><a href="water.html">water</a></strong></li>
</ul>
<p>Blend time: 45 seconds</p>
<h3>Rice</h3>
<ul>
<li>1 cup <strong><a href="rice.html">uncooked white rice</a></strong></li>
<li>2 cups (or enough to cover the rice) <strong><a href="water.html">water</a></strong> for soaking</li>
<li>3 cups <strong><a href="water.html">water</a></strong></li>
</ul>
<p>Blend time: 1 minute</p>
<h4>Soak Methods</h4>
<ul>
<li>Hot soak: 2 hours with hot not boiling <strong><a href="water.html">water</a></strong></li>
<li>Cold soak: 14 hours with room temp <strong><a href="water.html">water</a></strong></li>
</ul>
<h2>Cookware</h2>
<ul>
<li>Blender</li>
<li>Nut milk bag, towel, or fine strainer</li>
<li>Mixing bowl for strained liquid</li>
<li>Jar or bottle for storage</li>
</ul>
<h2>Instructions</h2>
<ol>
<li>If not using oats, soak your <strong>grains</strong> in your <strong>hot water</strong> according to the instructions above. Drain the <strong>soaking water</strong> off the <strong>grain</strong> before using.</li>
<li>Put <strong>all ingredients</strong> in the blender (except your <strong>soaking water</strong> if used) and blend on highest setting for amount listed above.</li>
<li>Strain the pulp from the liquid in the strainer and set it aside. Two passes is recommended, but one was fine for me.</li>
<li>Store the resulting milk in your jar or bottle and refrigerate for at most a week.</li>
</ol>
<h2>How To Use the Pulp</h2>
<ul>
<li>as a mix of flour/grain and water for other recipes, like <a href="no-knead-bread.html">bread</a> or <a href="waffles.html">waffles</a></li>
<li>for rice pudding (or similar)</li>
<li>with spices to make crackers[6]</li>
<li>dry out and make flour[5]</li>
</ul>
<h2>References</h2>
<ol>
<li><a href="https://minimalistbaker.com/make-oat-milk/" target="_blank">https://minimalistbaker.com/make-oat-milk/</a></li>
<li><a href="https://minimalistbaker.com/guide-making-dairy-free-milk/" target="_blank">https://minimalistbaker.com/guide-making-dairy-free-milk/</a></li>
<li><a href="https://minimalistbaker.com/make-rice-milk/" target="_blank">https://minimalistbaker.com/make-rice-milk/</a></li>
<li><a href="https://zerowastechef.com/2014/06/04/no-cook-rice-milk/" target="_blank">https://zerowastechef.com/2014/06/04/no-cook-rice-milk/</a></li>
<li><a href="https://teddit.net/r/ZeroWaste/comments/9z6pe7/what_do_i_do_with_the_pulp_of_rice_milk/" target="_blank">https://teddit.net/r/ZeroWaste/comments/9z6pe7/what_do_i_do_with_the_pulp_of_rice_milk/</a></li>
<li><a href="https://donutfollowthecrowd.com/rice-pulp-crackers-vegan/" target="_blank">https://donutfollowthecrowd.com/rice-pulp-crackers-vegan/</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="biscuits.html">Biscuits</a></li><li><a href="muesli.html">Muesli</a></li></ul></details></section><p class="last-modified">Last modified: 202301052000</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
