<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="The Amiga is a computer that gained popularity in the 80's and 90's."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Amiga</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Amiga</h1><h2>Internet</h2>
<p>From @GabeMoralesVR@social.linux.pizza[1]:</p>
<blockquote>
<p>number of different ways -- you can image the file onto an actual floppy disk and run it that way. If you make an ASM-ONE floppy, put it into your amiga, and boot, it'll boot straight into the editor. Alternatively, if you have a hard drive on your amiga, you can copy the lha file (it's the amiga version of zip) to the hard drive and unzip it there using a network adapter. The easiest way these days, however, is to use a gotek floppy emulator and pop it on a USB drive.</p>
<p>assuming you have an amiga with no hard drive and don't have a gotek and want to run asm-one there, the easiest way to do that would be to use a null serial cable to link your PC to the amiga. They sell serial to USB cables online you can use. You'd link one end of the cable to the amiga's serial port, and the other end would be USB that plugs into your PC. Then you'd boot into amiga workbench and copy the file over serially and run ASM-ONE from workbench.</p>
<p>if you're playing with a real amiga, depending on the model, I'd recommend either popping in a CF card kit, which lets you use a Compact flash card as though it was an amiga harddrive, or grabbing a gotek floppy emulator, which is a box that the amiga sees as a floppy drive, but has a USB port so you can put adf images (amiga floppy disk images) onto a USB drive, that the amiga will read as though they were floppies.</p>
<p>video on gotek: <a href="https://www.youtube.com/watch?v=cUxsmQxJZ3c" target="_blank">https://www.youtube.com/watch?v=cUxsmQxJZ3c</a>
Honestly, using a gotek is probably the easiest way to do all this, but you'd have to order one online.</p>
<p>here's a video on using ASM-ONE to create some amiga demos: <a href="https://www.youtube.com/watch?v=p83QUZ1-P10" target="_blank">https://www.youtube.com/watch?v=p83QUZ1-P10</a></p>
<p>another way you could do it -- you could buy a plipbox for your amiga. That's a parallel port device you add to the amiga that gives it an ethernet port, so you can connect it to a modern network. With a plipbox, you could connect your amiga to your modern network, and access your PC through FTP, and copy the ASM-ONE files to the amiga that way. Plipbox: <a href="https://www.youtube.com/watch?v=f5A5f2l3GkE" target="_blank">https://www.youtube.com/watch?v=f5A5f2l3GkE</a></p>
</blockquote>
<h2>References</h2>
<ol>
<li><a href="https://social.linux.pizza/@GabeMoralesVR/" target="_blank">https://social.linux.pizza/@GabeMoralesVR/</a></li>
</ol>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
