<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Anki is a spaced repetition language learning tool."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Anki</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Anki</h1><p>Anki is a spaced repetition <a href="language.html">language</a> learning tool.</p>
<h2>Getting Started</h2>
<p>Download Anki from their <a href="https://apps.ankiweb.net/" target="_blank">homepage</a> for your OS. Mobile users will need to install it on their non-mobile device first before using the Ankiweb portal. You can also use their mobile apps, but to get started, that's simple.</p>
<p>Go to the <a href="https://ankiweb.net/decks/" target="_blank">AnkiWeb portal</a>, log in, and look up the shared decks to try some out. You'll probably find anything you are looking for, but for more specifics, you will want to make your own deck.</p>
<!--

## Make A Deck

-->
<h2>References</h2>
<ul>
<li><a href="https://apps.ankiweb.net/" target="_blank">https://apps.ankiweb.net/</a></li>
<li><a href="https://ankiweb.net/decks/" target="_blank">https://ankiweb.net/decks/</a></li>
</ul>
<p class="last-modified">Last modified: 202206101419</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
