<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Applying for jobs, especially in the tech sector, is fraught with weird shibboleths and false signals."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Applying</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Applying</h1><p>Applying for jobs, especially in the tech sector, is fraught with weird shibboleths and false signals. </p>
<h2>Listings</h2>
<p>Always assume that the numbers on job listings for experience on a given stack or technology is always overinflated. If it says 5 years of Javascript, you can safely guess 2-3 years of experience required, things like that.</p>
<p>Also, listings are always obsolete, at least by the time you see them[1]. The listings are a generally accepted idea of what you're probably going to be working on and not much more than that. You should be figuring out your angle of what you can bring to the table, not how can you check all of their boxes. It is partly expected that you will be learning some of this on the job.</p>
<h2>Resumés</h2>
<p>For resumés, this is a weird thing where they will almost certainly be scanned by computer programs before ever reaching a human. So you have to play this weird game of simultaneously stuffing your resumé with the job qualification equivalent of SEO and still making it good looking enough for when a human gets a hold of it. Kind of an odd muxing of concerns, but those are the breaks these days.</p>
<h2>References</h2>
<ol>
<li><a href="https://mastodon.social/@mhoye/108347295138675704" target="_blank">https://mastodon.social/@mhoye/108347295138675704</a></li>
</ol>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
