<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="This is a reference of various ARIA attributes."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - ARIA Attributes (Reference)</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">ARIA Attributes (Reference)</h1><h2><code>expanded</code>[1]</h2>
<p>It is &quot;is a good solution for many situations where an element's visibility should can be toggled&quot;[1]. If the element creates some kind of disclosure based on a trigger, use <code>aria-expanded</code>. This can be used in conjunction with <code>aria-haspopup</code>, but isn't really necessary.</p>
<h2>References</h2>
<ol>
<li><a href="https://www.accessibility-developer-guide.com/examples/sensible-aria-usage/expanded/#real-world-use" target="_blank">Marking elements expandable using aria-expanded - ADG</a></li>
</ol>
<p class="last-modified">Last modified: 202304292042</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
