<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Arrays in C, like all things in C, require a lot more care than higher level languages."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Arrays (C)</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Arrays (C)</h1><p>Arrays in <a href="c.html">C</a>, like all things in C, require a lot more care than higher level languages.</p>
<h2>Initialization</h2>
<p>Arrays are intialized as normal, but followed by <code>n</code> items that should reside in the array: <code>int numbers[n]</code>. </p>
<p>You can set the values of each of these items with curly braces. </p>
<pre><code class="language-c">int array[5] = { 1, 2, 3, 4, 5 };
int zeroArray[10] = { 0 };
</code></pre>
<p>In an array of integers, if the list of values within the curly braces is less than the amount needed to fill it completely, all remaining values will resort to zero. Meaning that you can instantiate an array of integers with 0 via <code>int array[n] = { 0 }</code>.</p>
<h2>Access/Modification</h2>
<p>Arrays can be accessed or modified as normal via square brackets.</p>
<pre><code class="language-c">int array[8] = { 0 };

array[0] = 100;
array[4] = 500;
</code></pre>
<h2>Information</h2>
<h3>Size/Length</h3>
<p>The size or length of an array needs some calculation. The built in <code>sizeof</code> function will return the size of an array <em>in bytes</em>, which is not particularly helpful unless you know the size of each cell. So you can use the <code>sizeof</code> function to get the size of the first cell and divide the total size by that value.</p>
<pre><code class="language-c">#include &lt;stdio.h&gt;

int main() 
{
    int total, single, len;
    int array[10];
  
    total = sizeof(array);
    single = sizeof(array[0]);
    len = total / single;

    printf(&quot;total: %d, single: %d,len: %d&quot;, total, single, len);
    // total: 40, single: 4, len: 10

    return 0;
}
</code></pre>
<p>Integers that are passed in as arguments will not be able to utilize this technique. The length will need to be calculated ahead of time and passed in as another argument.</p>
<pre><code class="language-c">#include &lt;stdio.h&gt;

void reverse(char str[], int len);

int main() 
{
    int total, single, len;
    char array[] = &quot;hello&quot;;
  
    total = sizeof(array);
    single = sizeof(array[0]);
    len = total / single;
    printf(&quot;%d, %d, %d\n&quot;, total, single, len);
  
    reverse(array, len);

    return 0;
}

void reverse(char str[], int len)
{
  int i;
  
  for (i = len - 1; i &gt;= 0; i--)
    printf(&quot;%c&quot;, str[i]);
}
</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://stackoverflow.com/questions/201101/how-to-initialize-all-members-of-an-array-to-the-same-value" target="_blank">https://stackoverflow.com/questions/201101/how-to-initialize-all-members-of-an-array-to-the-same-value</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="c-data-types.html">C Data Types</a></li><li><a href="strings-c.html">Strings (C)</a></li></ul></details></section><p class="last-modified">Last modified: 202206101419</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
