<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content=""><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Best Practices</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Best Practices</h1><h2>Don't Work With Psychopaths</h2>
<blockquote>
<p>I saw a tweet today, asking “If you could tell one piece of advice to yourself at 21, what would it be?” and without hesitation I thought, don’t work with psychopaths. You’d think you could handle it but you’d be wrong. I always thought I could, and I was wrong. You can’t outsmart a pathology.[1]</p>
</blockquote>
<h2>Diary and Delta File</h2>
<p>This is a two parter but I keep them together because it's easier.</p>
<h3>Diary</h3>
<p>Keep a diary of what you do every day. This has a ton of benefits:</p>
<ul>
<li>Keeping you on track of what you did the previous day so you can make progress the next day</li>
<li>Deeper knowledge of context of your work and why you did it</li>
<li>A list of accomplishments and work done for promotion preparation/job searches (e.g. <a href="star-stories.html">STAR Stories</a>)</li>
<li>Real-time rubber ducking problems via conversation with yourself</li>
<li>Questions that you don't have time to answer now but could benefit you later</li>
<li>Links to cover your ass if shit hits the fan and the blame falls on you for something that was done</li>
</ul>
<h3>Delta File</h3>
<p>Maintain a written document, for your eyes only, where you capture observed behaviors (and consequences) that you find objectionable in yourself and others. I find this useful for keeping yourself sane in cases of being gaslit by your employer, as well as documenting behavior that <em>should</em> be documented for future reference. You never know when you will need these details and they could 100% save your ass someday.</p>
<blockquote>
<p>The purpose is to understand, change or act differently should you find yourself in the same position. It allows you to reflect over time on actions that you find problematic; sometimes you learn that you were naïve and when presented in the same situation you then understand why a person acted in a certain way, other times you can make a different choice and rise to the occasion — it helps you prepare for that moment.</p>
<p>A short-term side benefit of the Delta File, is how it’s a great way to let go of tolerable crap you have to deal with. When you see something objectionable and there is nothing you or anyone can do about it, just writing it down and acknowledging it’s “a bad thing” can help you handle the emotional burden.</p>
</blockquote>
<h2>References</h2>
<ol>
<li><a href="https://scribe.rip/@livlab/dont-work-with-psychopaths-b1a848914455" target="_blank">Don’t work with psychopath</a></li>
<li><a href="https://www.manager-tools.com/2009/08/delta-file" target="_blank">The Delta File | Manager Tool</a></li>
</ol>
<p class="last-modified">Last modified: 202304292105</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
