<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Biscuits!"><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Biscuits</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Biscuits</h1><p>This is a rip of the Minimalist Baker recipe[1], with the modifications I like.</p>
<h2>Ingredients</h2>
<ul>
<li>1 cup <strong><a href="alt-milk.html">alt milk</a></strong></li>
<li>1 Tbsp <strong><a href="vinegar.html">vinegar</a></strong></li>
<li>250g <strong>white <a href="flour.html">flour</a></strong></li>
<li>Some <strong><a href="flour.html">flour</a></strong> for dusting</li>
<li>1 Tbsp <strong><a href="baking-powder.html">baking powder</a></strong></li>
<li>1/2 tsp <strong><a href="baking-soda.html">baking soda</a></strong></li>
<li>3/4 tsp <strong><a href="salt.html">salt</a></strong></li>
<li>4-8 Tbsp <strong>alt <a href="butter.html">butter</a>, chilled/frozen</strong> (Earth Balance, or something like that)</li>
<li>2 Tbsp <strong><a href="olive-oil.html">olive oil</a></strong></li>
</ul>
<h2>Cookware</h2>
<ul>
<li>Refrigerator/freezer</li>
<li>Measuring cups/spoons</li>
<li>Glass vessel for mixing wet ingredients</li>
<li>Mixing bowl or Cambro-type container that can fit in your fridge</li>
<li>Cheese grater</li>
<li>Cutting board or wood/Boos block</li>
<li>Rolling pin/wine bottle</li>
<li>Bench scraper/knife</li>
<li>Cookie sheet and non-stick sheet</li>
<li>Brush for oil</li>
<li>Oven</li>
</ul>
<h2>Instructions</h2>
<ol>
<li>Preheat oven to 450°.</li>
<li>Mix <strong>alt milk</strong> and <strong>vinegar</strong> to make a pseudo-buttermilk. Set aside.</li>
<li>Mix and whisk <strong>all dry ingredients</strong>.</li>
<li>Grate your <strong>chilled butter</strong> into little chunks on top of your <strong>dry ingredients</strong>. Once it is all grated, mix together with your hands until it is fully combined and as small of pieces as possible. Do it as quickly as you can, so that the <strong>butter</strong> doesn't melt, think pie crust making.</li>
<li>Make a well and pour in the <strong>&quot;buttermilk&quot;</strong> <em>only 1/4 cup at a time</em> (you may not need it all, especially if you have upped the amount of <strong>butter</strong>) and mix it until just combined. The goal we want is &quot;slightly tacky but moldable dough&quot;[1].</li>
<li>Turn the dough onto your floured cutting board/wood block. Dust the top with some flour and then fold the dough over itself 5-6 times.</li>
<li>Roll the dough out into a rectangle-ish shape with your rolling pin/wine bottle. Use your knife or bench scraper to try and make it close to a rectangle at the end so you have even sized biscuits.</li>
<li>Cut the dough into 8 equal sized biscuits and place <em>right</em> next to each other on the cookie sheet. Push your fingers into the top of the biscuits lightly (to help manage the oven spring), and then brush some <strong>olive oil</strong> on top.</li>
<li>Put in the oven for 10-15 minutes or until golden brown.</li>
<li>Eat with some mushroom gravy[2].</li>
</ol>
<h2>References</h2>
<ol>
<li><a href="https://minimalistbaker.com/the-best-damn-vegan-biscuits/" target="_blank">https://minimalistbaker.com/the-best-damn-vegan-biscuits/</a></li>
<li><a href="https://minimalistbaker.com/vegan-biscuits-and-gravy/" target="_blank">https://minimalistbaker.com/vegan-biscuits-and-gravy/</a></li>
</ol>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
