<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Calibre is an open source ebook manager and library."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Calibre</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Calibre</h1><p>Calibre is an open source ebook manager and library.</p>
<h2>Convert Webpages To Ebooks</h2>
<p>You can convert downloaded webpages to ebooks in Calibre by downloading the page, putting the HTML and its contents in a zip file, adding it to Calibre, and then converting it to whatever format you like. This can also be done with many different types of in/out combinations[2] in the command line[3], if you want to make a script[4] for this.</p>
<h2>References</h2>
<ol>
<li><a href="https://calibre-ebook.com/" target="_blank">https://calibre-ebook.com/</a></li>
<li><a href="https://manual.calibre-ebook.com/generated/en/ebook-convert.html" target="_blank">https://manual.calibre-ebook.com/generated/en/ebook-convert.html</a></li>
<li><a href="https://ebooks.stackexchange.com/questions/2/how-can-i-convert-an-html-site-into-an-ebook#comment5348_6285" target="_blank">https://ebooks.stackexchange.com/questions/2/how-can-i-convert-an-html-site-into-an-ebook#comment5348_6285</a></li>
<li><a href="https://github.com/milofultz/sub2pub" target="_blank">https://github.com/milofultz/sub2pub</a></li>
</ol>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
