<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="The Canvas API provides a means for drawing graphics via JavaScript and the HTML canvas element."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Canvas</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Canvas</h1><p>The Canvas API provides a means for drawing graphics via <a href="javascript.html">JavaScript</a> and the <a href="html.html">HTML</a> <code>&lt;canvas&gt;</code> element.</p>
<h2>Initialization</h2>
<p>To start using the canvas, put the canvas element in your webpage HTML, along with a width or height in pixels. Fallback content goes in between the opening and closing tag.</p>
<pre><code class="language-html">&lt;canvas id=&quot;canvas-name&quot; width=&quot;150&quot; height=&quot;150&quot;&gt;&lt;/canvas&gt;
</code></pre>
<p>The canvas is initially blank and then needs to be accessed, with the new context assigned to a variable. This variable will become the way to draw on the canvas.</p>
<pre><code class="language-javascript">var canvas = document.getElementById(&#x27;canvas-name&#x27;);
var ctx = canvas.getContext(&#x27;2d&#x27;);
</code></pre>
<h2>Drawing</h2>
<p>Canvas only supports rectangles and paths.</p>
<h3>Rectangles</h3>
<pre><code class="language-javascript">ctx.fillRect(x, y, width, height)   // Draws a filled rectangle.
ctx.strokeRect(x, y, width, height) // Draws a rectangular outline.
ctx.clearRect(x, y, width, height)  // Clears the specified rectangular area, making it fully transparent. 
</code></pre>
<h3>Paths</h3>
<p><a href="https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D#paths" target="_blank">From MDN</a>:</p>
<p>A path is a list of points, connected by segments of lines that can be of different shapes, curved or not, of different width and of different color. A path, or even a subpath, can be closed. To make shapes using paths, we take some extra steps:</p>
<ol>
<li>First, you create the path with <code>beginPath()</code></li>
<li>Then you use drawing commands to draw into the path</li>
<li>Once the path has been created, you can stroke or fill the path to render it with <code>closePath()</code></li>
</ol>
<pre><code class="language-javascript">ctx.beginPath() // Creates a new path. Once created, future drawing commands are directed into the path and used to build the path up.
ctx.closePath() // Adds a straight line to the path, going to the start of the current sub-path.
ctx.stroke()    // Draws the shape by stroking its outline.
ctx.fill()      // Draws a solid shape by filling the path&#x27;s content area. 
</code></pre>
<h4>Path Methods</h4>
<p><code>moveTo(x,y)</code> <strong>moves the pen without recording it as a path</strong> to be drawn or filled.</p>
<p><code>lineTo(x,y)</code> should be used to draw <strong>straight lines</strong>.</p>
<p><code>arc(x, y, radius, startAngle, anticlockwise)</code> will draw an <strong>arc centered at x, y</strong>.</p>
<p><code>arcTo()</code> is often used to make rounded corners <a href="https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/arcTo" target="_blank">https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/arcTo</a></p>
<p><code>quadraticCurveTo(cp1x, cp1y, x, y)</code> and <code>bezierCurveTo(cp1x, cp1y, cp2x, cp2y, x, y)</code> are also good for [rounded shapes](<a href="https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D#paths" target="_blank">https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D#paths</a>. </p>
<h2>References</h2>
<ul>
<li><a href="https://webglfundamentals.org/webgl/lessons/webgl-anti-patterns.html" target="_blank">https://webglfundamentals.org/webgl/lessons/webgl-anti-patterns.html</a></li>
</ul>
<p class="last-modified">Last modified: 202206101419</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
