<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Case styles are how one names variables, class names, etc. in code. Normally pertains to capitalization, spaces, and special characters."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Case Styles</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Case Styles</h1><p>Case styles are how one names variables, class names, etc. in code. Normally pertains to capitalization, spaces, and special characters.</p>
<h2>Types</h2>
<table>
<thead>
<tr>
<th>Name</th>
<th>Capitalization</th>
<th>Spaces</th>
<th>Example</th>
</tr>
</thead>
<tbody>
<tr>
<td>Camel Case</td>
<td>lowercase first letter with all following words capitalized</td>
<td>none</td>
<td><code>thisIDIs64Bit</code></td>
</tr>
<tr>
<td>Kebab Case</td>
<td>all words lowercase</td>
<td>hyphens</td>
<td><code>this-id-is-64-bit</code></td>
</tr>
<tr>
<td>Pascal Case</td>
<td>all words capitalized</td>
<td>none</td>
<td><code>ThisIDIs64Bit</code></td>
</tr>
<tr>
<td>Snake Case</td>
<td>all words lowercase, except proper nouns and acronyms</td>
<td>underscore</td>
<td><code>this_ID_is_64_bit</code></td>
</tr>
</tbody></table><section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="eslint.html">ESLint</a></li></ul></details></section><p class="last-modified">Last modified: 202206101419</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
