<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Cell phones, once merely a tool for verbal communication, are rapidly moving towards personal computers."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Cell Phones</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Cell Phones</h1><p>The role of a cell phone has moved swiftly from a communication device in the strict sense of calls and texts, into a personal computer that also can make phone calls.</p>
<h3>Dumb Phones</h3>
<p>Dumb phones, or feature phones, are the phones that remove the personal computer aspect from the cell phone, often stripping down to only the basics:</p>
<ul>
<li>Calls</li>
<li>Texts</li>
<li>Calendar</li>
<li>Alarm clock</li>
<li>If internet, <a href="https://en.wikipedia.org/wiki/Opera_Mini" target="_blank">Opera Mini</a></li>
</ul>
<p>Unfortunately, finding a dumb phone that is actually supported by a provider like Verizon that isn't complete trash is very difficult, as the majority of phone users aren't interested in the dumb phone experience. Here I'll try and list any I've found for CDMA carriers like Verizon. (NOTE: <a href="https://www.verizon.com/support/knowledge-base-218813/" target="_blank">Verizon is looking to retire CDMA at latest by end of December 2022</a>, so there is hope)</p>
<table>
<thead>
<tr>
<th>Phone</th>
<th>CDMA</th>
<th>GSM</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="https://www.verizon.com/basic-phones/dura-xv-extreme/" target="_blank">Kyocera DuraXV Extreme</a></td>
<td>x</td>
<td>?</td>
</tr>
<tr>
<td><a href="https://mudita.com/store/mudita-pure-minimalist-phone/" target="_blank">Mudita</a> (<a href="https://support.mudita.com/support/solutions/articles/77000499047-will-pure-work-on-at-t-and-verizon-usa-" target="_blank">with caveats</a>)</td>
<td>x</td>
<td>x</td>
</tr>
<tr>
<td><a href="https://www.thelightphone.com/" target="_blank">Light Phone</a></td>
<td>x</td>
<td>x</td>
</tr>
</tbody></table><h2>References</h2>
<ol>
<li><a href="https://www.verizon.com/basic-phones/dura-xv-extreme/" target="_blank">https://www.verizon.com/basic-phones/dura-xv-extreme/</a></li>
<li><a href="https://mudita.com/store/mudita-pure-minimalist-phone/" target="_blank">https://mudita.com/store/mudita-pure-minimalist-phone/</a></li>
<li><a href="https://www.thelightphone.com/" target="_blank">https://www.thelightphone.com/</a></li>
<li><a href="https://www.verizon.com/support/knowledge-base-218813/" target="_blank">https://www.verizon.com/support/knowledge-base-218813/</a></li>
</ol>
<p class="last-modified">Last modified: 202206101419</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
