<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Making webpages that rely only on the semantic HTML benefits the users and developers alike."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Classless CSS</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Classless CSS</h1><p>Making websites that are 100% reliant on the basic HTML elements leads to resilient websites that don't tangle themselves too deeply with many-to-many issues of class-based styling. By designing websites to be classless as early as possible, you are deferring as much work as possible on the browser, which makes your life much easier once you need to customize.</p>
<h2>References</h2>
<ol>
<li><a href="https://github.com/dbohdan/classless-css" target="_blank">https://github.com/dbohdan/classless-css</a></li>
<li><a href="https://mblode.github.io/marx/" target="_blank">https://mblode.github.io/marx/</a></li>
<li><a href="https://github.com/dohliam/dropin-minimal-css" target="_blank">https://github.com/dohliam/dropin-minimal-css</a></li>
<li><a href="https://github.com/kevquirk/simple.css" target="_blank">https://github.com/kevquirk/simple.css</a></li>
<li><a href="https://oxal.org/projects/sakura/" target="_blank">https://oxal.org/projects/sakura/</a></li>
<li><a href="https://github.com/andybrewer/mvp" target="_blank">https://github.com/andybrewer/mvp</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="minimalist-css.html">Minimalist CSS</a></li><li><a href="minimum-viable-product.html">Minimum Viable Product</a></li><li><a href="web-development-resources.html">Web Development Resources</a></li></ul></details></section><p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
