<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Creating terminal applications in C often relies on command line arguments."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Command Line Arguments in C</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Command Line Arguments in C</h1><p>Creating terminal applications in <a href="c.html">C</a> often relies on command line arguments.</p>
<h2>Arguments</h2>
<p>The main function of a C program takes in two arguments to handle command line arguments:</p>
<pre><code class="language-c">int main (int argc, char *argv[])
{
  ...
}
</code></pre>
<p><code>argc</code> is the number (<strong>c</strong>ount) of arguments provided, including the executable name. <code>argv</code> is the array of arguments, with item 0 being the name of the executable.</p>
<h2>Example</h2>
<p>This example uses <a href="curses.html">ncurses</a>. It should print out all arguments you provide beyond the executable and wait for user entry before exiting.</p>
<p><strong>showargs.c</strong></p>
<pre><code class="language-c">#include &lt;string.h&gt;
#include &lt;ncurses.h&gt;

int main (int argc, char *argv[])
{
    char task[255];

    initscr();

    if (argc == 1)
    {
        addstr(&quot;No arguments provided.&quot;);
        getch();

        endwin();
        return 0;
    }
    else
    {
        strcpy(task, argv[1]);

        for (int i = 2; i &lt; argc; i++)
        {
          strcat(task, &quot; &quot;);
          strcat(task, argv[i]);
        }
        printw(&quot;%s&quot;, task);
        getch();

        endwin();
        return 0;
    }
}
</code></pre>
<p><strong>Compilation</strong></p>
<pre><code class="language-bash">$ gcc -lncurses showargs.c -o showargs
</code></pre>
<p><strong>Executing</strong></p>
<pre><code class="language-bash">$ ./showargs You can print all of these out
# Will display &quot;You can print all of these out&quot;
</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://duckduckgo.com/?t=ffab&amp;q=argc+argv+c&amp;ia=web" target="_blank">https://duckduckgo.com/?t=ffab&amp;q=argc+argv+c&amp;ia=web</a></li>
<li><a href="https://stackoverflow.com/questions/7174216/how-can-i-concatenate-arguments-in-to-a-string-in-c" target="_blank">https://stackoverflow.com/questions/7174216/how-can-i-concatenate-arguments-in-to-a-string-in-c</a></li>
</ol>
<p class="last-modified">Last modified: 202206101419</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
