<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="These are some common SQL queries that come up."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Common SQL Queries</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Common SQL Queries</h1><p>These are some common <a href="sql.html">SQL</a> queries that come up. All <code>?</code> symbols represent a place where you would dynamically insert info, like with Node's <a href="mysql.html">MySQL</a> module.</p>
<h2>Retrieval</h2>
<p>Get the info from all rows with a given email</p>
<pre><code class="language-mysql">SELECT * FROM example_table
  WHERE email = ?;
</code></pre>
<p><a href="https://learnsql.com/blog/how-to-find-duplicate-values-in-sql/" target="_blank" title="Finding duplicate values in SQL">See if more than one entry exists with a given email</a></p>
<pre><code class="language-mysql">SELECT email, COUNT(email) 
  FROM example_table
  GROUP BY email
  HAVING COUNT(email) &gt; 1;
</code></pre>
<h2>References</h2>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="sql.html">SQL</a></li></ul></details></section><p class="last-modified">Last modified: 202206101419</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
