<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Competitive programming is a tool used (erroneously) by many employers to test whether you are good at programming."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Competitive Programming</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Competitive Programming</h1><p>Competitive programming is a tool used (erroneously) by many employers to test whether you are good at programming. However, this doesn't mean that working on and solving those problems isn't <a href="programming.html">fun</a>.</p>
<p>Working on these problems will elucidate the faults in your <a href="pi-at-pc-framework.html">schemas</a> for <a href="problem-solving.html">problem solving</a>, and create recognizable mental models that you can draw parallels to when solving novel problems.</p>
<h2>Best Practices</h2>
<ul>
<li>The most important part of these challenges is <strong>solving the problem</strong>. Start off by solving it, and then optimize.</li>
<li>Hashmaps and binary search are usually a safe bet.</li>
</ul>
<h2>References</h2>
<ol>
<li><a href="https://yewtu.be/channel/UC_mYaQAE6-71rjSN6CeCA-g" target="_blank">https://yewtu.be/channel/UC_mYaQAE6-71rjSN6CeCA-g</a></li>
<li><a href="https://neetcode.io/" target="_blank">https://neetcode.io/</a></li>
<li><a href="https://seanprashad.com/leetcode-patterns/" target="_blank">https://seanprashad.com/leetcode-patterns/</a></li>
<li><a href="https://leetcode.com" target="_blank">https://leetcode.com</a></li>
<li><a href="https://www.codewars.com/" target="_blank">https://www.codewars.com/</a></li>
<li><a href="https://projecteuler.net/" target="_blank">https://projecteuler.net/</a></li>
<li><a href="https://adventofcode.com/" target="_blank">https://adventofcode.com/</a></li>
</ol>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
