<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Cordage is created out of plant matter and can be used to make rope, clothing, tools, etc."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Cordage</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Cordage</h1><h2>References</h2>
<ol>
<li><a href="https://yewtu.be/watch?v=3SJdWjSEN6g" target="_blank">https://yewtu.be/watch?v=3SJdWjSEN6g</a></li>
<li><a href="https://yewtu.be/watch?v=62PvfIR0xDg" target="_blank">Simple Cordage Instructions</a></li>
<li><a href="https://yewtu.be/watch?app=desktop&amp;v=Tss2m6SbjTA" target="_blank">From nettles</a></li>
</ol>
<p class="last-modified">Last modified: 202212070116</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
