<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Monitoring your credit score and protecting your credit is easy and free."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Credit Monitoring</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Credit Monitoring</h1><h2>Credit Protection</h2>
<p>Monitoring and protecting your credit activity is a good way to help ensure (but not guarantee) you don't end up with credit cards or accounts taken out in your name, or similar scams. There are two types of protections that you can take, both needing to be done with the big three credit bureaus: Experian, Transunion, and Equifax.</p>
<p>Unfortunately, a good reason why you should do these regularly is that agencies like the big three have data breaches[5] and generally don't seem to care too much about security in a meaningful way. So bad actors exist, but these guys aren't helping either, so adding the extra protection can at least make you a less easy target.</p>
<h3>Fraud Alerts</h3>
<p>A fraud alert &quot;is free and notifies creditors to take extra steps to verify your identity before extending credit&quot;[2]. This needs to be redone every year, but is largely painless, save for filling out annoying forms.</p>
<p>There is also an extended fraud alert, that is much more dire and requires certain criteria to be placed before it can be used.</p>
<blockquote>
<p>It requires a copy of a valid police or law enforcement agency report, or a Federal Trade Commission Identity Theft Report, and lasts for 7 years. With an extended fraud alert, a lender or creditor is required to verify your identity in person or by phone at a number you provide before opening new accounts or making changes to existing accounts.[3]</p>
</blockquote>
<p>You can sign up for fraud alerts at the links below[1-3].</p>
<h3>Credit Freezes[4]</h3>
<p>Credit freezes are a last resort to totally lock down your credit. You won't be able to open <strong>anything</strong> with your credit, so especially if you are considering getting a house or opening a new credit line, be very careful. It's not easy to just open and close.</p>
<h2>Credit Scores</h2>
<p>You can get a free credit report from the federally run site[6]. Other places let you check for a fee, but I generally try and stay away from those because I sense too many strings attached.</p>
<h2>References</h2>
<ol>
<li><a href="https://www.experian.com/fraud/center.html" target="_blank">https://www.experian.com/fraud/center.html</a></li>
<li><a href="https://www.transunion.com/fraud-alerts" target="_blank">https://www.transunion.com/fraud-alerts</a></li>
<li><a href="https://www.equifax.com/personal/credit-report-services/credit-fraud-alerts/" target="_blank">https://www.equifax.com/personal/credit-report-services/credit-fraud-alerts/</a></li>
<li><a href="https://www.equifax.com/personal/credit-report-services/credit-freeze/" target="_blank">https://www.equifax.com/personal/credit-report-services/credit-freeze/</a></li>
<li><a href="https://en.wikipedia.org/wiki/2017_Equifax_data_breach" target="_blank">https://en.wikipedia.org/wiki/2017_Equifax_data_breach</a></li>
<li><a href="https://www.annualcreditreport.com/index.action" target="_blank">https://www.annualcreditreport.com/index.action</a></li>
</ol>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
