<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content=""><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Curiosity</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Curiosity</h1><ul>
<li>You don't have to spend money to have fun</li>
<li>Learn from kids</li>
<li>What can you do with what you already have in your house?</li>
<li>Can this be a game?</li>
<li>Can you do nothing?</li>
<li>Where did the thing you are wearing come from? What is it made out of? Where did <em>that</em> come from?</li>
<li>You don't have to go to a store or a restaurant</li>
<li>Be active, or don't</li>
</ul>
<h2>References</h2>
<ol>
<li><a href="https://www.theguardian.com/commentisfree/2022/aug/17/england-public-trespassing-reclaim-our-countryside" target="_blank">https://www.theguardian.com/commentisfree/2022/aug/17/england-public-trespassing-reclaim-our-countryside</a></li>
<li><a href="https://matt-rickard.com/list-of-all-oblique-strategies" target="_blank">https://matt-rickard.com/list-of-all-oblique-strategies</a></li>
</ol>
<p class="last-modified">Last modified: 202212151625</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
