<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Docker is a way to normalize and simplify deployment of software."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Docker</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Docker</h1><p>Docker is a way to normalize and simplify deployment of software.</p>
<h2>Glossary</h2>
<table>
<thead>
<tr>
<th>Word</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>Daemon (<code>dockerd</code>)</td>
<td>Listens for API requests and manages docker objects.</td>
</tr>
<tr>
<td>Client (<code>docker</code>)</td>
<td>CLI, how most users interact with Docker.</td>
</tr>
<tr>
<td>Desktop</td>
<td>A GUI that makes building and sharing images easier.</td>
</tr>
<tr>
<td>Image</td>
<td>A read-only configuration that can be deployed onto a machine running Docker.</td>
</tr>
<tr>
<td>Registry</td>
<td>A place to store Docker images. Docker Hub is a public registry.</td>
</tr>
<tr>
<td>Container</td>
<td>A runnable version of an image.</td>
</tr>
</tbody></table><blockquote>
<p>Shamelessly taken from <a href="https://gist.github.com/NylonEric/372516f2fe3c9f708d20e7e2f77007cb#file-2021-06-23-md" target="_blank">Eric Pearson/@nyloneric</a>, as I haven't documented my own process yet.</p>
</blockquote>
<h2>Create a Container</h2>
<p>Make the thing: <a href="https://flaviocopes.com/docker-node-container-example/" target="_blank">https://flaviocopes.com/docker-node-container-example/</a></p>
<p><a href="https://flaviocopes.com/docker-node-container-example/" target="_blank">Create a simple Node.js Hello World Docker Container from scratch</a></p>
<p>You will run into errors, so:</p>
<ul>
<li>
<code>=&gt; [internal] load metadata for ``docker.io/library/node:14</code><ul>
<li>Solved with: <code>sudo DOCKER_BUILDKIT=0 docker build . -t user/node-web-app</code></li>
<li>discussion: <a href="https://stackoverflow.com/questions/64221861/failed-to-resolve-with-frontend-dockerfile-v0" target="_blank">https://stackoverflow.com/questions/64221861/failed-to-resolve-with-frontend-dockerfile-v0</a></li>
</ul>
</li>
<li>
<a href="https://stackoverflow.com/questions/64221861/failed-to-resolve-with-frontend-dockerfile-v0" target="_blank">Failed To Resolve With FrontEnd DockerFIle.v0</a><ul>
<li>more details about docker file: <a href="https://nodejs.org/en/docs/guides/nodejs-docker-webapp/enter" target="_blank">https://nodejs.org/en/docs/guides/nodejs-docker-webapp/enter</a></li>
</ul>
</li>
</ul>
<p>Container: <code>docker exec -it &lt;container id&gt; /bin/bash``docker run -p 49160:8080 -d &lt;your username&gt;/node-web-app</code></p>
<p><a href="https://hub.docker.com/signup" target="_blank">Docker Hub</a>
<a href="https://nodejs.org/en/docs/guides/nodejs-docker-webapp/" target="_blank">Dockerizing a Node.js web app | Node.js</a>
I also really like <a href="https://www.youtube.com/watch?v=pTFZFxd4hOI" target="_blank">Mosh Hamadani tutorials</a></p>
<h2>Make a dockerfile</h2>
<pre><code class="language-dockerfile">FROM node:14

COPY package*.json ./
COPY tsconfig.json ./
COPY yarn.lock ./

RUN yarn install

COPY . .

RUN yarn build

EXPOSE 3000

CMD [&quot;yarn&quot;, &quot;start&quot;]
</code></pre>
<h2>Build</h2>
<pre><code class="language-bash">$ docker build -t NAME .
</code></pre>
<h2>Run</h2>
<pre><code class="language-bash">$ docker run -dp 3000:3000 NAME
</code></pre>
<p>The package should now be available on your local machine</p>
<h2>References</h2>
<ol>
<li><a href="https://www.freecodecamp.org/news/the-docker-handbook/" target="_blank">https://www.freecodecamp.org/news/the-docker-handbook/</a></li>
<li><a href="https://docs.docker.com/get-started/overview/" target="_blank">https://docs.docker.com/get-started/overview/</a></li>
<li><a href="https://scribe.rip/swlh/what-exactly-is-docker-1dd62e1fde38" target="_blank">https://scribe.rip/swlh/what-exactly-is-docker-1dd62e1fde38</a></li>
</ol>
<p class="last-modified">Last modified: 202212221655</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
