<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content=""><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Don't Be A Jerk</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Don't Be A Jerk</h1><p>It's better to be someone who is easy to work with but doesn't know enough than someone who knows it all but is awful to work with. You can teach knowledge, usually can't teach kindness.</p>
<blockquote>
<p>Some years back I applied to join IBM's grad scheme, there was a  peculiar stage to the process I've not seen elsewhere. It was during the onsite day, where a batch of 20 or so applicants were put through  various tests in an IBM office. They called it the &quot;group test&quot;; around 8 of us were led to a room and asked to solve a puzzle together. Each of  us was given an information pack, there was a white board, and a timer  ticking down from 60 minutes. At first there was silence as we looked at our packs, then the first voice: &quot;Let's pool our information&quot;, someone  stands up by the whiteboard, grasping a marker. Silence, it's not clear  how this information should be parsed. One person starts reading theirs  out word for word. This is not going to scale. Someone interrupts.  Before long the whiteboard leader has been deposed and another is  wielding the marker.  Then another fights for control. The 60 minutes  has run out, the puzzle is unsolved. Confused and drained we head off to the next test.</p>
<p>At the end of the day the group is split into two rooms, my room is  given the good news and I go on to join the grad scheme. Six months  later I am shadowing a colleague who is running the &quot;group test&quot;. I  asked him if he'd ever seen a group complete the test? &quot;Oh, it's not  about that, this is an asshole test. You see who turns into an asshole  under pressure and they don't make it to the next round&quot;. -- johnpublic[1]</p>
</blockquote>
<h2>References</h2>
<ol>
<li><a href="https://johnpublic.mataroa.blog/blog/the-asshole-test/" target="_blank">https://johnpublic.mataroa.blog/blog/the-asshole-test/</a></li>
</ol>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
