<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Drywall is often used in walls and ceilings."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Drywall</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Drywall</h1><h2>Removing Drywall</h2>
<h3>Equipment Needed</h3>
<ul>
<li>Drywall saw</li>
<li>Razor knife</li>
<li>Electrical tape</li>
<li>Pry bar</li>
<li>Hammer</li>
<li>Magnet for finding screws</li>
<li>Some kind of straight edge for marking (e.g. a level)</li>
<li>
PPE<ul>
<li>Goggles</li>
<li>Particulate masks (N95 or similar)</li>
<li>Gloves</li>
</ul>
</li>
</ul>
<h3>Safety/Protection</h3>
<p>Before you start, make sure you don't hurt yourself or the elements around it (ceiling panels, floor boards, etc.)</p>
<ol>
<li>Check for electrical (via receptacles in the wall, lights, etc.). If there is some, flip the breaker off for those fixtures to ensure your own protection.</li>
<li>Check for plumbing the same way (via sinks, etc.). This is more difficult, as there may be pipes in the wall that you don't know about, but do your best. Safe bet is to just turn off your water.</li>
<li>Remove all fixture covers, like light switch covers, socket covers, vent grills, light covers, etc.</li>
<li>If necessary, remove the fixtures themselves. Most electrical sockets and the like will have screws keeping them in and have the wiring connected using twist caps. Unscrew these and untwist the caps, covering the wire ends with electrical tape.</li>
<li>Remove any baseboards and moulding. On manufactured homes, this is everywhere; the ceiling, the floor, sometimes down the wall to cover up where the drywall panels meet. Use a prybar to get them off.</li>
<li>Use a razor knife to score multiple times along the corner where the drywall meets the ceiling. There is a paper bead that if left uncut could rip off parts of your ceiling.</li>
</ol>
<h3>Wall Removal</h3>
<p>The goal here is to make a cut horizontally from one end of your wall to the other, to make removal easier.</p>
<ol>
<li>Use a stud finder to mark where your studs are. This will save you from accidentally cutting into them, but also make it easy to judge where to start/stop.</li>
<li>Find a spot in your drywall where you <em>know</em> there won't be an obstacle (electric, stud, etc.). Push the drywall saw through the wall wherever you are looking to remove and cut horizontally until you reach the stud (your angle should be slight, certainly not perpendicular to the wall; too obtuse an angle and you may cut wiring/plumbing).</li>
<li>When reaching the stud, adjust your angle until it is almost flat and cut the drywall while avoiding the stud.</li>
<li>Once past the stud, return to the original angle and continue. <em>Stay vigilant on avoiding electric and plumbing!</em></li>
<li>When you reach the corner, your corner studs will likely have a metal bead running along it. Stop before you hit that, as it will definitely dull your blade.</li>
<li>If your pieces are up high, you will want to repeat the previous steps but vertically, to cut the pieces into manageable chunks. Make sure you don't get absolutely slapped by a huge piece of drywall coming at you.</li>
<li>With your pry bar, find a spot between the studs and put the pry bar in the cut you made. Using either that or the claw of your hammer, pull back on the dry wall to separate it from the studs. Adhesive, nails, or screws could be holding it on, and we want to remove or loosen those as best we can.</li>
<li>Once the sheet has been loosened, you should be able to use your hands to pull back on the sheet, hopefully getting the whole sheet out at once. It'll probably break off in chunks, but do your best.</li>
</ol>
<!-- ### Ceiling Removal -->
<!-- 1. Use a stud finder to mark where your roof beams are. This will save you from accidentally cutting into them, but also make it easy to judge where to start/stop. -->
<!-- 1. Using a magnet, mark where the screws are located. This should show where the drywall sheets are joined together. Mark from one end of the ceiling to the other where the sheet edges are. -->
<!-- 1. --> 
<h2>References</h2>
<ol>
<li><a href="https://yewtu.be/watch?v=_SNgBjdf8d0" target="_blank">How To Remove Drywall from a Wall</a></li>
<li><a href="https://www.youtube.com/watch?v=ghlwGKezAVE" target="_blank">Cutting Out Drywall Ceiling from Roof Leak Step by Step</a></li>
</ol>
<p class="last-modified">Last modified: 202308251546</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
