<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Electrical components are the parts that make up modern electric circuits."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Electrical Components</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Electrical Components</h1><h2>Diode</h2>
<p>A diode is a component that allows <a href="core-concepts-of-electricity.html">current</a> to flow in one direction only. The symbol used for a diode is usually like this with a solid triangle: <code>--&gt;|--</code>.</p>
<p>Diodes have two parts: an <em>anode</em> and a <em>cathode</em>. The anode is what precedes the (directional) diode (the triangle in schematics) and the cathode is what succeeds it (the bar in schematics).</p>
<p>When a forward bias is applied (positive on the anode, negative on the cathode), the current will flow. There is a forward voltage drop that occurs, and it varies by diode.</p>
<p>Rectifiers are diodes designed to handle large currents, used often in power supplies to convert AC into varying DC.</p>
<h2>Transistor[1]</h2>
<p>A transistor is a component that controls the amount of current that flows through one terminal by current or voltage applied to another terminal. Transistors exhibit gain, so are often used as amplifiers.</p>
<h3>BJT</h3>
<p>A common transistor is a bipolar junction transistor. It has three terminals: a base, a collector, and an emitter. The base acts as the input, and when voltage is applied to it, a small amount of current flows through the base-emitter junction (this is usually preceded by a resistor, to protect the transistor from burning out). This allows the emitter-collector current to flow. A transistor, in this case, is effectively a single-pole single-throw switch, allowing current to flow only when voltage is applied at the base.</p>
<h3>FET</h3>
<p>A field-effect transistor operates similarly to the BJT, but has differently named terminals and a slightly different way of operating. The terminals used are  gate, drain, and source. Instead of <em>current</em> across the <em>base</em> to allow the <em>emitter-collector</em> current to flow, it uses <em>voltage</em> across the <em>gate</em> to allow the <em>source-drain</em> current to flow.</p>
<h2>Relay</h2>
<p>A relay is an electrically operated switch. Early relays were operated by an electromagnet, but are now solid-state with semiconductors.</p>
<h2>References</h2>
<ol>
<li><a href="https://yewtu.be/watch?v=YtM_MnM0qT4" target="_blank">https://yewtu.be/watch?v=YtM_MnM0qT4</a></li>
</ol>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
