<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="fc allows you to open a temporary file and execute what's written in the shell."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - fc</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">fc</h1><p>fc allows you to open a temporary file in your default editor and execute what's written in the <a href="shell.html">shell</a>.</p>
<h2>Usage</h2>
<p>Running <code>fc</code> by itself will load up your editor with the last executed command. On exit, it will execute the contents within that shell.</p>
<p>Using the <code>-l [start] [end]</code> option lists the history of recent commands executed from start to end. Without any start or end parameters, it will list the last 15 commands executed.</p>
<h2>References</h2>
<ol>
<li><a href="https://www.unix.com/man-page/linux/1/fc/" target="_blank">https://www.unix.com/man-page/linux/1/fc/</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="shell.html">Shell</a></li></ul></details></section><p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
