<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Flask helps build web applications and handle HTTP requests in Python."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Flask</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Flask</h1><p>Flask helps build web applications and handle HTTP requests in <a href="python.html">Python</a>.</p>
<h2>Quick Start[1]</h2>
<p>Create a new <a href="virtual-environments-python.html">virtual environment</a> in your project folder and <code>pip3 install flask</code>.</p>
<p>In your project, make a new file called <code>app.py</code> and add this:</p>
<pre><code class="language-python">from flask import Flask

# Instantiate the application based on this file
app = Flask(__name__)

# Decorator used to handle HTTP requests (GET by default)
# When a user goes to the root of the web page,
@app.route(&quot;/&quot;)
# Execute the following function
def hello_world():
    # Return the following webpage to the user
    return &quot;&lt;p&gt;Hello, World!&lt;/p&gt;&quot;
</code></pre>
<p>In the project folder, you should now be able to <code>flask run</code>, which will create a development server at localhost. Go to the listed address and check if your Hellow World app is up.</p>
<h2>References</h2>
<ol>
<li><a href="https://flask.palletsprojects.com/en/2.1.x/quickstart/" target="_blank">https://flask.palletsprojects.com/en/2.1.x/quickstart/</a></li>
</ol>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
