<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Focaccia is a light lean bread that benefits from good olive oil."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Focaccia</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Focaccia</h1><p>This recipe is from <a href="https://www.saltfatacidheat.com/fat/ligurian-focaccia" target="_blank">Salt Fat Acid Heat</a> and I make it all the time. This benefits from using GOOD olive oil, but it's not necessary.</p>
<h2>Ingredients</h2>
<p>For dough:</p>
<ul>
<li>600g/2.5 cups <strong><a href="water.html">water</a></strong></li>
<li>.5 tsp <strong><a href="yeast.html">yeast</a></strong></li>
<li>15g/2.5 tsp <strong><a href="honey.html">honey</a></strong></li>
<li>800g/5.33 cups <strong>all-purpose <a href="flour.html">flour</a></strong></li>
<li>18g/2 Tbsp <strong><a href="salt.html">salt</a></strong>, plus some for finishing</li>
<li>50g/0.25 cup <strong>extra-virgin <a href="olive-oil.html">olive oil</a></strong>, plus ~1/2 cup for pan and finishing</li>
</ul>
<p>For the brine:</p>
<ul>
<li>5g/1.5 tsp <strong>salt</strong></li>
<li>80g/0.33 cup <strong>water</strong></li>
</ul>
<h2>Cookware</h2>
<ul>
<li>Mixing bowl or square Cambro-type container</li>
<li>Cover for mixing bowl/container (plastic bag or lid to fit)</li>
<li>Spatula</li>
<li>Cookie sheet, rimmed</li>
<li>Baking stone (opt.)</li>
<li>Cooling rack, or somewhere the bread can breathe after baking</li>
</ul>
<h2>Instructions</h2>
<p>It is recommended to start this around 6am or 6pm, as the resting period will leave you doing much of the baking 12-14 hours later.</p>
<ol>
<li>Mix the <strong>water</strong> and <strong>honey</strong> until combined. Add <strong>yeast</strong> and combine.</li>
<li>Whisk/combine <strong>flour</strong> and <strong>salt</strong>. Add <strong>yeast mixture</strong> and <strong>olive oil</strong> to <strong>flour</strong>/<strong>salt</strong> and stir until just incorporated.</li>
<li>Cover and let rest 12ish hours.</li>
<li>Spread 2-3 Tbsp <strong>olive oil</strong> evenly on a cookie sheet. Fold your dough on top of itself, and then release the dough from your mixing bowl or container onto the cookie sheet.</li>
<li>Pour another ~2 Tbsp <strong>olive oil</strong> on top of the dough and spread it edge to edge (reach underneath the dough and pull outward). Let rest for ten minutes and repeat this process, and again ten minutes after that.</li>
<li>Once stretched thoroughly, dimple the dough using your fingers at an angle.</li>
<li>Mix the <strong>salt</strong> and <strong>water</strong> for the brine together and pour it over the dough to fill the dimples.</li>
<li>Let focaccia proof for 45 minutes. Preheat oven with baking stone to 450°F/235°C.</li>
<li>Sprinkle focaccia with more <strong>salt</strong>, and then bake for 25-30 minutes on top of baking stone. The bread is complete when the bottom crust is crisp and golden brown when checked with a metal spatula.</li>
<li>Remove from oven and brush with 2-3 Tbsp more <strong>olive oil</strong>. Let cool for 5 minutes and then release focaccia from the cookie sheet to place on cooling rack.</li>
</ol>
<h2>References</h2>
<ol>
<li><a href="https://www.saltfatacidheat.com/fat/ligurian-focaccia" target="_blank">https://www.saltfatacidheat.com/fat/ligurian-focaccia</a></li>
</ol>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
