<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content=""><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Functions (C)</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Functions (C)</h1><h2>Basics</h2>
<p>Here is the structure of a function definition in <a href="c.html">C</a>.</p>
<pre><code class="language-c">/*
return-type function-name(parameter declarations, if any)
{
  declarations
  statements
}
*/

// An example

int add(int m, int n)
{
  int sum;
  sum = m + n;
  return sum;
}
</code></pre>
<h3>Passing Arguments by Value and by Reference[2]</h3>
<p>Basic rule of thumb, I think, is that if you pass in a value directly into a function, it will make a <em>copy</em> and use or modify the given value or variable; if you pass in a reference, it will use or modify the actual variable itself. For example:</p>
<pre><code class="language-c">#include &lt;stdio.h&gt;

void swapByValue(int first, int second) {
  int temp;

  temp = first;
  first = second;
  second = temp;

  return;
}

void swapByReference(int *first, int *second) {
  int temp;

  temp = *first;
  *first = *second;
  *second = temp;

  return;
}

int main() {
  int firstNumber = 25;
  int secondNumber = 19;

  printf(&quot;Pre swapByValue:  First and second numbers are %d and %d.\n&quot;, firstNumber, secondNumber);
  swapByValue(firstNumber, secondNumber);
  printf(&quot;Post swapByValue: First and second numbers are %d and %d.\n&quot;, firstNumber, secondNumber);

  printf(&quot;Pre swapByReference:  First and second numbers are %d and %d.\n&quot;, firstNumber, secondNumber);
  swapByReference(&amp;firstNumber, &amp;secondNumber);
  printf(&quot;Post swapByReference: First and second numbers are %d and %d.\n&quot;, firstNumber, secondNumber);
}
</code></pre>
<p>Compiling and running this will give this result:</p>
<pre><code>Pre swapByValue:  First and second numbers are 25 and 19.
Post swapByValue: First and second numbers are 25 and 19.
Pre swapByReference:  First and second numbers are 25 and 19.
Post swapByReference: First and second numbers are 19 and 25.
</code></pre>
<h2><code>main()</code></h2>
<p><code>main</code> is a special function that will begin executing when running your compiled file. This must be named <code>main</code>, but other functions can take on whatever other names you'd like.</p>
<p>When a function is invoked within the <code>main</code> function, a <strong>function prototype</strong> is required to ensure that all invocations and definitions match up.</p>
<pre><code class="language-c">#include &lt;stdio.h&gt;

int add(int m, int n);
int hooray(void);       // if no params, void is used

int main()
{
  int i;

  for (i = 0; i &lt; 10; ++i) {
      printf(&quot;%d %d %d\n&quot;, i, add(2,i), add(-3,i));
      hooray();
  }
  return 0;
}

int add(int m, int n)
{
  int sum;
  sum = m + n;
  return sum;
}

int hooray()
{
  printf(&quot;Hooray!&quot;);
}
</code></pre>
<h3>Command Line Arguments[1]</h3>
<p>Command line args are brought in using two parameters within the <code>main</code> function declaration:</p>
<ul>
<li><code>int argc</code> - Number of arguments provided, including the path to the program itself</li>
<li><code>char *argv[]</code> - Array of arguments provided as strings</li>
</ul>
<pre><code class="language-c">#include &lt;stdio.h&gt;

int hooray(void); // if no params, void is used

int main(int argc, char *argv[])
{
  int i;

  for (i = 1; i &lt; argc; ++i) {
      printf(&quot;%s\n&quot;, argv[i]);
      hooray();
  }
  
  return 0;
}

int hooray()
{
  printf(&quot;Hooray!&quot;);
}
</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://www.delftstack.com/howto/c/argv-in-c/" target="_blank">https://www.delftstack.com/howto/c/argv-in-c/</a></li>
<li><a href="https://dev.to/mikkel250/passing-by-value-passing-by-reference-in-c-1acg" target="_blank">https://dev.to/mikkel250/passing-by-value-passing-by-reference-in-c-1acg</a></li>
</ol>
<p class="last-modified">Last modified: 202206101419</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
