<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Garlic should be delicious and easy to work with."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Garlic</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Garlic</h1><h2>Peeling</h2>
<p>To make peeling easier, crush the garlic clove slightly with the side of a knife (or a rock). Once the clove gives a little bit, the peel should easily come off.</p>
<h2>Garlic Rock[1]</h2>
<p>If you are lazy like me, you can avoid mincing garlic or having a garlic press by using a rock. I found a palm-sized rock with a flat side while I was hiking one day, came home and washed it thoroughly, and now I use it to crush garlic whenever I need minced, peeled, or pressed garlic. I haven't washed mine in ages, but I'm sure you can wash it after use if you are worried about it.</p>
<p>I learned this from my cousin a while ago and I prefer this to other methods for a few reasons:</p>
<ul>
<li>it really pulverizes the garlic in a way that mincing doesn't</li>
<li>it's very satisfying crushing something with a rock</li>
<li>it's very fun</li>
</ul>
<h2>References</h2>
<ol>
<li><a href="https://tipnut.com/crush-garlic-rock/" target="_blank">https://tipnut.com/crush-garlic-rock/</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="garlic-paste.html">Garlic Paste</a></li><li><a href="pesto-with-greens.html">Pesto with Greens</a></li><li><a href="toum.html">Toum</a></li></ul></details></section><p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
