<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Garlic paste is a way to preserve garlic for a long time and make it easy to add to any dish."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Garlic Paste</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Garlic Paste</h1><p>This is a great way to preserve a ton of <a href="garlic.html">garlic</a> at once and make garlic immediately available at all times. If you are extreme, you can even spread this on toast, but it's a bit intense. This is pretty much entirely lifted from the site below[1].</p>
<h2>Ingredients</h2>
<ul>
<li>6-8 heads of <strong><a href="garlic.html">garlic</a></strong>, peeled</li>
<li>2t <strong>salt</strong> (or 2% of weight of the heads, to be more accurate [e.g. 400g garlic, use 8g salt])</li>
</ul>
<h2>Cookware</h2>
<ul>
<li>Fermentation vessel (I use a 16oz glass jar with a lid)</li>
<li>Cover and weight (Ziploc bag filled with water, cabbage leaf with ceramic weight, etc.)</li>
<li>Smaller glass jar with lid for storage, if you want</li>
<li>Immersion blender, food processor, or blender</li>
<li>Spoon for pressing down the paste</li>
<li>Thin spatula if necessary to transfer blended materials</li>
</ul>
<h2>Instructions</h2>
<ol>
<li>Put <strong>garlic</strong> and <strong>salt</strong> together and blend into a paste.</li>
<li>Add paste to your fermentation vessel and press it down with your spoon until it is compact. You should see some brine come up when pressing. More will show up the longer the salt mingles with the garlic as it will release the water.</li>
<li>Cover the paste with your weight on top. You want to create an airtight seal so no outside air can get in and cause bad bacteria to grow. I usually use a ziploc bag filled with water.</li>
<li>Let rest out of direct sunlight for a couple weeks. Check on it every couple days to make sure nothing nasty is growing on it and that the paste is below the brine. Bubbles in the paste are good! It will probably turn bluish green for a while, which is normal[2].</li>
<li>When it tastes good to you, store it in the fridge. It can mellow out if you wait a while. Either way, it will keep.</li>
<li>Use it anywhere you would normally use garlic.</li>
</ol>
<h2>References</h2>
<ol>
<li><a href="https://www.fermentedfoodlab.com/fermented-garlic-paste/" target="_blank">https://www.fermentedfoodlab.com/fermented-garlic-paste/</a></li>
<li><a href="https://revolutionfermentation.com/en/blogs/fermented-vegetables/why-does-garlic-turn-blue-green/" target="_blank">https://revolutionfermentation.com/en/blogs/fermented-vegetables/why-does-garlic-turn-blue-green/</a></li>
<li><a href="https://www.makesauerkraut.com/fermented-garlic-paste/" target="_blank">https://www.makesauerkraut.com/fermented-garlic-paste/</a></li>
<li><a href="https://www.fermentedfoodlab.com/fermented-basil-and-garlic-paste/" target="_blank">Fermented Garlic and Basil Paste, too</a></li>
</ol>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
