<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Aliases in git are a way to minimize keystrokes and mistakes when using complex commands."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - git alias</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">git alias</h1><p>You can check out <a href="my-git-aliases.html">my personal list of git aliases here</a>.</p>
<table>
<thead>
<tr>
<th>Command</th>
<th>Action</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>--global alias.{name}</code></td>
<td>Set the alias <code>name</code> across your whole machine</td>
</tr>
<tr>
<td><code>--unset alias.{name}</code></td>
<td>Unset the following alias</td>
</tr>
<tr>
<td><code>--unset-all alias.{name}</code></td>
<td>Unset all of the aliases found at the following alias (useful if you accidentally set two aliases on the same name)</td>
</tr>
</tbody></table><pre><code class="language-bash">git config --global alias.co checkout # now &#x27;git co&#x27; is aliased to &#x27;git checkout&#x27;
git config alias.p &#x27;push origin HEAD&#x27;  # now &#x27;git p&#x27; is aliased to &#x27;git push origin HEAD&#x27; ONLY for current project
git config --global --unset alias.p # now &#x27;git p&#x27; is no longer aliased
</code></pre>
<h2>List All Aliases</h2>
<p>Running this will give you the <code>git alias</code> command, which will list all of your current git aliases.</p>
<pre><code class="language-bash">git config --global alias.alias &quot;! git config --get-regexp ^alias\. | sed -e s/^alias\.// -e s/\ /\ =\ /&quot;
</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://git-scm.com/book/en/v2/Git-Branching-Basic-Branching-and-Merging" target="_blank">https://git-scm.com/book/en/v2/Git-Branching-Basic-Branching-and-Merging</a></li>
<li><a href="https://koukia.ca/delete-a-local-and-a-remote-git-branch-61df0b10d323" target="_blank">https://koukia.ca/delete-a-local-and-a-remote-git-branch-61df0b10d323</a></li>
<li><a href="https://bugfactory.io/blog/orphaned-brachnes-in-git/" target="_blank">https://bugfactory.io/blog/orphaned-brachnes-in-git/</a></li>
<li><a href="https://git-scm.com/docs/git-add" target="_blank">https://git-scm.com/docs/git-add</a></li>
<li><a href="https://devconnected.com/how-to-cherry-pick-git-commits/" target="_blank">https://devconnected.com/how-to-cherry-pick-git-commits/</a></li>
<li><a href="https://phoenixnap.com/kb/git-revert-last-commit" target="_blank">https://phoenixnap.com/kb/git-revert-last-commit</a></li>
<li><a href="https://stackoverflow.com/questions/41842149/error-commit-is-a-merge-but-no-m-option-was-given" target="_blank">https://stackoverflow.com/questions/41842149/error-commit-is-a-merge-but-no-m-option-was-given</a></li>
<li><a href="https://superuser.com/questions/1309196/how-to-update-authentication-token-for-a-git-remote" target="_blank">https://superuser.com/questions/1309196/how-to-update-authentication-token-for-a-git-remote</a></li>
<li><a href="https://www.git-tower.com/learn/git/faq/cherry-pick/" target="_blank">https://www.git-tower.com/learn/git/faq/cherry-pick/</a></li>
<li><a href="https://stackoverflow.com/questions/17683458/how-do-i-commit-case-sensitive-only-filename-changes-in-git" target="_blank">https://stackoverflow.com/questions/17683458/how-do-i-commit-case-sensitive-only-filename-changes-in-git</a></li>
<li><a href="https://github.com/delventhalz/no-fear-git" target="_blank">https://github.com/delventhalz/no-fear-git</a></li>
</ol>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
