<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Glob is like regular expressions but for POSIX systems."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Glob</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Glob</h1><p>Glob is like <a href="regular-expressions.html">regular expressions</a> but for <a href="posix.html">POSIX</a> systems and is available in most <a href="shell.html">shells</a>.</p>
<h2>Syntax</h2>
<table>
<thead>
<tr>
<th>Symbol</th>
<th>Description</th>
<th>Example</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>*</code></td>
<td>Matches any number of any characters including none</td>
<td><code>*abc*</code> matches <code>abc</code>, <code>1abc2</code>, <code>xyzabc123</code></td>
</tr>
<tr>
<td><code>?</code></td>
<td>Matches any single character</td>
<td><code>?abc</code> matches <code>1abc</code>, not <code>abc</code></td>
</tr>
<tr>
<td><code>[abc]</code></td>
<td>Matches any character within the bracket</td>
<td><code>[123]abc</code> matches <code>1abc</code>, not <code>xabc</code> or <code>abc</code></td>
</tr>
<tr>
<td><code>[a-z]</code></td>
<td>Matches any character within range (locale dependent)</td>
<td><code>[0-9]abc</code> matches <code>8abc</code>, not <code>xabc</code> or <code>abc</code></td>
</tr>
</tbody></table><h3>Extended Syntax</h3>
<p>These are not standard, but are usually available for any given <a href="shell.html">shell</a>. The <code><a href="bash.html">bash</a></code> option is in parentheses. More than one <code>pattern</code> can exist within a set of parentheses for <code>extglob</code>, as long as they are separated by a pipe (<code>|</code>).</p>
<table>
<thead>
<tr>
<th>Symbol</th>
<th>Description</th>
<th>Example</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>**</code> (<code>globstar</code>)</td>
<td>Matches any number of any directories including none</td>
<td><code>folder/**/*.txt</code> matches <code>folder/abc.txt</code>, <code>folder/subfolder/abc.txt</code>, not <code>/abc.txt</code></td>
</tr>
<tr>
<td><code>*(pattern)</code> (<code>extglob</code>)</td>
<td>Matches zero or more occurrences of a given pattern</td>
<td><code>a*(b\|c)d</code> matches<code>abcd</code>, <code>ad</code>, <code>abbd</code></td>
</tr>
<tr>
<td><code>?(pattern)</code> (<code>extglob</code>)</td>
<td>Matches zero or one occurrence of a given pattern</td>
<td><code>a?(b\|c)d</code> matches<code>ad</code>, <code>abd</code>, <code>acd</code></td>
</tr>
<tr>
<td><code>+(pattern)</code> (<code>extglob</code>)</td>
<td>Matches one or more occurrence of a given pattern</td>
<td><code>a+(b\|c)d</code> matches<code>abd</code>, <code>abcccccd</code>, not <code>ad</code></td>
</tr>
<tr>
<td><code>@(pattern)</code> (<code>extglob</code>)</td>
<td>Matches one occurrence of a given pattern</td>
<td><code>a@(b\|c)d</code> matches<code>abd</code>, <code>acd</code>, not <code>abcd</code></td>
</tr>
<tr>
<td><code>!(pattern)</code> (<code>extglob</code>)</td>
<td>Matches anything <em>except</em> the given pattern</td>
<td><code>a!(b\|c)d</code> matches<code>aed</code>, <code>abcccccd</code>, not <code>ad</code></td>
</tr>
</tbody></table><h2>References</h2>
<ol>
<li><a href="http://mywiki.wooledge.org/glob#extglob" target="_blank">glob - Greg's Wiki</a></li>
<li>[glob (programming) - Wikipedia](&lt;https://en.wikipedia.org/wiki/Glob_(programming)</li>
<li><a href="https://globster.xyz/" target="_blank">Glob tester - tool for testing glob pattern</a></li>
</ol>
<p class="last-modified">Last modified: 202308251543</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
