<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Glue work is the meta work that helps keep the organization running and on track."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Glue Work</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Glue Work</h1><p>[0:10:32] Glue work is the meta work that helps keep the organization running and on track. e.g. scrum master stuff; fixing problems, increasing fluidity in between teams, creating coding standards for ease of production, etc.</p>
<p>[0:12:12] If you are only doing glue work and not your actual job, it may be beneficial but it is hurting your own career and potentially your ability to keep your job or get promoted.</p>
<p>[0:14:31] What do you want to get better at? Do more of that and get better at it. Find something that you will be happy and proud to do. When we start at a job, we are bad and then get better.</p>
<p>[0:18:30] Since certain fields just assume if you left a certain job you lost all of those skills, which of those doors are you willing to close to open some others?</p>
<p>[0:19:43] Have the career conversation with the boss about &quot;when will I be promoted&quot;, &quot;What do I need to do to do so&quot;, etc. Write them down for later.</p>
<p>[0:20:17] If you find yourself doing a whole lot of X, get a title that shows that you do X a lot.</p>
<p>[0:21:23] Create a story that shows that &quot;because of the work X I did, Y was able to happen. It happened because of the work I did.&quot;</p>
<p>[0:22:22] If your colleagues, managers, etc. do not care about the glue work you are doing, stop doing it and only do what is on your job description. If your goal is to get promoted, a raise, etc. and what you need to get those promotions is not being done, focus only on your job description and achieving those goals until that goal is achieved. Push away requests that are not your problem. [0:23:20] Do not catch things that are about to drop. Do not try and fix what is broken. It is not your problem if they are not willing to reward you for your work.</p>
<p>[0:24:07] How are you spending your finite work hours? If it is not on the things that are bringing you towards your goals, be it happiness, a promotion, or whatever, do not do those things. Focus only on what you need. [0:24:46] You will only learn what you spend time on, so learn deliberately and spend time on the things that will reward you most. [0:25:26] Be public about learning and let people know what you've been working on. [0:26:02] Don't take learning opportunities from others if you know how; give them the work that will help them learn.</p>
<p>[0:26:25] &quot;You should do X because you are so good at it.&quot; &quot;Yes I am good at whatever I spend a lot of time on, you should see me doing Y.&quot;</p>
<h2>References</h2>
<ol>
<li><a href="https://www.youtube.com/watch?v=KClAPipnKqw" target="_blank">https://www.youtube.com/watch?v=KClAPipnKqw</a></li>
<li><a href="https://noidea.dog/glue" target="_blank">https://noidea.dog/glue</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="best-practices-programming.html">Best Practices (Programming)</a></li></ul></details></section><p class="last-modified">Last modified: 202303032155</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
