<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Handbrake is an application for backing up video media."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Handbrake</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Handbrake</h1><p>Handbrake is an application for backing up video media.</p>
<h2>Backing up a DVD</h2>
<ol>
<li>Install Handbrake[1]</li>
<li>Install libdvdcss[2] (on Mac, use <code>brew install libdvdcss</code>)</li>
<li>Open Handbrake and load your DVD</li>
<li>Set your preset to &quot;Very Fast 480p30&quot;. Anything higher won't look much better anyway.</li>
<li>Ensure your subtitles and audio are set how you like. If a subtitle is available, you should be able to select it and it will burn into the video file as something you can select. Use &quot;Burn In&quot; if you want it <em>permanently</em> in the video itself.</li>
<li>Save this preset however you like.</li>
<li>For each &quot;Title&quot;, change your &quot;Save As...&quot; filename to what you want and click &quot;Add To Queue&quot;.</li>
<li>Click &quot;Start&quot; to start the rip.</li>
</ol>
<h2>References</h2>
<ol>
<li><a href="https://handbrake.fr/" target="_blank">https://handbrake.fr/</a></li>
<li><a href="https://www.dumbofab.com/resource/how-to-use-handbrake-rip-dvds.html" target="_blank">https://www.dumbofab.com/resource/how-to-use-handbrake-rip-dvds.html</a></li>
</ol>
<p class="last-modified">Last modified: 202206101419</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
