<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="You can use your hands to get an ocarina-like sound, and with different pitches once you get going."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Hand Flute</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Hand Flute</h1><p>You can use your hands to get an ocarina-like sound, and with different pitches once you get going.</p>
<h2>How To Do It</h2>
<h3>Cupped Hands[1]</h3>
<ol>
<li>Hold your non-dominant hand in front of you with your palm facing up, as if you were holding a book that you were reading or a phone.</li>
<li>Place your dominant hand perpindicular to your non-dominant hand so that your pinky is resting across the base of all four fingers and your thumb is  closest to your face.</li>
<li>Move your hand so that the crease where your pinky meets the hand is just above the space between the base of your pointer and middle fingers on your non-dominant hand.</li>
<li>Curl the fingers of your dominant hand so that they create a seal between your pointer finger and your thumb (I personally have to put my pinky over my ring finger to create a good enough seal, so you may need to play around with this once you're finished).</li>
<li>Bring the heel of your dominant hand into the palm/heel of your non-dominant hand and push them together. You want to make a seal but not hurt yourself.</li>
<li>Bring the bases of both thumbs together to create a seal with the previous step. Your thumbs should now be parallel to each other.</li>
<li>Bend your thumbs away from your face. They should be about a 10° angle apart from each other.</li>
<li>Forming your lips like for the &quot;oo&quot; syllable, place your upper lip above the knuckle and your lower lip below the knuckle. Blow gently.</li>
<li>If no sound comes, try opening or closing the angle of your thumbs to one another, or moving your fingers around on both seals to find your own sweet spot. Practice makes perfect.</li>
</ol>
<h3>Interlaced Fingers</h3>
<p>TODO</p>
<h2>References</h2>
<ol>
<li><a href="https://www.youtube.com/watch?v=Gq-r_ZicTdA" target="_blank">https://www.youtube.com/watch?v=Gq-r_ZicTdA</a></li>
<li><a href="https://www.youtube.com/watch?v=L-z_k3fGZb4" target="_blank">https://www.youtube.com/watch?v=L-z_k3fGZb4</a></li>
<li><a href="https://www.youtube.com/watch?v=KzOJnvfR6Ow" target="_blank">Changing pitch</a></li>
<li><a href="https://www.youtube.com/watch?v=QiIj2gDzaNI" target="_blank">https://www.youtube.com/watch?v=QiIj2gDzaNI</a></li>
<li><a href="https://www.youtube.com/watch?v=2V4KwTGrpcs" target="_blank">https://www.youtube.com/watch?v=2V4KwTGrpcs</a></li>
</ol>
<p class="last-modified">Last modified: 202206101419</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
