<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Header files are where you place shared functions, function prototypes,"><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Header Files (C)</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Header Files (C)</h1><p>Header files are where you place shared functions, function prototypes, #define's, and anything else you want shared. Definitions go in a <code>.h</code> file, whereas the code, the action, goes in the <code>.c</code> file. Everything <em>could</em> go in one C file, but organizing with multiple files is better for humans.[1]</p>
<p>Short answer is it separates the interface from the implementation.</p>
<h2>Example</h2>
<p>I'm pulling this wholesale from this SO answer[3] because it's great.</p>
<p>Take this example. <code>foo</code> does not know what <code>bar</code> is when it is invoked because <code>bar</code> is declared after <code>foo</code>. We could solve this by moving <code>bar</code> above <code>foo</code>, but then we would have the same problem within <code>bar</code>.</p>
<p><strong>baz.c</strong></p>
<pre><code class="language-c">void foo() {
  //bar? what is this function???
  bar();
}

void bar() {
  //I know foo() because it appears before. 
  foo();
}
</code></pre>
<ul>
<li><code>foo</code> can call <code>bar</code> only if it is defined before. </li>
<li><code>bar</code> can only call <code>foo</code> if it is defined before</li>
</ul>
<p>Since we must define one of them first, the solution to this problem are function prototypes.</p>
<p><strong>baz.c</strong></p>
<pre><code class="language-c">//prototype of foo()
void foo();
//prototype of bar()
void bar();

void foo() {
  // I can call bar() because I know it exists
  bar();
}

void bar() {
  // I can call foo() because I know it exists
  foo();
}
</code></pre>
<p>With a large project, you can end up amassing a large amount of prototypes, along with <code>#define</code>'s, <code>#ifdef</code>'s, etc. To clean things up, we can put all of these things into an <code>.h</code> file, and <code>#include</code> that instead.</p>
<p><strong>baz.h</strong></p>
<pre><code class="language-c">//prototype of foo()
void foo();
//prototype of bar()
void bar();
</code></pre>
<p><strong>baz.c</strong></p>
<pre><code class="language-c">#include &#x27;baz.h&#x27;

void foo() {
  // I can call bar() because I know it exists
  bar();
}

void bar() {
  // I can call foo() because I know it exists
  foo();
}
</code></pre>
<p>It then became a good practice as it separates the interface from the implementation.</p>
<h2>References</h2>
<ol>
<li><a href="https://stackoverflow.com/questions/1695224/what-do-c-and-h-file-extensions-mean-to-c" target="_blank">https://stackoverflow.com/questions/1695224/what-do-c-and-h-file-extensions-mean-to-c</a></li>
<li><a href="https://stackoverflow.com/questions/1945846/what-should-go-into-an-h-file" target="_blank">https://stackoverflow.com/questions/1945846/what-should-go-into-an-h-file</a></li>
<li><a href="https://stackoverflow.com/a/19089822/14857724" target="_blank">https://stackoverflow.com/a/19089822/14857724</a></li>
</ol>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
