<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="A higher-order function either takes in a function as an argument, or returns a function."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Higher Order Functions</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Higher Order Functions</h1><p>A higher-order function either takes in a function as an argument, or returns a function.</p>
<h2>Callback Functions</h2>
<p>When taking a function as a parameter, this is called a <strong>callback function</strong>. This is used in Javascript built-ins like <code>setTimeout</code>, <code>filter</code>, <code>map</code>, and <code>forEach</code>.</p>
<pre><code class="language-javascript">var arr = [1,2,3,4];
var add2 = function (num) {
  return num + 2;
};
var newArr = arr.map(add2); // result: [3,4,5,6]
</code></pre>
<h2>Closures</h2>
<p>Functions that return other functions can create <strong>closures</strong>, which means that the variables within which the function is defined will remain accessable by that function; the variables are <strong>enclosed</strong> within that function's own scope.</p>
<p>In the example below, a function called <code>counter</code> keeps track of how many times it is called. Even though the function runs and fully completes, the reference to this execution context remains with the function that is returned at the conclusion of that invocation. We cannot <em>directly</em> access <code>count</code> from outside of the scope of <code>counter</code>, but with the returned function, we can add to it and see what <code>count</code>'s value' is at that point.</p>
<pre><code class="language-javascript">var counter = function () {
  var count = 0;
  console.log(count);
  var add1 = function () {
    count++;
    console.log(count);
  };
  return add1;
};

// newCounter will now reference the `add1` function within the closure of that invocation of counter
var newCounter = counter(); // 0
// This calls `add1` within that same closure, incrementing `count` by 1
newCounter(); // 1
</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://en.wikipedia.org/wiki/Higher-order_function" target="_blank">https://en.wikipedia.org/wiki/Higher-order_function</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="apply-call-and-bind-in-javascript.html">Apply, Call and Bind in Javascript</a></li><li><a href="react.html">React</a></li></ul></details></section><p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
