<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="LC circuits are a combination of inductance (L) and capacitance (C)."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - iLC Circuits</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">iLC Circuits</h1><p>LC circuits are a combination of inductance (L) and capacitance (C). A common instance of an LC circuit is the Varitone[1] knob of a Les Paul guitar.</p>
<p>Every LC circuit has a resonant frequency, which is the frequency at which the inductive <a href="core-concepts-of-electricity.html">reactance</a> is the same as the capacitive reactance. When at &quot;resonance&quot;, an LC circuit can store energy, as the energy oscillates between the magnetic field of the inductor and the capacitor.</p>
<p><strong>WARNING!</strong> Even in low-power equipment, the energy stored inside an LC circuit can be dangerous!</p>
<h2>References</h2>
<ol>
<li><a href="https://en.wikipedia.org/wiki/Guitar_wiring#Capacitors" target="_blank">https://en.wikipedia.org/wiki/Guitar_wiring#Capacitors</a></li>
<li><a href="https://yewtu.be/watch?v=0e03xw_GVyE" target="_blank">https://yewtu.be/watch?v=0e03xw_GVyE</a></li>
</ol>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
