<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content=""><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - International System of Units (Metric System)</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">International System of Units (Metric System)</h1><table>
<thead>
<tr>
<th>Prefix name</th>
<th>Prefix symbol</th>
<th>Value</th>
</tr>
</thead>
<tbody>
<tr>
<td>giga-</td>
<td>G</td>
<td>109  1,000,000,000  one billion</td>
</tr>
<tr>
<td>mega-</td>
<td>M</td>
<td>106  1,000,000  one million</td>
</tr>
<tr>
<td>kilo-</td>
<td>k</td>
<td>103  1,000  one thousand</td>
</tr>
<tr>
<td>(none)</td>
<td>(none)</td>
<td>100  1  one</td>
</tr>
<tr>
<td>centi-</td>
<td>c</td>
<td>10−2  .01  one one-hundredth</td>
</tr>
<tr>
<td>milli-</td>
<td>m</td>
<td>10−3  .001  one one-thousandth</td>
</tr>
<tr>
<td>micro-</td>
<td>µ</td>
<td>10−6  .000001  one one-millionth</td>
</tr>
<tr>
<td>nano-</td>
<td>n</td>
<td>10−9  .000000001  one one-billionth</td>
</tr>
<tr>
<td>pico-</td>
<td>p</td>
<td>10−12  .000000000001  one one-trillionth</td>
</tr>
</tbody></table><h2>References</h2>
<ol>
<li><a href="https://en.wikipedia.org/wiki/SI" target="_blank">https://en.wikipedia.org/wiki/SI</a></li>
</ol>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
