<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Jasmine is a Javascript testing framework."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Jasmine</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Jasmine</h1><p>Jasmine is a <a href="javascript.html">Javascript</a> <a href="testing.html">testing</a> framework.</p>
<h2>Getting Started</h2>
<p>If you are using this to <a href="testing-vanilla-javascript.html">test vanilla Javascript</a>[2], you can either install it as a standalone[3] or using <a href="npm.html">npm</a>. Jasmine can either be run in the command line or using a browser spec file.</p>
<h2>Running Specific Tests</h2>
<p>You can <strong>f</strong>ocus on specific tests or suites by prefacing <code>describe</code> or <code>it</code> with <code>f</code> (<code>fdescribe</code> or <code>fit</code>).</p>
<h2>References</h2>
<ol>
<li><a href="https://jasmine.github.io/api/edge/matchers.html" target="_blank">Matchers</a></li>
<li><a href="https://jasmine.github.io/pages/getting_started.html" target="_blank">https://jasmine.github.io/pages/getting_started.html</a></li>
<li><a href="https://github.com/jasmine/jasmine#installation" target="_blank">https://github.com/jasmine/jasmine#installation</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="gherkin.html">Gherkin</a></li><li><a href="testing-vanilla-javascript.html">Testing Vanilla Javascript</a></li></ul></details></section><p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
