<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Jira Query Language is baffling, but helpful."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - JQL</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">JQL</h1><p>JQL is <a href="jira.html">Jira</a>'s <a href="sql.html">SQL</a> language. It is somewhat baffling as a noob, so this will mostly be a list of resources and common queries I use.</p>
<h2>Queries</h2>
<h3>See all issues touched/updated by a user[3]</h3>
<blockquote>
<p>An update in this case includes creating an issue, updating any of the issue's fields, creating or deleting a comment, or editing a comment (only the last edit).[4]</p>
</blockquote>
<pre><code class="language-jql">issueKey IN updatedBy(&quot;username&quot;)
</code></pre>
<h3>Get all related tasks and subtasks of an issue or epic[5]</h3>
<blockquote>
</blockquote>
<pre><code class="language-jql">parent = EPIC-123 OR key in linkedIssues(&quot;EPIC-123&quot;)
</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://atlassianblog.wpengine.com/wp-content/uploads/2017/01/atlassian_jql-cheat-sheet.pdf" target="_blank">JQL Cheat Sheet</a></li>
<li><a href="https://www.atlassian.com/software/jira/guides/jql/overview#what-is-jql" target="_blank">JQL: Get Started with Advanced Search in Jira | Atlassian</a></li>
<li><a href="https://community.atlassian.com/t5/Jira-questions/How-to-find-issues-which-are-updated-by-a-specific-user-using/qaq-p/933031#M373180" target="_blank">How to find issues which are updated by a specific user using JQL?</a></li>
<li><a href="https://confluence.atlassian.com/jirasoftwareserver081/advanced-searching-functions-reference-970611548.html#Advancedsearchingfunctionsreference-approverupdatedBy%28%29" target="_blank">updatedBy(): Advanced searching - functions reference | Jira Software Data Center and Server 8.1 | Atlassian Documentation</a></li>
<li><a href="https://community.atlassian.com/t5/Jira-Software-questions/JQL-query-for-filtering-all-subtasks-of-an-issue/qaq-p/1199881" target="_blank">Get all subtasks and linked issues to my issue</a></li>
</ol>
<p class="last-modified">Last modified: 202307222102</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
