<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="JSCodeShift is a Javascript Codemod toolkit."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - JSCodeShift</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">JSCodeShift</h1><p>JSCodeShift is a Javascript Codemod toolkit.</p>
<h2>Getting Started</h2>
<p>// How to </p>
<h2>References</h2>
<ol>
<li><a href="https://github.com/facebook/jscodeshift" target="_blank">JSCodeShift on Github</a></li>
<li><a href="https://www.codeshiftcommunity.com/" target="_blank">CodeshiftCommunity</a></li>
<li><a href="https://astexplorer.net/" target="_blank">AST Explorer (lets you execute jscodeshift on sample code)</a></li>
<li><a href="https://medium.com/@andrew_levine/writing-your-very-first-codemod-with-jscodeshift-7a24c4ede31b" target="_blank">Writing your very first codemod with jscodeshift | by Andrew Levine | Medium</a></li>
<li>JSCodeShift API: For <a href="https://github.com/facebook/jscodeshift/blob/main/src/collections/Node.js" target="_blank">nodes</a> and <a href="https://github.com/facebook/jscodeshift/blob/main/src/Collection.js" target="_blank">collections</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="codemod.html">Codemod</a></li><li><a href="make-a-rule-eslint.html">Make a Rule (ESLint)</a></li></ul></details></section><p class="last-modified">Last modified: 202302151616</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
