<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content=""><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - JSON (Python)</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">JSON (Python)</h1><h2>Load <a href="json.html">JSON</a> from file</h2>
<pre><code class="language-python">def load_json(fp):
    with open(fp, &#x27;r&#x27;) as f:
        output = json.load(f)
    return output
</code></pre>
<h2>Save to JSON file</h2>
<pre><code class="language-python">def save_json(fp):
    with open(fp, &#x27;w&#x27;) as f:
        # with pretty output kwargs
        json.dump(sample, f, indent=4, sort_keys=True)
</code></pre>
<h2>References:</h2>
<ol>
<li><a href="https://docs.python.org/3/library/json.html" target="_blank">https://docs.python.org/3/library/json.html</a></li>
<li><a href="python.html">Python</a></li>
</ol>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
