<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="K6 is an open-source load testing program for API's via  Javascript."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - K6</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">K6</h1><p>K6 is an open-source load testing program for API's via <a href="javascript.html">Javascript</a>.</p>
<h2>Basics</h2>
<pre><code class="language-bash">$ brew install k6
</code></pre>
<p>Create a new file, <code>script.js</code>,  to hold your basic script:</p>
<pre><code class="language-javascript">import http from &#x27;k6/http&#x27;;
import { sleep } from &#x27;k6&#x27;;

export default function () {
  http.get(&#x27;https://test.k6.io&#x27;);
  sleep(1);
};
</code></pre>
<p>Now run your new test in your terminal with <code>k6 run script.js</code>.</p>
<h2>Design</h2>
<p>You can design your tests with startup code that runs only once and the defaut function, which will be run over and over for the duration of the test by each virtual user.</p>
<pre><code class="language-javascript">// init code

export default function() {
  // vu code
}
</code></pre>
<h2><a href="https://k6.io/docs/using-k6/metrics/" target="_blank">Metrics</a></h2>
<table>
<thead>
<tr>
<th>Field</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>http_req_blocked</td>
<td>Time spent blocked (waiting for a free TCP connection slot) before initiating the request.</td>
</tr>
<tr>
<td>http_req_connecting</td>
<td>Time spent establishing TCP connection to the remote host.</td>
</tr>
<tr>
<td>http_req_duration</td>
<td><code>http_req_sending + http_req_waiting + http_req_receiving</code></td>
</tr>
<tr>
<td>http_req_failed</td>
<td>The rate of failed requests according to <a href="https://k6.io/docs/javascript-api/k6-http/setresponsecallback-callback" target="_blank">setResponseCallback</a>.</td>
</tr>
<tr>
<td>http_req_receiving</td>
<td>Time spent receiving response data from the remote host.</td>
</tr>
<tr>
<td>http_req_sending</td>
<td>Time spent sending data to the remote host.</td>
</tr>
<tr>
<td>http_req_tls_handshaking</td>
<td>Time spent handshaking TLS session with remote host</td>
</tr>
<tr>
<td>http_req_waiting</td>
<td>Time spent waiting for response from remote host (a.k.a. &quot;time to first byte&quot;, or &quot;TTFB&quot;).</td>
</tr>
<tr>
<td>http_reqs</td>
<td>Total requests</td>
</tr>
<tr>
<td>iteration_duration</td>
<td>The time it took to complete one full iteration of the default/main function.</td>
</tr>
<tr>
<td>iterations</td>
<td>The aggregate number of times the VUs in the test have executed the JS script (the default function).</td>
</tr>
<tr>
<td>vus_max</td>
<td>Max possible number of virtual users</td>
</tr>
</tbody></table><h2>Options</h2>
<p>Options can be included in your script as an <code>export</code> called <code>options</code>:</p>
<pre><code class="language-javascript">export let options = {
  vus: 10,
  duration: &#x27;30s&#x27;,
};
</code></pre>
<p>If these options are to be used in a CLI, they should be prefaced with two hyphens and followed directly by their argument.</p>
<table>
<thead>
<tr>
<th>Flag</th>
<th>Args</th>
<th>Effect</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>duration</code></td>
<td>n: string formatted as <code>{number}s</code>, indicating number of seconds</td>
<td>Duration of test</td>
</tr>
<tr>
<td><code>vus</code></td>
<td>n: integer</td>
<td>Number of virtual users to be utilized in the test</td>
</tr>
</tbody></table><h2>References</h2>
<ul>
<li><a href="https://k6.io/docs/getting-started/running-k6/" target="_blank">https://k6.io/docs/getting-started/running-k6/</a></li>
</ul>
<p class="last-modified">Last modified: 202206101419</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
