<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="A kimchi pancake is quick and simple, and tastes great over rice."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Kimchi Pancake</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Kimchi Pancake</h1><p>A kimchi pancake is quick and simple, and tastes great over rice. This recipe is from <a href="https://www.maangchi.com/recipe/kimchijeon" target="_blank">Maangchi</a> plus some extra information and additions.</p>
<h2>Ingredients</h2>
<ul>
<li>230g/8oz <strong><a href="kimchi.html">kimchi</a></strong>, chopped</li>
<li>29g/1oz/2T <strong>kimchi brine</strong></li>
<li>3 <strong>scallions</strong> or <strong>green onions</strong>, chopped</li>
<li>3g/1t <strong>sugar</strong></li>
<li>74g/½ cup <strong>all-purpose flour</strong></li>
<li>120g/½ cup <strong><a href="water.html">water</a></strong></li>
<li>4T <strong>oil</strong> (I almost always eyeball this)</li>
<li>Cooked <strong><a href="rice.html">rice</a></strong> to place cooked pancake on top</li>
</ul>
<h3>Substitutions</h3>
<ul>
<li>For the <strong>kimchi brine</strong>, I have substituted some <strong>vegetarian oyster sauce</strong> or <strong>vinegar</strong> with some extra water</li>
<li>I have substituted the <strong>flour</strong> and the <strong>water</strong> with a full cup of ripe <strong><a href="sourdough.html">sourdough starter</a></strong></li>
<li>You can use the <strong><a href="rice.html">rice starch water</a>)</strong> from rinsing rice before cooking, instead of the <strong>water</strong></li>
<li>I usually use <strong>olive oil</strong></li>
</ul>
<h2>Cookware</h2>
<ul>
<li>Medium mixing bowl</li>
<li>12&quot; non-stick or cast-iron skillet</li>
<li>Thin spatula</li>
</ul>
<h2>Instructions</h2>
<ol>
<li>Heat the skillet to medium (just below the smoke point of <strong>olive oil</strong>, if that is what you are using).</li>
<li>Mix the <strong>kimchi</strong>, <strong>brine</strong>, <strong>scallions</strong>, <strong>sugar</strong>, <strong>flour</strong>, and <strong>water</strong> together fully. Let rest for a few minutes..</li>
<li>Once the skillet is hot, add your mixture and spread it around until it is evenly distributed. Drizzle 2T of <strong>oil</strong> around the edges of the pancake, gently lifting the sides of the pancake and tilting the skillet to ensure it coats the underside.</li>
<li>After a few minutes, the underside of the pancake should be getting crispy. After gaining a bit of color, we are going to flip the pancake. This may be difficult or impossible, so I usually quarter it and then clip the quarters.</li>
<li>Once flipped, drizzle the remaining oil around, ensuring that the underside of all the pieces are coated.</li>
<li>After a few minutes, the underside will be PRETTY crispy. I don't mind getting a serious amount of color, so you do you. When it is to your liking, serve it over a bed of rice.</li>
</ol>
<h2>References</h2>
<ol>
<li><a href="https://www.maangchi.com/recipe/kimchijeon" target="_blank">https://www.maangchi.com/recipe/kimchijeon</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="rice.html">Rice</a></li></ul></details></section><p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
