<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Resources for learning to program"><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Learning Programming</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Learning Programming</h1><blockquote>
<p>Things like math and logic and writing and physics and drawing and all kinds of things got way easier after I had started learning to code. The same goes for the spiritual or psychological experience. Coding (probably better known as meta-thinking, thinking about thinking) is an amazing foundation for other fields.[6]</p>
</blockquote>
<p>Some good ways to get into coding kinda sideways is to find communities that use coding to do what they do, but where coding isn't <em>the point</em>. Most notable is mods for games. Many games these days have the ability to mod directly, or make levels, or even build them out completely, in the case of <a href="fantasy-consoles.html">fantasy consoles</a>. Essentially, learning coding for coding's sake is truly only for real nerds who have a shitload of motivation to do that. It is not the best way to get stoked. If you have a band, make a <a href="websites.html">website</a>. If you have a crappy job that does a lot of data manipulation, learn <a href="python.html">Python</a>[7] to try and automate some of it. Whatever it takes to get the wheels turning and give you a satisfying reason to learn it is great.</p>
<h2>References</h2>
<ol>
<li><a href="https://codecombat.com/" target="_blank">CodeCombat - Coding games to learn Python and JavaScript</a></li>
<li><a href="https://pikuma.com/" target="_blank">Pikuma: Fundamentals of computer science and programming in assembly, for video games, etc.</a></li>
<li><a href="https://scratch.mit.edu/" target="_blank">Scratch: a super beginner friendly intro to the art of thinking like a programmer</a></li>
<li><a href="https://github.com/toplap/awesome-livecoding" target="_blank">GitHub - toplap/awesome-livecoding: All things livecoding</a></li>
<li><a href="https://usborne.com/us/books/computer-and-coding-books" target="_blank">Oldschool intro to programming books</a></li>
<li><a href="https://idiomdrottning.org/everyone-code" target="_blank">Everyone, learn how to code</a></li>
<li><a href="https://automatetheboringstuff.com/" target="_blank">Automate the Boring Stuff with Python</a></li>
<li><a href="https://thecodingtrain.com/" target="_blank">The Coding Train</a></li>
</ol>
<p class="last-modified">Last modified: 202303240514</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
