<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Lexical scoping defines how variable names are resolved in nested functions or blocks."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Lexical Scoping (Javascript)</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Lexical Scoping (Javascript)</h1><p><strong>Lexical Scoping</strong> defines how variable names are resolved in nested functions: inner functions contain the scope of parent functions even if the parent function has returned.</p>
<p>With <a href="javascript.html">Javascript</a>, a new scope is created <strong>only</strong> through function definitions. Every time a new function scope is created, it will contain the scope of the parent functions, along with its own. This does not go both ways, however: the outer scope does not have access to those in the inner scope.</p>
<pre><code class="language-javascript">var content = &quot;I&#x27;m outside&quot;;
var outermost = &quot; and I&#x27;m still here.&quot;

var middle = function () {
  var content = &quot;I&#x27;m in the middle&quot;;
  var inner = function () {
    var content = &quot;I&#x27;m inside&quot;; 
    console.log(content + outermost);
  };
  inner();
  console.log(content + outermost);
};

middle();
// from `inner()`: &quot;I&#x27;m inside and I&#x27;m still here.&quot;
// from `middle()`: &quot;I&#x27;m in the middle and I&#x27;m still here.&quot;
console.log(content + outermost);
// &quot;I&#x27;m outside and I&#x27;m still here.&quot;
</code></pre>
<h2><code>this</code></h2>
<p><strong><code>this</code>, within a function, is bound to the object within which the function is being called</strong>. Look to the left of the calltime dot to find the binding of <code>this</code>. The Javascript interpreter binds <code>this</code> to a <strong>likely-focal object</strong>, which means it isn't always what you think it is. Assume its binding will run into trouble, so you may need to at times manually set <code>this</code> to the desired object.</p>
<ul>
<li>If you have defined your function in the global scope, then <code>this</code> is implicitly bound to the global context, which in a browser is <code>window</code>. You can call this function <code>funcName</code> also by calling <code>window.funcName</code></li>
<li>If you have defined your function as part of an object, like <code>var obj = { funcName: function (a) { ... } }</code>, then <code>this</code> is bound to <code>obj</code>.</li>
</ul>
<pre><code class="language-javascript">var obj = {
  greeting: function () {
    console.log(this.message);
  },
  message: &quot;Hello world&quot;
}

obj.greeting(); // =&gt; &quot;Hello world&quot;
// Equivalent to `window.obj.greeting()`
// `this` is bound to `obj`
// The `greeting` invocation defines `obj` as `this`

var g = obj.greeting;
g(); // =&gt; undefined
// Equivalent to `window.g()`
// `this` is bound to the *global object* (i.e., `window`)
// The `greeting` invocation defines `window` as `this`
</code></pre>
<h2>References:</h2>
<ol>
<li><a href="https://stackoverflow.com/questions/1047454/what-is-lexical-scope" target="_blank">https://stackoverflow.com/questions/1047454/what-is-lexical-scope</a></li>
<li><a href="http://howtonode.org/what-is-this" target="_blank">http://howtonode.org/what-is-this</a></li>
<li><a href="https://medium.com/better-programming/how-javascript-works-1706b9b66c4d" target="_blank">https://medium.com/better-programming/how-javascript-works-1706b9b66c4d</a></li>
</ol>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
