<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="MacOS is the operating system for Apple computers."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - MacOS</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">MacOS</h1><h2>Reindex Spotlight</h2>
<p>If you have problems where spotlight isn't finding applications or files for some reason, you can initiate the indexing manually via <code>sudo mdutil -E /</code>.</p>
<h2>References</h2>
<ol>
<li><a href="https://osxdaily.com/2012/02/02/reindex-spotlight-from-the-command-line/" target="_blank">Reindexing for Spotlight</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="applescript.html">Applescript</a></li><li><a href="assembly-unix.html">Assembly (Unix)</a></li><li><a href="certificatespem-files.html">Certificates/PEM Files</a></li><li><a href="lichen-cms-tutorial-php-version.html">Lichen CMS Tutorial (PHP Version)</a></li><li><a href="postgres.html">Postgres</a></li><li><a href="sass.html">Sass</a></li><li><a href="sox.html">SoX</a></li><li><a href="sublime-text.html">Sublime Text</a></li><li><a href="testing-accsesibility-for-the-web.html">Testing Accsesibility for the Web</a></li><li><a href="vim.html">Vim</a></li></ul></details></section><p class="last-modified">Last modified: 202212290541</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
