<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Your README file contains a high level overview for people interested in using, contributing, or perusing your code."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Making a Good README</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Making a Good README</h1><p>Your README file contains a high level overview for people interested in using, contributing, or perusing your code.</p>
<h2>Structure/Content</h2>
<ul>
<li><strong>Title</strong></li>
<li><strong>Overview</strong> - A brief description outlining what the project</li>
<li><strong>Table of Contents</strong> - You can link to the different sections below using <code>#</code> followed by the lowercased and <a href="kebab-case.html">kebab-cased</a> version of the header. e.g. <code>Table of Contents =&gt; #table-of-contents</code></li>
<li><strong>Description</strong> - A more detailed outline of the project.  What does it do?  Is there a high level list of features?   If describing a project that has visual features, consider adding pictures or animations of the features and functionality in this section.</li>
<li><strong>Installation</strong> - How can another developer get your project up and running on their own?  What dependencies are required?  Are there environmental requirements?  Be specific, and outline steps to take in  order to get the project running.</li>
<li><strong>Usage</strong> - Further details on how the project is meant to be used may be helpful.  For a library or framework, this section would outline how to use the library within another project.  For a service that is meant to be used within a larger project architecture, instructions on how to integrate may be necessary.</li>
</ul>
<p>Additionally, for some projects, additional information might make sense.</p>
<ul>
<li><strong>Related Projects</strong> - Links to other repositories that are related to the current one.  Are there partner projects?  Is there a newer version of this project elsewhere?</li>
<li><strong>Team Members</strong> - Add the names of your team members.  Describe roles on the team such as &quot;Product Owner&quot;, &quot;<a href="scrum.html">Scrum Master</a>&quot; and more.</li>
<li><strong>Contributing</strong> - If you'd like others to be able to contribute to your work, outline a process through which they can submit a request for changes to be incorporated.  More specifically, outline the <a href="git.html">Git</a> workflow for these contributors.  Should they use a feature branching workflow? Should they rebase or merge? Should the fork the repository? What is the review process?</li>
<li><strong>Roadmap</strong> - What future enhancements are planned?  What is the current status of the project?  Is it being actively maintained?</li>
<li><strong>License</strong> - If open source, state how the project is licensed.</li>
</ul>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
