<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="A specification is the contract you set out for a given piece of software."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Making a Specification</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Making a Specification</h1><p>Writing a specification for your software is a great way to ensure that you deliver <em>exactly</em> what is desired and not what isn't, to avoid scope creep, and to solve lots of problems before you get to the coding process. This is a more elaborate and specific way to tackle more complex problems than the <a href="pi-at-pc-framework.html">PI AT PC framework</a> and a way to prepare for something like <a href="hammock-driven-development.html">hammock driven development</a>.</p>
<h2>References</h2>
<ol>
<li><a href="https://en.wikipedia.org/wiki/Software_design_description" target="_blank">Software design description - Wikipedia</a></li>
</ol>
<p class="last-modified">Last modified: 202305251539</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
