<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content=""><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Math (Python)</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Math (Python)</h1><h2>Get Quotient and Remainder</h2>
<p><code>divmod</code> returns a tuple of the quotient and the remainder/modulo.</p>
<pre><code class="language-python">divmod(20, 3) # (6, 2)
</code></pre>
<h2>Round Decimals</h2>
<p>The <code>round</code> function in <a href="python.html">Python</a> allows you to round your decimal. The arguments taken are:</p>
<pre><code class="language-python"># round(number, decimal_places)
round(3.1415926, 3)  # 3.142
</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://tutorialdeep.com/knowhow/round-float-to-2-decimal-places-python/" target="_blank">https://tutorialdeep.com/knowhow/round-float-to-2-decimal-places-python/</a></li>
</ol>
<p class="last-modified">Last modified: 202206101419</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
