<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Small bits of CSS that do a lot."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Minimalist CSS</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Minimalist CSS</h1><h2>Boilerplate</h2>
<p>This <a href="css.html">CSS</a> code makes really beautiful text-centric websites that are responsive and look nice with only like 54 bytes or something? I use this as a basis all the time for making nice looking pages.</p>
<pre><code class="language-css">main {
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}
</code></pre>
<p>A tiny bit more space yields a nice result, too[3]:</p>
<pre><code class="language-css">html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}
</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://jrl.ninja/etc/1/" target="_blank">https://jrl.ninja/etc/1/</a></li>
<li><a href="classless-css.html">Classless CSS</a></li>
<li><a href="https://www.swyx.io/css-100-bytes" target="_blank">https://www.swyx.io/css-100-bytes</a></li>
<li><a href="https://github.com/ajusa/lit" target="_blank">https://github.com/ajusa/lit</a></li>
</ol>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
