<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="The idea of an MVP is to get something up that meets the base specs as fast as possible."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Minimum Viable Product</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Minimum Viable Product</h1><p>The idea of a Minimum Viable Product is that you want to meet the most basic specs for your product as quickly as possible, leaving out any and all unnecessary or unimportant details. The benefits of this are a quicker test of the viability of the product, a better implementation of the core features without any extra overhead, and freedom to change your ideas quickly and without having to manage extra dependencies or features.</p>
<blockquote>
<p>“what is the skateboard for this idea?” ... it immediately reframes the discussion around finding the heart of a product request. It helps teams find the simpler version of any idea to start with, if it exists.[4]</p>
</blockquote>
<h2>Example</h2>
<p>Let's say you wanted to build a blog. There are lots of features you might consider doing for this:</p>
<ul>
<li>Posting content</li>
<li>Editing existing content</li>
<li>Deleting existing content</li>
<li>Having that content visible to the public</li>
<li>A WYSIWYG editor for the author</li>
<li>Good CSS styling</li>
<li>Highly accessible functionality</li>
<li>An RSS Feed</li>
<li>Authorization to disallow non-authors from posting</li>
<li>Login page</li>
<li>404 pages</li>
</ul>
<p>Etc. To get a project like this up and running, we want to figure out which of these on this list are the most important for a <strong>functioning</strong> blog. Not the best blog, not a great blog, but one that does exactly what is expected of a blog and <em>nothing more</em>. Let's determine what those features are:</p>
<ul>
<li>Posting content</li>
<li>Editing existing content</li>
<li>Deleting existing content</li>
<li>Having that content visible to the public</li>
</ul>
<p>Essentially, we are paring this down to the most rudimentary CRUD app, making our development process much more lean and nimble.</p>
<h2>Tools</h2>
<p>While working on your MVP, some choices may make your process more enjoyable or simple than others. For instance, spinning up a whole MongoDB or MySQL instance for a small project may be unnecessary for a quick implementation. Or you just don't want to look at default user styles on the browser the whole time. These tools, mainly for <a href="web-development.html">web development</a>, will make life just a little better and maybe implementation a little quicker.</p>
<ul>
<li><a href="classless-css.html">Classless CSS</a> - Simple CSS frameworks that work with HTML elements without adding class-specific styling.</li>
<li><a href="progressive-enhancement.html">Progressive enhancement</a></li>
<li>ldb[1] - A basic one table database for <a href="javascript.html">Javascript</a> using local storage.</li>
<li>Erlang ticket system - What I can only imagine is a tiny shell script to make a new ticket with a distributed version control system attached.</li>
</ul>
<h2>References</h2>
<ol>
<li><a href="https://git.sr.ht/~eli_oat/ldb" target="_blank">https://git.sr.ht/~eli_oat/ldb</a></li>
<li><a href="https://joearms.github.io/published/2014-06-25-minimal-viable-program.html" target="_blank">https://joearms.github.io/published/2014-06-25-minimal-viable-program.html</a></li>
<li><a href="https://www.bedelstein.com/post/mcmaster-carr" target="_blank">https://www.bedelstein.com/post/mcmaster-carr</a></li>
<li><a href="https://scribe.rip/@byrnereese/the-skateboard-mindset-in-product-development-ddf3409d5e98" target="_blank">The Skateboard Mindset in Product Development</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="progressive-enhancement.html">Progressive Enhancement</a></li></ul></details></section><p class="last-modified">Last modified: 202303240433</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
