<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content=""><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Miscellaneous DIY Resources</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Miscellaneous DIY Resources</h1><ul>
<li><a href="http://otherthingsmuseum.com/collection" target="_blank">http://otherthingsmuseum.com/collection</a></li>
<li><a href="https://www.lowtechmagazine.com/2015/02/heating-people-not-spaces.html" target="_blank">Heat people not spaces</a> / <a href="https://en.wikipedia.org/wiki/Kotatsu" target="_blank">Kotatsu</a></li>
<li><a href="https://seasonedcitizenprepper.com/preparedness-downloads/" target="_blank">https://seasonedcitizenprepper.com/preparedness-downloads/</a></li>
<li><a href="https://teddit.net/r/AskReddit/comments/444cnh/what_are_some_free_services_on_the_internet/cznc9la/" target="_blank">https://teddit.net/r/AskReddit/comments/444cnh/what_are_some_free_services_on_the_internet/cznc9la/</a></li>
<li><a href="https://xuv.be/uH-bench-open-source-public-bench.html" target="_blank">https://xuv.be/uH-bench-open-source-public-bench.html</a></li>
<li><a href="https://maudbausier.com/ETCP-chair.html" target="_blank">https://maudbausier.com/ETCP-chair.html</a></li>
<li><a href="https://www.builditsolar.com/" target="_blank">https://www.builditsolar.com/</a></li>
<li><a href="https://solar.lowtechmagazine.com/2022/03/how-to-build-bike-generator.html" target="_blank">https://solar.lowtechmagazine.com/2022/03/how-to-build-bike-generator.html</a></li>
<li><a href="https://www.paperslurry.com/2014/05/19/how-to-make-handmade-paper-from-recycled-materials/" target="_blank">Make paper</a></li>
<li><a href="https://www.thespruce.com/how-to-make-your-own-laundry-detergent-1387952" target="_blank">Dry Laundry Detergent</a></li>
<li><a href="https://homesteading.com/diy-liquid-laundry-soap/" target="_blank">Liquid Laundry Detergent using baking soda and washing soda</a> and <a href="https://www.apartmenttherapy.com/make-your-own-dr-bronners-laun-138151" target="_blank">one using salt and baking soda</a></li>
<li><a href="https://solar.lowtechmagazine.com/2012/04/how-to-keep-beverages-cool-outside-the-refrigerator.html" target="_blank">Evaporative cooling</a></li>
<li><a href="https://yewtu.be/watch?v=k_bVVwxdwxA" target="_blank">Hair Rinses</a></li>
<li><a href="https://www.motherearthnews.com/sustainable-living/nature-and-environment/conifer-tree-pitch-fire-starter-zmaz85ndzgoe/" target="_blank">https://www.motherearthnews.com/sustainable-living/nature-and-environment/conifer-tree-pitch-fire-starter-zmaz85ndzgoe/</a></li>
</ul>
<p class="last-modified">Last modified: 202303130042</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
