<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content=""><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Mobile Home Insulation</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Mobile Home Insulation</h1><h2>Types</h2>
<ul>
<li>Fiberglass batts/rolls: relatively cheap, can DIY (nail gun I think)</li>
<li>Blown in fiberglass: fast, needs professionals, kinda pricey, otherwise same as fiberglass batts/rolls</li>
<li>Spray foam: fast, needs pros, triple cost of fiberglass, kinda sick, very good insulator and water resistant and pest resistant</li>
<li>Rock wool: very heavy, fireproof, soundproof sorta, seems costly</li>
</ul>
<h2>R-values</h2>
<p>The higher it is, the better it will insulate. You can stack them together linearly (R15 with R15 on top = R30).</p>
<blockquote>
<p>If your home has a vaulted ceiling, the roof insulation will have a maximum value of R30. A layer of quality R22 insulation is used in the subfloor and R11 in the walls.[1]</p>
</blockquote>
<p>In PNW, seems that these are general values to use[2]:</p>
<ul>
<li>Attic: R49-60</li>
<li>
Walls:<ul>
<li>2x4: R13-15</li>
<li>2x6: R19-21</li>
</ul>
</li>
<li>Floors: R25-30</li>
<li>Crawlspace: R25-30</li>
</ul>
<h2>References</h2>
<ol>
<li><a href="https://www.claytonhomes.com/studio/how-well-are-manufactured-homes-insulated/" target="_blank">Insulation in Manufactured Homes | Clayton Studio</a></li>
<li><a href="https://www.homedepot.com/c/ab/insulation-r-values/9ba683603be9fa5395fab9091a9131f" target="_blank">All About Insulation R-Values - The Home Depot</a></li>
<li><a href="https://www.familyhandyman.com/article/spray-foam-insulation/" target="_blank">Spray Foam Insulation  | Family Handyman</a></li>
</ol>
<p class="last-modified">Last modified: 202304211619</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
