<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Morse code is a language that is traditionally transmitted via radio frequencies."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Morse Code</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Morse Code</h1><p>Morse code is a language that is traditionally transmitted via radio frequencies and consisting of a series of short and long signals, known as dots (<code>•</code>) and dashes (<code>-</code>). It is usually sent as an <a href="ham-radio.html">RF carrier wave</a> (or continuous wave, hence it's other name CW), and thus needs a <a href="ham-radio.html">HAM radio</a> or some other kind of transmitter, along with some kind of keyer.</p>
<h2>Common Codes/Alphabet</h2>
<p>An alternative way to view these is in a binary tree[5], if that helps.</p>
<table>
<thead>
<tr>
<th>Character</th>
<th>Morse Code</th>
</tr>
</thead>
<tbody>
<tr>
<td>A</td>
<td><code>•-</code></td>
</tr>
<tr>
<td>B</td>
<td><code>-•••</code></td>
</tr>
<tr>
<td>C</td>
<td><code>-•-•</code></td>
</tr>
<tr>
<td>D</td>
<td><code>-••</code></td>
</tr>
<tr>
<td>E</td>
<td><code>•</code></td>
</tr>
<tr>
<td>F</td>
<td><code>••-•</code></td>
</tr>
<tr>
<td>G</td>
<td><code>--•</code></td>
</tr>
<tr>
<td>H</td>
<td><code>••••</code></td>
</tr>
<tr>
<td>I</td>
<td><code>••</code></td>
</tr>
<tr>
<td>J</td>
<td><code>•---</code></td>
</tr>
<tr>
<td>K</td>
<td><code>-•-</code></td>
</tr>
<tr>
<td>L</td>
<td><code>•-••</code></td>
</tr>
<tr>
<td>M</td>
<td><code>--</code></td>
</tr>
<tr>
<td>N</td>
<td><code>-•</code></td>
</tr>
<tr>
<td>O</td>
<td><code>---</code></td>
</tr>
<tr>
<td>P</td>
<td><code>•--•</code></td>
</tr>
<tr>
<td>Q</td>
<td><code>--•-</code></td>
</tr>
<tr>
<td>R</td>
<td><code>•-•</code></td>
</tr>
<tr>
<td>S</td>
<td><code>•••</code></td>
</tr>
<tr>
<td>T</td>
<td><code>-</code></td>
</tr>
<tr>
<td>U</td>
<td><code>••-</code></td>
</tr>
<tr>
<td>V</td>
<td><code>•••-</code></td>
</tr>
<tr>
<td>W</td>
<td><code>•--</code></td>
</tr>
<tr>
<td>X</td>
<td><code>-••-</code></td>
</tr>
<tr>
<td>Y</td>
<td><code>-•--</code></td>
</tr>
<tr>
<td>Z</td>
<td><code>--••</code></td>
</tr>
<tr>
<td>1</td>
<td><code>•----</code></td>
</tr>
<tr>
<td>2</td>
<td><code>••---</code></td>
</tr>
<tr>
<td>3</td>
<td><code>•••--</code></td>
</tr>
<tr>
<td>4</td>
<td><code>••••-</code></td>
</tr>
<tr>
<td>5</td>
<td><code>•••••</code></td>
</tr>
<tr>
<td>6</td>
<td><code>-••••</code></td>
</tr>
<tr>
<td>7</td>
<td><code>--•••</code></td>
</tr>
<tr>
<td>8</td>
<td><code>---••</code></td>
</tr>
<tr>
<td>9</td>
<td><code>----•</code></td>
</tr>
<tr>
<td>0</td>
<td><code>-----</code></td>
</tr>
<tr>
<td>.</td>
<td><code>•-•-•-</code></td>
</tr>
<tr>
<td>,</td>
<td><code>--••--</code></td>
</tr>
<tr>
<td>'</td>
<td><code>•----•</code></td>
</tr>
<tr>
<td>&quot;</td>
<td><code>•-••-•</code></td>
</tr>
<tr>
<td>_</td>
<td><code>••--•-</code></td>
</tr>
<tr>
<td>:</td>
<td><code>---•••</code></td>
</tr>
<tr>
<td>;</td>
<td><code>-•-•-•</code></td>
</tr>
<tr>
<td>?</td>
<td><code>••--••</code></td>
</tr>
<tr>
<td>!</td>
<td><code>-•-•--</code></td>
</tr>
<tr>
<td>-</td>
<td><code>-••••-</code></td>
</tr>
<tr>
<td>+</td>
<td><code>•-•-•</code></td>
</tr>
<tr>
<td>/</td>
<td><code>-••-•</code></td>
</tr>
<tr>
<td>(</td>
<td><code>-•--•</code></td>
</tr>
<tr>
<td>)</td>
<td><code>-•--•-</code></td>
</tr>
<tr>
<td>=</td>
<td><code>-•••-</code></td>
</tr>
<tr>
<td>@</td>
<td><code>•--•-•</code></td>
</tr>
</tbody></table><h2>References</h2>
<ol>
<li><a href="https://en.wikipedia.org/wiki/Morse_code" target="_blank">https://en.wikipedia.org/wiki/Morse_code</a></li>
<li><a href="http://g4fon.net/" target="_blank">http://g4fon.net/</a></li>
<li><a href="http://dxatlas.com/morserunner/" target="_blank">http://dxatlas.com/morserunner/</a></li>
<li><a href="https://calculla.com/morse_codes" target="_blank">https://calculla.com/morse_codes</a></li>
<li><a href="https://en.wikipedia.org/wiki/Morse_code#Alternative_display_of_common_characters_in_International_Morse_code" target="_blank">https://en.wikipedia.org/wiki/Morse_code#Alternative_display_of_common_characters_in_International_Morse_code</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="ham-radio.html">HAM Radio</a></li></ul></details></section><p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
