<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Moving sucks so having a good checklist of things to do when you move helps."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Moving</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Moving</h1><h2>Canceling/Transferring Utilities</h2>
<ul>
<li>Gas</li>
<li>Electric</li>
<li>Water</li>
<li>Internet/Cable</li>
<li>Trash/Recycling</li>
</ul>
<h2>Canceling Memberships</h2>
<ul>
<li>Gyms</li>
<li>Volunteering</li>
<li>Union</li>
</ul>
<h2>Change Of Address</h2>
<ul>
<li>USPS</li>
<li>Credit Cards</li>
<li>Banks</li>
<li>
Insurance<ul>
<li>Renters</li>
<li>Car</li>
<li>Health</li>
<li>Music Instrument</li>
</ul>
</li>
<li>Work/Employers/Clients</li>
<li>Union</li>
<li>Friends and family</li>
</ul>
<h2>Packing</h2>
<h3>Bedroom</h3>
<ul>
<li>Clothing</li>
<li>Bed</li>
<li>Furniture</li>
</ul>
<h3>Hobbies/Work</h3>
<ul>
<li>Music gear</li>
<li>Desk</li>
<li>Computer accessories</li>
<li>Books</li>
<li>Longboards</li>
<li>Bikes</li>
</ul>
<h3>Kitchen</h3>
<ul>
<li>Silverware</li>
<li>Plates</li>
<li>Bowls</li>
<li>Mugs/cups</li>
<li>Cooking utensils (spatulas, etc.)</li>
<li>Mixing bowls</li>
<li>Pots and pans</li>
<li>Breadmaking</li>
<li>Cookbooks</li>
<li>Furniture (shelving, etc.)</li>
</ul>
<h3>Living Room</h3>
<ul>
<li>Furniture</li>
<li>Books</li>
</ul>
<h3>Bathroom</h3>
<ul>
<li>Hygiene stuff</li>
<li>Cleaning products</li>
</ul>
<h3>Miscellaneous</h3>
<ul>
<li>Camping</li>
<li>Emergency Kit</li>
</ul>
<h2>Selling/Getting Rid Of Things</h2>
<ul>
<li>Craigslist</li>
<li>Social media</li>
<li>Friends/family/neighbors</li>
<li>Goodwill or another thrift store (Not Salvation Army[1], if you can help it)</li>
</ul>
<h2>Cleaning</h2>
<ul>
<li>Magic eraser</li>
<li>Barkeeper's friend</li>
<li>Rags</li>
<li>Drywall fixing stuff</li>
<li>Broom/dustpan</li>
<li>Vacuum</li>
<li>Mop and bucket</li>
<li>Trash bags</li>
<li>Take video when complete and fully moved out to cover your ass</li>
</ul>
<h2>Actually Moving</h2>
<ul>
<li>Schedule moving truck</li>
<li>Schedule hotels</li>
<li>Ratchet straps</li>
<li>Moving blankets</li>
</ul>
<h2>New Place</h2>
<ul>
<li>Take video of whole place before moving in anything to cover your ass</li>
</ul>
<h2>References</h2>
<ol>
<li><a href="https://www.huffpost.com/entry/the-salvation-armys-histo_b_4422938" target="_blank">https://www.huffpost.com/entry/the-salvation-armys-histo_b_4422938</a></li>
</ol>
<p class="last-modified">Last modified: 202305301832</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
