<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content=""><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Multiplayer Games</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Multiplayer Games</h1><h2>Go Variants</h2>
<ul>
<li><a href="https://en.wikipedia.org/wiki/Phutball" target="_blank">Phutball</a></li>
<li><a href="https://en.wikipedia.org/wiki/Gomoku" target="_blank">Gomoku</a></li>
</ul>
<h2>Chess Variants</h2>
<ul>
<li><a href="https://en.wikipedia.org/wiki/Hostage_chess" target="_blank">Hostage Chess</a></li>
<li><a href="https://en.wikipedia.org/wiki/Fischer_random_chess" target="_blank">Chess960</a></li>
<li><a href="https://en.wikipedia.org/wiki/Bughouse_chess" target="_blank">Bughouse</a></li>
</ul>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
