<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="The MutationObserver interface provides the ability to watch for changes being made to the DOM tree."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - MutationObserver (Javascript)</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">MutationObserver (Javascript)</h1><p>The MutationObserver interface in <a href="javascript.html">Javascript</a> provides the ability to watch for changes being made to the DOM tree.</p>
<p>This is an example that will watch an element (<code>targetElement</code>) on a webpage that has dynamic elements generated via React, and update another element whenever it sees the <code>targetElement</code> change.</p>
<pre><code class="language-java">// Select the node that will be observed for mutations
const videoPlayer = document.querySelector(&#x27;.video-main&#x27;);

// Options for the observer (which mutations to observe)
const config = {
  attributes: false,
  childList: true,
  subtree: true,
  characterData: true
};

// Callback function to execute when mutations are observed
const copyVideo = (mutationsList, observer) =&gt; {
  document.querySelector(&#x27;.iframe__inner-container&#x27;).innerHTML = videoPlayer.innerHTML;
  if (!videoPlayer.innerHTML.includes(&#x27;video-placeholder&#x27;)) {
    observer.disconnect();
    blPlayer.querySelector(&#x27;iframe&#x27;).src = &#x27;&#x27;;
  }
};

// Create an observer instance linked to the callback function
const wrapperObserver = new MutationObserver(copyVideo);

// Start observing the target node for configured mutations
wrapperObserver.observe(videoPlayer, config);
</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver" target="_blank">https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver</a></li>
<li><a href="https://hacks.mozilla.org/2012/05/dom-mutationobserver-reacting-to-dom-changes-without-killing-browser-performance/" target="_blank">https://hacks.mozilla.org/2012/05/dom-mutationobserver-reacting-to-dom-changes-without-killing-browser-performance/</a></li>
</ol>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
