<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="This is a list of all of my current aliases I use with git."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - My git Aliases</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">My git Aliases</h1><p><em>UPDATE: I use <a href="zsh.html">zsh</a> now and they have built-in aliases which are much simpler. I highly recommend using <a href="zsh.html">zsh</a> anyway, let alone for the aliases.</em></p>
<p>This is a list of all of my current aliases I use with <a href="git.html">git</a>. This is an output of my <code>git alias</code> command, which you will see below. Learn how to set these in the <a href="git.html">git</a> page.</p>
<pre><code>alias = ! git config --get-regexp ^alias\. | sed -e s/^alias\.// -e s/\ /\ =\ /
bdm = ! git branch --merged | egrep -v &quot;(^\*|master|main|dev|staging)&quot; | xargs git branch -d
gud = ! f() { echo &quot;\nYOU DIED\n&quot;; git reset --hard; }; f

a = add
aa = add .
ap = add -p
b = branch
bd = branch -D
ca = commit --amend
cb = checkout -b
ci = commit
cm = commit -m
co = checkout
hist = log --pretty=format:&#x27;%h %ad | %s%d [%an]&#x27; --graph --date=short
pl = pull origin HEAD
pu = push origin HEAD
rbm = ! f() { git rebase -i `git merge-base ${1} HEAD`; }; f
rh = reset --hard
s = status
st = status
rstst = restore --staged .
</code></pre>
<h2><a href="shell.html">Shell</a>/<a href="zsh.html">zsh</a> aliases</h2>
<p>Find all the built-in aliases at the zsh repo[3].</p>
<p>The following aliases are ones that I have added to fill in the gaps that I feel like have been left in the zsh shortcuts. Add this to your <a href="shell.html">shell</a>'s rc file:</p>
<pre><code class="language-shell">alias gpf=&#x27;git push origin HEAD -f&#x27;
alias grstst=&#x27;git restore --staged .&#x27;
alias gstapa=&#x27;git stash push --patch&#x27;
grbdiff () {
    local TARGET=$(git rev-parse --abbrev-ref HEAD)
    local STARTING=&quot;$1&quot;

    git checkout &quot;${TARGET}~0&quot; 2&gt;/dev/null
    git merge &quot;${STARTING}&quot; 2&gt;/dev/null
    local DIFF=$(gd --stat)
    if [[ -z &quot;$DIFF&quot; ]]
    then
        echo -e &quot;Branch &#x27;${TARGET}&#x27; contains contents of &#x27;${STARTING}&#x27;. Nothing to merge.&quot;
    else
        echo -e &quot;Branch &#x27;${TARGET}&#x27; does not contain contents of &#x27;${STARTING}&#x27;:\n${DIFF}&quot;
    fi

    git checkout &quot;${TARGET}&quot; 2&gt;/dev/null
}
</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://stackoverflow.com/questions/7066325/list-git-aliases" target="_blank">https://stackoverflow.com/questions/7066325/list-git-aliases</a></li>
<li><a href="rebase-git.html">Rebase (git)</a></li>
<li><a href="https://github.com/ohmyzsh/ohmyzsh/blob/master/plugins/git/git.plugin.zsh" target="_blank">zsh built-in aliases</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="git-alias.html">git alias</a></li><li><a href="rebase-git.html">Rebase (git)</a></li></ul></details></section><p class="last-modified">Last modified: 202206101419</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
