<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Numpy is a math library that brings in lots of higher-level math functionality to Python."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Numpy</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Numpy</h1><p>This is the standard way to import Numpy into your <a href="python.html">Python</a> project, and it's good practice.</p>
<pre><code class="language-python">import numpy as np
</code></pre>
<h2>Arrays</h2>
<p>If modifying the array, ensure you make a copy of the array through <code>copy.deepcopy</code></p>
<pre><code class="language-python">import numpy as np
import copy
arr = np.array([1,2,3])
a = copy.deepcopy(arr)
</code></pre>
<h3>Make a multidimensional array</h3>
<pre><code class="language-python"># 3D
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
result = np.array(arr)
# 2D
arr = [ [1,2,3,4], [5,6,7,8], [9,10,11,12] ]
result = np.array(arr)
# 3D
arr = [ [ [1,2], [3,4] ], [ [5,6], [7,8] ], [ [9,10], [11,12] ] ]
result = np.array(arr)
</code></pre>
<h3>Make a multidimensional array filled with something</h3>
<pre><code class="language-python"># returns a 3x5 2D array filled with &#x27;.&#x27;s
arr = np.full((3, 5), &#x27;.&#x27;)
</code></pre>
<h3>Get length of each side</h3>
<pre><code class="language-python">np.size(array_name, axis_number)
print(&#x27;Axis 0 size : &#x27;, np.size(arr3D, 0))
print(&#x27;Axis 1 size : &#x27;, np.size(arr3D, 1))
print(&#x27;Axis 2 size : &#x27;, np.size(arr3D, 2))
</code></pre>
<h3>Accessing elements</h3>
<p>1D Arrays can be accessed via indexing just like an array. 2D and higher use a slightly different syntax. </p>
<p>Axes are represented as (Y, X) in 2 dimensional arrays, as in (row, column).</p>
<pre><code class="language-python"># 2D
arr = [ [1,2,3,4], [5,6,7,8], [9,10,11,12] ]
element = arr[0,0] # 1
element = arr[1,2] # 7
</code></pre>
<h3>Iteration</h3>
<p>To iterate through every element within the array, going through all dimensions:</p>
<pre><code class="language-python">import numpy as np
arr = np.array([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])
for x in np.nditer(arr):
    print(x)
</code></pre>
<p>If you want indexes enumerated over also, as a tuple:</p>
<pre><code class="language-python">for index, x in np.ndenumerate(arr):
    print(index, x)
</code></pre>
<h2>References:</h2>
<ol>
<li><a href="https://numpy.org/doc/stable/reference/generated/numpy.full.html" target="_blank">https://numpy.org/doc/stable/reference/generated/numpy.full.html</a></li>
<li><a href="https://stackoverflow.com/questions/5891410/numpy-array-initialization-fill-with-identical-values" target="_blank">https://stackoverflow.com/questions/5891410/numpy-array-initialization-fill-with-identical-values</a></li>
<li><a href="https://thispointer.com/how-to-get-numpy-array-dimensions-using-numpy-ndarray-shape-numpy-ndarray-size-in-python/" target="_blank">https://thispointer.com/how-to-get-numpy-array-dimensions-using-numpy-ndarray-shape-numpy-ndarray-size-in-python/</a></li>
<li><a href="https://www.w3schools.com/python/numpy_array_indexing.asp" target="_blank">https://www.w3schools.com/python/numpy_array_indexing.asp</a></li>
<li><a href="https://www.sharpsightlabs.com/blog/numpy-axes-explained/" target="_blank">https://www.sharpsightlabs.com/blog/numpy-axes-explained/</a></li>
<li><a href="https://stackoverflow.com/questions/17079279/how-is-axis-indexed-in-numpys-array" target="_blank">https://stackoverflow.com/questions/17079279/how-is-axis-indexed-in-numpys-array</a></li>
<li><a href="https://stackoverflow.com/questions/37593013/deep-copy-of-a-np-array-of-np-array" target="_blank">https://stackoverflow.com/questions/37593013/deep-copy-of-a-np-array-of-np-array</a></li>
</ol>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
