<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Object destructuring in Javascript allows you to create constants from items within an object."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Object Destructuring (Javascript)</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Object Destructuring (Javascript)</h1><p>Object destructuring in <a href="javascript.html">Javascript</a> allows you to create constants from items within an object.</p>
<h2>Example</h2>
<pre><code class="language-javascript">const initialObject = {
  first: 123,
  second: [&#x27;yeah&#x27;, &#x27;no&#x27;],
  third: {
    thing: 1,
    another: 2
  }
};

console.log(initialObject.first) // 123
console.log(initialObject.second[0]) // &#x27;yeah
</code></pre>
<h3>Basic</h3>
<pre><code class="language-javascript">const { first, second, third } = initialObject;

console.log(first) // 123
console.log(second[0]) // &#x27;yeah&#x27;
</code></pre>
<h3>Custom Names</h3>
<pre><code class="language-javascript">const { first: tom, second: cruise, third: hello } = initialObject;

console.log(tom) // 123
console.log(cruise[0]) // &#x27;yeah&#x27;
</code></pre>
<h2>References</h2>
<ul>
<li><a href="https://flaviocopes.com/how-to-rename-object-destructuring/" target="_blank">https://flaviocopes.com/how-to-rename-object-destructuring/</a></li>
<li><a href="https://wesbos.com/destructuring-renaming" target="_blank">https://wesbos.com/destructuring-renaming</a></li>
</ul>
<p class="last-modified">Last modified: 202206101419</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
