<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Open source software is complicated."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Open Source Software</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Open Source Software</h1><blockquote>
<p>I am not your supplier. So all your Software Supply Chain ideas? You are not buying from a supplier, you are a raccoon digging through dumpsters for free code. So I would advise you to put these rules in the same dumpster. And remember. I am not a supplier. Because THIS SOFTWARE IS PROVIDED “AS IS”[1]</p>
</blockquote>
<h2>What Is OSS</h2>
<blockquote>
<p>Open-source software (OSS) is computer software that is released under a license in which the copyright holder grants users the rights to use, study, change, and distribute the software and its source code to anyone and for any purpose.[2]</p>
</blockquote>
<p>Open source software has been a boon for software development, allowing the velocity of development to increase quite quickly thorugh sharing and distribution of resources. And while this feels all well and utopian, this paradigm has serious drawbacks:</p>
<ul>
<li>OSS devs rarely get almost anything for their work, aside from praise (see almost any <a href="npm.html">npm</a> package)</li>
<li>Companies stand to gain the most from using OSS but rarely do they put in much of any profits back into the packages they use, especially considering the chain of dependencies and that <em>they</em> should be paid, too</li>
<li>OSS devs often feel obligated to maintain software they receive nothing from because people &quot;need&quot; it (and &quot;don't you care about open source's mission?&quot;, etc. etc.)</li>
<li>Projects based off of OSS often have single points of failure where the maintainer has no obligations to support it (or you) for any reason (see <code>leftpad</code>[3], <code>colors</code>[4], or <code>log4j</code>[5]) and also maintain no liabilities or warranties. If <em>one old package</em> gets messed up, you can have a <strong>ton</strong> of broken dependencies, often cascading into one another with unfixable issues.</li>
<li>The package managers that de-facto maintain the open source ecosystem are huge megacorps like Microsoft, Facebook, and Google (see above re: having the most to gain)</li>
</ul>
<h2>References</h2>
<ol>
<li><a href="https://www.softwaremaxims.com/blog/not-a-supplier" target="_blank">I Am Not A Supplier</a></li>
<li><a href="https://en.wikipedia.org/wiki/Open-source_software" target="_blank">https://en.wikipedia.org/wiki/Open-source_software</a></li>
<li><a href="https://www.theregister.com/2016/03/23/npm_left_pad_chaos/" target="_blank">https://www.theregister.com/2016/03/23/npm_left_pad_chaos/</a></li>
<li><a href="https://www.revenera.com/blog/software-composition-analysis/the-story-behind-colors-js-and-faker-js/" target="_blank">https://www.revenera.com/blog/software-composition-analysis/the-story-behind-colors-js-and-faker-js/</a></li>
<li><a href="https://en.wikipedia.org/wiki/Log4Shell" target="_blank">https://en.wikipedia.org/wiki/Log4Shell</a></li>
</ol>
<p class="last-modified">Last modified: 202301022000</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
