<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content=""><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Operators (Javascript)</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Operators (Javascript)</h1><h2>Logical Operators</h2>
<p>In <a href="javascript.html">Javascript</a>, all of these operators on <a href="https://developer.mozilla.org/en-US/docs/Glossary/Truthy" target="_blank">truthy</a> and <a href="https://developer.mozilla.org/en-US/docs/Glossary/Falsy" target="_blank">falsy</a> values, meaning that all values will be converted to boolean before comparison.</p>
<h3>Used with Non-Boolean Types</h3>
<p>When using non-boolean values, the return value will not be a boolean, but one of the values compared. </p>
<h4>AND (<code>&amp;&amp;</code>)</h4>
<p>If all are truthy, it will return the last compared value. However, if any of the values are falsy, if will return the first falsy value.</p>
<pre><code class="language-javascript">const a = 1 &amp;&amp; 2 &amp;&amp; 3; // returns 3
const b = 4 &amp;&amp; 0 &amp;&amp; &#x27;yes&#x27; &amp;&amp; false // returns 0
</code></pre>
<h4>AND Assignment (<code>&amp;&amp;=</code>)</h4>
<p>If <code>x</code> is truthy, define <code>x</code> with what follows. This is fairly new, so only use this if you know if will be safe to use in production.</p>
<pre><code class="language-javascript">let x = 4;
let y = false;
x &amp;&amp;= 10; // x === 10
y &amp;&amp;= true; // y === false
</code></pre>
<h4>OR (<code>||</code>)</h4>
<p>OR will return the first truthy value found. If all are falsy, will return the last value.</p>
<pre><code class="language-javascript">const a = 1 || 2 || 3; // returns 1
const b = null || 0 || false; // returns false
</code></pre>
<h4>OR Assignment (<code>||=</code>)</h4>
<p>If <code>x</code> is falsy, define <code>x</code> with what follows. This is fairly new, so only use this if you know if will be safe to use in production.</p>
<pre><code class="language-javascript">let x = 4;
let y = false;
x ||= 10; // x === 4
y ||= true; // y === true
</code></pre>
<h4>NOT (<code>!</code>)</h4>
<p>Using a double NOT will convert a regular value into a boolean.</p>
<pre><code class="language-javascript">const a = !!&#x27;hello&#x27;; // returns true
const b = !!0; // returns false
const c = !!undefined; // returns false
</code></pre>
<h4>Nullish Operator (<code>??</code>)</h4>
<p>Will return the right hand side operand if the left side is <code>null</code> or <code>undefined</code>.</p>
<pre><code class="language-javascript">const a = 0 ?? 2; // returns 0
const b = null ?? 2; // returns 2
</code></pre>
<h4>Nullish Assignment (<code>??=</code>)</h4>
<p>If <code>x</code> is nullish (<code>null</code> or <code>undefined</code>), define <code>x</code> with what follows. This is fairly new, so only use this if you know if will be safe to use in production.</p>
<pre><code class="language-javascript">let x = 4;
let y = undefined;
x ??= 10; // x === 4
y ??= true; // y === true
</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators" target="_blank">https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators</a></li>
</ol>
<p class="last-modified">Last modified: 202206101419</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
