<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content=""><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Oven</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Oven</h1><p>Most ovens are not calibrated well. If you need some specific temperatures for stuff like <a href="bread.html">bread</a>, consider getting an oven thermometer and see how accurate your oven is. Some ovens you can adjust[2], as well.</p>
<h2>Use The Preheat and Cooldown</h2>
<blockquote>
<p>roasted veg and the like are for preheating, since you can over shoot a bit and let them hang out. Crackers are for cool down, since they tend to want a burst of heat and then not much else. I usually made the crackers with left over dough or castings from a <a href="sourdough.html">sourdough</a> starter + lots of seeds and spices and some oil. Role thin. Then role a bit thinner.[1]</p>
</blockquote>
<h2>References</h2>
<ol>
<li><a href="https://dog.estate/@eli_oat/108697153957992801" target="_blank">https://dog.estate/@eli_oat/108697153957992801</a></li>
<li><a href="https://www.familyhandyman.com/project/how-to-adjust-oven-temperatures/" target="_blank">https://www.familyhandyman.com/project/how-to-adjust-oven-temperatures/</a></li>
</ol>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
