<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Make sure you actually *want* to, and then calculate your wage appropriately."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Overtime</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Overtime</h1><h2>Should You?</h2>
<p>If you are working to trade your time and services for money, then working overtime should be you trading your time and services for <em>more</em> money, since you are now giving up your time to recharge, spend time with friends and family, have fun, whatever. This time is <strong>more valuable</strong> because it's what <em>you</em> would choose to do. Ensure you get paid accordingly.</p>
<p>If you <em>can't</em> get paid accordingly and you can say no, <strong>do so</strong>. Your time is valuable, your rest and leisure and fun is valuable, you are valuable.</p>
<h2>Calculating Your Pay</h2>
<p>The commonly agreed on formula for overtime is the overtime multiplier times whatever your wage is. Usually that overtime multiplier is 1.5[1] for every hour over your normal working limit (over 40 hours per week, or whatever your agreement is), with it reaching 2 with more than 8 hours overtime taken per week.</p>
<p>This can be hard for people where your hourly wage is not immediately apparent. Try and reduce down your big yearly wage into units you can use.</p>
<p>Let's start with the desired outcome, assuming we are asked to do one day of overtime and we only know our monthly wage (using $5000 for ease):</p>
<pre><code>overtime multiplier * day&#x27;s wage = day of overtime wages
</code></pre>
<p>Now we need to spell out each of these variables, reducing them until we get concrete numbers.</p>
<ul>
<li><code>overtime pay</code> = 1.5</li>
<li><code>day&#x27;s wage</code> = (<code>monthly wage</code> / <code>average number of workdays per month</code>)</li>
<li><code>monthly wage</code> = 5000</li>
<li><code>average number of workdays per month</code> = (365 / 12) * (5 / 7) = 21.72</li>
<li><code>day&#x27;s wage</code> = (5000 / 21.72) = $230</li>
</ul>
<p>Now we can fill in the gaps of our original formula:</p>
<pre><code>1.5 * 230 = $345
</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://www.dol.gov/agencies/whd/overtime" target="_blank">https://www.dol.gov/agencies/whd/overtime</a></li>
</ol>
<p class="last-modified">Last modified: 202209221825</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
