<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Paper computing is a way to learn about the most basic operation of Turing complete systems and programming in general."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Paper Computing</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Paper Computing</h1><p>Paper computing is a way to learn about the most basic operation of <a href="https://www.youtube.com/watch?v=RPQD7-AOjMI" target="_blank">Turing complete</a> systems and <a href="programming.html">programming</a> in general. This is also a great way to get familiar with the basics of machine code and <a href="assembly.html">assembly</a>.</p>
<h2>Models</h2>
<ul>
<li><a href="the-know-how-computer.html">The Know-how Computer</a></li>
<li><a href="the-little-man-computer.html">The Little Man Computer</a></li>
<li><a href="https://www.cs.drexel.edu/~bls96/museum/cardiac.html" target="_blank">CARDIAC - CARDboard Illustrative Aid to Computation</a></li>
<li><a href="http://archive.computerhistory.org/resources/access/text/2018/04/102650177-05-01-acc.pdf" target="_blank">The Instructo</a></li>
<li><a href="https://compudanzas.itch.io/norpet" target="_blank">norpet</a></li>
</ul>
<h2>References</h2>
<ol>
<li><a href="https://en.wikipedia.org/wiki/Turing_completeness" target="_blank">https://en.wikipedia.org/wiki/Turing_completeness</a></li>
<li><a href="https://www.youtube.com/watch?v=RPQD7-AOjMI" target="_blank">https://www.youtube.com/watch?v=RPQD7-AOjMI</a></li>
<li><a href="https://compudanzas.net/beans_computing.html" target="_blank">https://compudanzas.net/beans_computing.html</a></li>
<li><a href="https://www.youtube.com/watch?v=Z27KQiBnkJI" target="_blank">https://www.youtube.com/watch?v=Z27KQiBnkJI</a></li>
<li><a href="https://www.youtube.com/watch?v=t-mOfXhgfQY" target="_blank">https://www.youtube.com/watch?v=t-mOfXhgfQY</a></li>
<li><a href="https://wiki.xxiivv.com/site/papier.html" target="_blank">https://wiki.xxiivv.com/site/papier.html</a></li>
<li><a href="https://www.instructables.com/CARDIAC-CARDboard-Illustrative-Aid-to-Computation-/" target="_blank">https://www.instructables.com/CARDIAC-CARDboard-Illustrative-Aid-to-Computation-/</a></li>
<li><a href="https://www.cs.drexel.edu/~bls96/museum/cardiac.html" target="_blank">https://www.cs.drexel.edu/~bls96/museum/cardiac.html</a></li>
<li><a href="https://archive.org/details/cardiac_201708/page/n9/mode/2up" target="_blank">https://archive.org/details/cardiac_201708/page/n9/mode/2up</a></li>
<li><a href="https://en.wikipedia.org/wiki/Little_man_computer" target="_blank">https://en.wikipedia.org/wiki/Little_man_computer</a></li>
<li><a href="http://elearning.algonquincollege.com/coursemat/dat2343/lectures.f03/12-LMC.htm" target="_blank">http://elearning.algonquincollege.com/coursemat/dat2343/lectures.f03/12-LMC.htm</a></li>
<li><a href="http://www.pythondiary.com/blog/Oct.15,2014/building-cpu-simulator-python.html" target="_blank">http://www.pythondiary.com/blog/Oct.15,2014/building-cpu-simulator-python.html</a></li>
<li><a href="http://archive.computerhistory.org/resources/access/text/2018/04/102650177-05-01-acc.pdf" target="_blank">http://archive.computerhistory.org/resources/access/text/2018/04/102650177-05-01-acc.pdf</a></li>
<li><a href="https://compudanzas.itch.io/norpet" target="_blank">https://compudanzas.itch.io/norpet</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="assembly.html">Assembly</a></li><li><a href="brainfuck.html">Brainfuck</a></li><li><a href="fractran.html">FRACTRAN</a></li><li><a href="low-no-tech-productivity.html">Low-/No-Tech Productivity</a></li><li><a href="pi-at-pc-framework.html">PI AT PC Framework</a></li><li><a href="pseudocode.html">Pseudocode</a></li><li><a href="the-know-how-computer.html">The Know-how Computer</a></li><li><a href="the-little-man-computer.html">The Little Man Computer</a></li></ul></details></section><p class="last-modified">Last modified: 202206101419</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
