<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content=""><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Parallelism and Concurrency</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Parallelism and Concurrency</h1><blockquote>
<p><strong>Parallelism</strong> is the task of <strong>running</strong> multiple computations on two different threads simultaneously: when one problem is solved by multiple processors. <strong>Concurrency</strong> is the task of <strong>managing</strong> multiple computations at once: when two or more problems are solved by a single processor.[1]</p>
</blockquote>
<pre><code>Non-concurrent and non-parallel:

|||||-||-||||||||-||||||-||-|||

Concurrent and non-parallel:

-------|||||||||-----------||||
-----||---------||||||--|||----
|||||-----------------||-------

Concurrent and parallel:

|||||||||-||||-----------------
||-||||||-|||------------------
|||||-||-----------------------
</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://scribe.rip/retention-science/ruby-is-still-a-diamond-b789d2661266" target="_blank">https://scribe.rip/retention-science/ruby-is-still-a-diamond-b789d2661266</a></li>
</ol>
<p class="last-modified">Last modified: 202206101419</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
