<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Most pesto is made with basil, but really any greens will do."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Pesto with Greens</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Pesto with Greens</h1><h2>Ingredients</h2>
<ul>
<li>2 cups <strong>greens</strong>, washed (<a href="beet.html">beet</a> with stem removed, <a href="carrot.html">carrot</a>, <a href="basil.html">basil</a>, <a href="spinach.html">spinach</a>, etc.)</li>
<li>1/3 cup <strong><a href="nuts.html">nuts</a></strong> (walnuts, pine nuts, etc.) or <strong>sunflower <a href="seeds.html">seeds</a></strong></li>
<li>2 cloves <strong><a href="garlic.html">garlic</a></strong></li>
<li>120ml <strong>extra virgin <a href="olive-oil.html">olive oil</a></strong></li>
<li>1/3 cup <strong><a href="nutritional-yeast.html">nutritional yeast</a></strong></li>
<li>1/8 tsp <strong><a href="salt.html">salt</a></strong></li>
<li>1/8 tsp <strong><a href="fresh-ground-black-pepper.html">fresh ground black pepper</a></strong> (opt.)</li>
</ul>
<h2>Cookware</h2>
<ul>
<li>Blender or food processor</li>
</ul>
<h2>Instructions</h2>
<ol>
<li>Put <strong>greens</strong>, <strong>nuts</strong>, and <strong>garlic</strong> in a blender and pulse until finely chopped.</li>
<li>Slowly add <strong>olive oil</strong> while continuing short pulses. We want the oil combined but we don't want a homogenous mixture.</li>
<li>Add <strong>nutritional yeast</strong>, <strong>pepper</strong> and <strong>salt</strong> and pulse some more. Add to taste.</li>
<li>Eat immediately or store in the fridge for short-term or the freeze for the long-term.</li>
</ol>
<h2>References</h2>
<ol>
<li><a href="https://www.forkintheroad.co/beet-greens-pesto/" target="_blank">https://www.forkintheroad.co/beet-greens-pesto/</a></li>
</ol>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
