<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="The PICO-8 is a fantasy console to make and share tiny games and programs."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - PICO-8</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">PICO-8</h1><p>The PICO-8 is a fantasy console to make and share tiny games and programs.</p>
<h2>References</h2>
<ol>
<li><a href="https://www.lexaloffle.com/pico-8.php" target="_blank">https://www.lexaloffle.com/pico-8.php</a></li>
<li><a href="https://dev.to/iiviigames/the-piconomicon-pff" target="_blank">https://dev.to/iiviigames/the-piconomicon-pff</a></li>
<li><a href="https://github.com/pixelbath/pico8demakes" target="_blank">https://github.com/pixelbath/pico8demakes</a></li>
<li><a href="https://tcc.lovebyte.party/day1/" target="_blank">https://tcc.lovebyte.party/day1/</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="fantasy-consoles.html">Fantasy Consoles</a></li></ul></details></section><p class="last-modified">Last modified: 202212161602</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
