<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Progressive enhancement is a way to make fast accessible websites."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Progressive Enhancement</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Progressive Enhancement</h1><p>Progressive enhancement is a way to make fast <a href="accessibility.html">accessible</a> websites by ensuring that people can use the site, even if the Javascript fails. This can also be seen as building the <a href="minimum-viable-product.html">minimum viable product</a> as quickly as possible, adding features only as necessary.</p>
<blockquote>
<p>always to be the browser’s mentor, not its micromanager[5]</p>
</blockquote>
<p>It goes like this:</p>
<ol>
<li>Make it work in raw <a href="html.html">HTML</a> (see <a href="semantic-html.html">semantic HTML</a>).</li>
<li>Add CSS to style it how you want it to <strong>without</strong> sacrificing the usability.</li>
<li>Add <a href="javascript.html">Javascript</a> to <em>enhance</em> the site, not replace it's functionality.</li>
</ol>
<blockquote>
<p>Part of the appeal of PE is the strength of the end result. PE forces you to initially plan out your project as a functional system using only the most basic of Web technologies. This means that you know you’ll always have a strong foundation to fall back on as complexity is introduced to the project.</p>
<p>PE goes well with the principle of “Release early, release often.” By starting with a strong foundation, you are able to release projects that work and then concentrate on adding the bells and whistles at a more appropriate time.</p>
<p>PE projects are easier to maintain. With this focus on “first principles,” developers can concentrate on more complex sections of system interaction without worrying about the foundation.</p>
<p>PE is also good for your users. It gives them the security of knowing they can visit your website using any of the thousands of user-agents available to them and still interact with your content as that agent allows.[2]</p>
</blockquote>
<h2>References</h2>
<ol>
<li><a href="https://blog.jim-nielsen.com/2022/select-the-right-tool/" target="_blank">https://blog.jim-nielsen.com/2022/select-the-right-tool/</a></li>
<li><a href="https://www.smashingmagazine.com/2009/04/progressive-enhancement-what-it-is-and-how-to-use-it/" target="_blank">https://www.smashingmagazine.com/2009/04/progressive-enhancement-what-it-is-and-how-to-use-it/</a></li>
<li><a href="https://developer.mozilla.org/en-US/docs/Glossary/Progressive_Enhancement" target="_blank">https://developer.mozilla.org/en-US/docs/Glossary/Progressive_Enhancement</a></li>
<li><a href="https://www.gov.uk/service-manual/technology/using-progressive-enhancement" target="_blank">Building a resilient frontend using progressive enhancement</a></li>
<li><a href="https://viewports.fyi/" target="_blank">The ideal viewport doesn’t exist</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="minimum-viable-product.html">Minimum Viable Product</a></li></ul></details></section><p class="last-modified">Last modified: 202308251542</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
