<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="These are games about or to help you learn programming."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Programming Games</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Programming Games</h1><p>There are lots of games that have recently come out to make <a href="assembly.html">assembly</a> a little more accessible, as well as programming in general. Here are the references I have found and heard about from others:</p>
<ol>
<li><a href="https://store.steampowered.com/app/504210/SHENZHEN_IO/" target="_blank">Shenzhen IO</a></li>
<li><a href="https://store.steampowered.com/app/370360/TIS100/" target="_blank">TIS-100</a></li>
<li><a href="https://store.steampowered.com/app/375820/Human_Resource_Machine/" target="_blank">Human Resource Machine</a></li>
<li><a href="https://store.steampowered.com/app/792100/7_Billion_Humans/" target="_blank">7 Billion Humans</a></li>
<li><a href="https://lelegolla.itch.io/bots-are-stupid" target="_blank">Bots Are Stupid</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="assembly.html">Assembly</a></li></ul></details></section><p class="last-modified">Last modified: 202301012154</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
