<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="PropTypes are a way to add more strict typing, validation, and default values to props in React."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - PropTypes</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">PropTypes</h1><p>PropTypes are a way to add more strict typing, validation, and default values to props in <a href="react.html">React</a>.</p>
<h2>Example</h2>
<p>We have a Greeting component that takes in a prop called <code>name</code>:</p>
<p><strong>Greeting.jsx</strong></p>
<pre><code class="language-jsx">import React from &#x27;react&#x27;;

const Greeting = (name = &#x27;Bob&#x27;) =&gt; {
  return (
    &lt;h1&gt;Hello, {this.props.name}&lt;/h1&gt;
  );
}
</code></pre>
<p>With PropTypes, we can add typing and validation. Then during compilation, we will throw errors before moving any further.</p>
<pre><code class="language-jsx">import React from &#x27;react&#x27;;
import PropTypes from &#x27;prop-types&#x27;;

const Greeting = (name = &#x27;Bob&#x27;) =&gt; {
  return (
    &lt;h1&gt;Hello, {this.props.name}&lt;/h1&gt;
  );
}

Greeting.propTypes = {
  name: PropTypes.string
};
</code></pre>
<p>Multiple types can be specified for a prop also, using <code>oneOfType</code>:</p>
<pre><code class="language-jsx">name: PropTypes.oneOfType([
  PropTypes.string,
  PropTypes.number
])
</code></pre>
<p>PropTypes still exist for functional components, but for <code>defaultProps</code>, one should use the <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Default_parameters" target="_blank">ES6 default parameters syntax</a>.</p>
<h2>Options</h2>
<h3>Optional/Required</h3>
<pre><code class="language-javascript">Component.propTypes = {
  optional_name: PropTypes.string,
  required_name: PropTypes.string.isRequired,
};
</code></pre>
<h3>Object of Unique Keys (IDs, etc.)[3]</h3>
<p>In this case the property <code>players</code> is an object with properties that are dynamic IDs. This can be done using the <code>objectOf</code> prop type.</p>
<pre><code class="language-javascript">Component.propTypes = {
  players: PropTypes.objectOf(
    PropTypes.shape({
      name: PropTypes.string,
      age: PropTypes.number,
    }).isRequired
  ).isRequired,
};
</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://reactjs.org/docs/typechecking-with-proptypes.html" target="_blank">https://reactjs.org/docs/typechecking-with-proptypes.html</a></li>
<li><a href="https://www.npmjs.com/package/prop-types" target="_blank">https://www.npmjs.com/package/prop-types</a></li>
<li><a href="https://stackoverflow.com/questions/59643225/proptype-for-object-where-keys-are-ids" target="_blank">https://stackoverflow.com/questions/59643225/proptype-for-object-where-keys-are-ids</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="react.html">React</a></li></ul></details></section><p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
