<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Rails is a web application framework written in Ruby."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Rails</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Rails</h1><p>Rails is a web application framework written in <a href="ruby.html">Ruby</a>. In comparison to something like <a href="node.html">Node</a>'s <a href="express.html">Express</a>, it is a <em>much</em> higher level instance of an application framework.</p>
<p>From the Ruby on Rails page[1]:</p>
<blockquote>
<p>The Rails philosophy includes two major guiding principles:</p>
<ul>
<li>Don't Repeat Yourself: DRY is a principle of software development which states that &quot;Every piece of knowledge must have a single, unambiguous, authoritative representation within a system&quot;. By not writing the same information over and over again, our code is more maintainable, more extensible, and less buggy.</li>
<li>Convention Over Configuration: Rails has opinions about the best way to do many things in a web application, and defaults to this set of conventions, rather than require that you specify minutiae through endless configuration files.</li>
</ul>
</blockquote>
<p>What this means is that there is quite a bit of abstraction done right out of the gate to handle the things that are most commonly implemented in websites. If you are coming from a <a href="javascript.html">Javascript</a>-oriented background, this amount of abstraction and meta-programming might feel very overwhelming, but the more time you spend learning about it, you'll see that it can be used very effectively for specific types of sites.</p>
<blockquote>
<p>If you persist in bringing old habits from other languages to your Rails development, and trying to use patterns you learned elsewhere, you may have a less happy experience.[1]</p>
</blockquote>
<h2>References</h2>
<ol>
<li><a href="https://guides.rubyonrails.org/getting_started.html" target="_blank">https://guides.rubyonrails.org/getting_started.html</a></li>
<li><a href="https://www.railstutorial.org/" target="_blank">https://www.railstutorial.org/</a></li>
</ol>
<p class="last-modified">Last modified: 202207151011</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
