<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Resources mainly for repairing my broken melodica."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Reed Instrument Maintenance</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Reed Instrument Maintenance</h1><p>Resources mainly for repairing my broken melodica.</p>
<h2>References</h2>
<ol>
<li><a href="https://harp.andrewzajac.ca/GuitarStrings" target="_blank">https://harp.andrewzajac.ca/GuitarStrings</a></li>
<li><a href="https://www.youtube.com/watch?v=LE_uTm7QALE" target="_blank">https://www.youtube.com/watch?v=LE_uTm7QALE</a></li>
<li>Tune lower: <a href="https://www.youtube.com/watch?v=VNXZjIdZLBw" target="_blank">https://www.youtube.com/watch?v=VNXZjIdZLBw</a></li>
<li>Tune higher and lower: <a href="https://www.youtube.com/watch?v=rflrvFRlvt8" target="_blank">https://www.youtube.com/watch?v=rflrvFRlvt8</a></li>
</ol>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
