<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content=""><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Regular Expressions (Javascript)</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Regular Expressions (Javascript)</h1><p>In <a href="javascript.html">Javascript</a>, <a href="regular-expressions.html">regular expressions</a> are enclosed within two forward slashes and flags are placed oustide.</p>
<pre><code class="language-javascript">let re = /hello/m;  // or
let re = new RegExp(&#x27;hello&#x27;, &#x27;m&#x27;);
</code></pre>
<h2>Methods</h2>
<h3>.exec() / .match()</h3>
<p><code>re.exec(item)</code> and <code>item.match(re)</code> will search for the regex (<code>re</code>) inside of <code>item</code>. If found, this returns the expression, the index of beginning of match, and the input item. if not found, this returns <code>null</code>. </p>
<h3>.replace()</h3>
<p><code>item.replace(re, replacement)</code> will replace instances of regex (<code>re</code>) with <code>replacement</code> and return the modified <code>item</code>.</p>
<h3>.search()</h3>
<p><code>item.search(re)</code> returns index of first found instance of reg ex in item. if not found, returns <code>-1</code>.</p>
<h3>.source()</h3>
<p><code>re.source</code> returns the reg expression without the slashes, <code>re</code> being a variable holding a regular expression.</p>
<pre><code class="language-javascript">let re = /hello/m;
console.log(re.source); // &quot;hello&quot;
</code></pre>
<h3>.split()</h3>
<p><code>item.split(re)</code> returns an array of the string split by the regex.</p>
<pre><code class="language-javascript">var myString = &#x27;Hello 1 word. Sentence number 2.&#x27;;
var splits = myString.split(/(\d)/);
// returns [ &quot;Hello &quot;, &quot;1&quot;, &quot; word. Sentence number &quot;, &quot;2&quot;, &quot;.&quot; ]
</code></pre>
<h3>.test()</h3>
<p><code>re.test(item)</code> returns boolean of if regex is found in <code>item</code>.</p>
<pre><code class="language-javascript">let re = /hello/m;
re.test(&#x27;hello world!&#x27;) // returns true
re.test(&#x27;me first&#x27;) // returns false
</code></pre>
<h2>References</h2>
<ol>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/split" target="_blank">https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/split</a></li>
</ol>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
