<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="The Rubik's Cube is a puzzle that is solved by utilizing algorithms."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Rubik's Cube</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Rubik's Cube</h1><p>The Rubik's Cube is a puzzle that is solved by utilizing algorithms.</p>
<h2>Glossary</h2>
<table>
<thead>
<tr>
<th>Notation</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>F (Front)</td>
<td>the side currently facing the solver</td>
</tr>
<tr>
<td>B (Back)</td>
<td>the side opposite the front</td>
</tr>
<tr>
<td>U (Up)</td>
<td>the side above or on top of the front side</td>
</tr>
<tr>
<td>D (Down)</td>
<td>the side opposite the top, underneath the Cube</td>
</tr>
<tr>
<td>L (Left)</td>
<td>the side directly to the left of the front</td>
</tr>
<tr>
<td>R (Right)</td>
<td>the side directly to the right of the front</td>
</tr>
<tr>
<td>f (Front two layers)</td>
<td>the side facing the solver and the corresponding middle layer</td>
</tr>
<tr>
<td>b (Back two layers)</td>
<td>the side opposite the front and the corresponding middle layer</td>
</tr>
<tr>
<td>u (Up two layers)</td>
<td>the top side and the corresponding middle layer</td>
</tr>
<tr>
<td>d (Down two layers)</td>
<td>the bottom layer and the corresponding middle layer</td>
</tr>
<tr>
<td>l (Left two layers)</td>
<td>the side to the left of the front and the corresponding middle layer</td>
</tr>
<tr>
<td>r (Right two layers)</td>
<td>the side to the right of the front and the corresponding middle layer</td>
</tr>
<tr>
<td>x (rotate)</td>
<td>rotate the entire Cube on R</td>
</tr>
<tr>
<td>y (rotate)</td>
<td>rotate the entire Cube on U</td>
</tr>
<tr>
<td>z (rotate)</td>
<td>rotate the entire Cube on F</td>
</tr>
</tbody></table><h2>Directions</h2>
<p class="last-modified">Last modified: 202110221727</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
