<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Sandals are easy to make, only needing a bike tire, paracord, and some tools."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Sandals</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Sandals</h1><p>Sandals are easy to make, only needing a <a href="bicycles.html">bike</a> tire, <a href="paracord.html">paracord</a>, and some tools.</p>
<h2>Materials</h2>
<ul>
<li>Bike tire (you can find one at your local bike service store that they are throwing out)</li>
<li>Paracord, two 4 foot lengths with the ends burned to stop fraying</li>
<li>Scissors</li>
<li>Needle node pliers</li>
<li>Sharpie</li>
<li>Lighter</li>
<li>Leather punch</li>
</ul>
<h2>Instructions</h2>
<ol>
<li>Put the tire on the ground and place your foot on the inside of the tire (opposite the outside tread).</li>
<li>Trace one foot centered on the tire, mark directly under your ankle bone on both sides leaving 1 inch of the bead (the ridge above the sidewall of the tire) intact, and mark a spot right between your big toe and the adjacent toe. This should look like the shape of your foot plus two tabs under the ankle bones and a mark between where the big toe and index toe would go. Repeat for the other foot ~6 inches farther down the tire.</li>
<li>For each trace, cut out the shoes, ensuring that you have the tabs on either side of the ankle bones, punch out the marked hole near the toes with your punch, and punch out the holes on the ankle bone tabs. Use a punch if you can! Scissors etc. can cause long term damage.</li>
<li>For each length of cord, tie a knot at one end and push the other end through the hole by the toes so that the knot is on the same side as the bike tread.</li>
<li>Push the cord then from the inside of the outer ankle tab through to the outside.</li>
<li>Loop the cord under itself from the outside towards the back, and then push the cord from the inside of the inner ankle tab to the outside.</li>
<li>Loop the cord under itself again before tying it.</li>
</ol>
<h2>Tying</h2>
<p>The &quot;starting cord&quot; is the cord that starts with a knot and is running from the underside of the toes towards the outside tab. The &quot;back cord&quot; is the cord running from tab to tab at the rear of the foot.</p>
<ol>
<li>Thread the end of the cord under the starting cord and back towards the inside of the foot.</li>
<li>Thread the end of the cord under the back cord, around the loop made for the tab, and then between the two cords going up towards the top of the foot.</li>
<li>Thread the end of the cord around the back of the foot towards the outside tab.</li>
<li>Thread the end of the cord under the starting cord, around the loop made for the tab, and then between the two back cords so the end is now going up towards the top of the foot.</li>
<li>Thread the end of the cord under the two cords that are running to the inside of the foot, over the main cord, back under towards your newest cord, and then through the newly made loop to create a knot.</li>
<li>Tie off the excess cord, either around your ankle or somewhere else. I wouldn't cut the excess off, as the knot under the foot is the first to go and without extra, you have to cut a whole new length of cord.</li>
</ol>
<h2>References</h2>
<ol>
<li><a href="https://www.instructables.com/Upcycled-Minimalist-Running-Huaraches-or-Lifestyle/" target="_blank">https://www.instructables.com/Upcycled-Minimalist-Running-Huaraches-or-Lifestyle/</a></li>
</ol>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
