<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content=""><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - scout</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">scout</h1><p><a href="https://www.youtube.com/watch?v=3MYEtQ5Zdn8" target="_blank">https://www.youtube.com/watch?v=3MYEtQ5Zdn8</a></p>
<p>[0:04:49] Soldier mindset: attacking or defending; heightened arousal; anxiety or stress; singular focus; reptile brain. </p>
<p>[0:04:49] Motivated reasoning: make ideas win or lose; attacking or defending ideas; fears or loves can shape the ideas</p>
<p>[0:05:55] For people who support capital punishment, seeing a study that shows it is ineffective will lead them to find flaws in the study itself. Vice versa, as well.</p>
<p>[0:08:25] Scout mindset: searching for potential future problems; assessing what is currently there, not what is desired to be there; logical mind; assessing all inputs equally and without judgment</p>
<p>[0:08:25] Non-motivated reasoning: trying to get an accurate picture of reality, even when that's unpleasant or inconvenient.</p>
<p>[0:09:08] What causes scout mindset? Where soldier mindset is rooted in tribalism, fear, defensiveness, the scout mindset is rooted in curiosity, openness, groundedness, or selflessness.</p>
<p>[0:11:40] Motivation is done by giving people a reason to be motivated. &quot;If you want to build a ship, don’t drum up the men to gather wood, divide the work and give orders. Instead, teach them to yearn for the vast and endless sea.&quot; — Antoine de Saint-Exupéry</p>
<p>[0:11:40] What do you yearn for? Defending yourself, or defending the truth?</p>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
