<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Scrum is a framework of managing projects that aims for quick execution, regular evaluation, and staying nimble over developing a fully fleshed out plan first."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Scrum</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Scrum</h1><p>Scrum is a framework of managing projects that aims for quick execution, regular evaluation, and staying nimble over developing a fully fleshed out plan first.</p>
<h2>User Stories</h2>
<p>“As a [persona], I [want to], [so that].”</p>
<h2>References</h2>
<ul>
<li><a href="https://scrumtrainingseries.com/" target="_blank">https://scrumtrainingseries.com/</a></li>
<li><a href="https://www.atlassian.com/agile/project-management/user-stories" target="_blank">https://www.atlassian.com/agile/project-management/user-stories</a></li>
</ul>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="gherkin.html">Gherkin</a></li><li><a href="making-a-good-readme.html">Making a Good README</a></li></ul></details></section><p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
