<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="HTML without any styling or functionality should be readable and the user should easily be able to discern context about the content."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Semantic HTML</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Semantic HTML</h1><p><a href="html.html">HTML</a> without any styling or functionality should be readable and <a href="accessibility.html">accessible</a>, and the user should easily be able to discern context about the content. Assistive technologies use the native <code>role</code>, accessible <code>name</code>, and <code>value</code> that is present in semantically appropriate HTML elements, and using the wrong ones can mean lots of extra work and headache in trying to recreate the functionality that already exists.</p>
<p>Some simple examples of semantic elements are the following:</p>
<pre><code class="language-html">&lt;header&gt;&lt;/header&gt;
&lt;aside&gt;&lt;/aside&gt;
&lt;form&gt;&lt;/form&gt;
&lt;main&gt;&lt;/main&gt;
&lt;nav&gt;&lt;/nav&gt;
&lt;section&gt;&lt;/section&gt;
&lt;footer&gt;&lt;/footer&gt;
</code></pre>
<h2>Headings</h2>
<p>Headings should be used for semantics only, <strong>not</strong> for font sizing (<a href="html.html">HTML</a> for structure, <a href="css.html">CSS</a> for styling).</p>
<p>Heading information can be used by user agents to construct a table of contents for a document automatically.</p>
<p>Use only one <code>&lt;h1&gt;</code> per page or view. It should concisely describe the overall purpose of the content. Using more than one <code>&lt;h1&gt;</code> will not result in an error, but is not considered a best practice. Using only one <code>&lt;h1&gt;</code> is beneficial for <a href="accessibility.html">screenreader users</a>, and SEO. Avoid skipping heading levels: always start from <code>&lt;h1&gt;</code>, followed by <code>&lt;h2&gt;</code> and so on.</p>
<h2>References</h2>
<ol>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Heading_Elements" target="_blank">https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Heading_Elements</a></li>
<li><a href="https://tink.uk/understanding-semantics/" target="_blank">https://tink.uk/understanding-semantics/</a></li>
<li><a href="https://gerardkcohen.github.io/periodic-table-of-semantics.html" target="_blank">The Periodic Table of Semantics</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="accessibility.html">Accessibility</a></li><li><a href="accessibility-for-web-design.html">Accessibility For Web Design</a></li><li><a href="aria-attributes.html">ARIA Attributes</a></li><li><a href="html-forms.html">HTML Forms</a></li><li><a href="html-tables.html">HTML Tables</a></li><li><a href="progressive-enhancement.html">Progressive Enhancement</a></li><li><a href="testing-accsesibility-for-the-web.html">Testing Accsesibility for the Web</a></li></ul></details></section><p class="last-modified">Last modified: 202304020216</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
