<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Semantic versioning is a way to standardize versioning for package managers."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Semantic Versioning</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Semantic Versioning</h1><p>Semver is used in popular package managers like <a href="npm.html">npm</a>/<a href="yarn.html">yarn</a>. Semantic versioning uses the following formula:</p>
<p><code>1.2.3</code> -&gt; <code>MAJOR.MINOR.PATCH</code></p>
<blockquote>
<p>Given a version number MAJOR.MINOR.PATCH, increment the:</p>
<p>MAJOR version when you make incompatible API changes
MINOR version when you add functionality in a backwards compatible manner
PATCH version when you make backwards compatible bug fixes[1]</p>
</blockquote>
<p>Or put another way:</p>
<ul>
<li>MAJOR is for <strong>any breaking changes</strong></li>
<li>MINOR is for <strong>adding something</strong> that doesn't break or change anything else</li>
<li>PATCH is for <strong>fixing something</strong> that doesn't break or change anything else</li>
</ul>
<h2>Ranges</h2>
<p>Greater than/less than is the way to most clearly specify ranges.</p>
<ul>
<li><code>&gt;=1.0.0 &lt;2.0.0</code> means at least major version 1 but nothing above major version 2.</li>
<li><code>&gt;=1.2.3 &lt;4.5.6</code> means at least major version 1, minor version 2, and patch version 3, but nothing above major version 4, minor version 5, and patch version 6.</li>
</ul>
<p>The following are sugar for the above so you don't have to write so much.</p>
<ul>
<li>Hyphens specify an inclusive set (<code>1.2.3 - 2.3.4</code>). Any missing numbers or <code>x</code>/<code>*</code> is essentially replaced by a zero (<code>1.x</code> === <code>1.0.0</code>).</li>
<li>
A tilde means don't go above the specified <strong>minor</strong>. &quot;major and minor versions must match those specified, but any patch version greater than or equal to the one specified is valid&quot;[4]<ul>
<li><code>~1.2.3 := &gt;=1.2.3 &lt;1.3.0-0</code></li>
<li><code>~0.2.3 := &gt;=0.2.3 &lt;0.3.0-0</code></li>
</ul>
</li>
<li>
A caret means don't go above the level on the right of the left-most zero.<ul>
<li><code>^1.2.3 := &gt;=1.2.3 &lt;2.0.0-0</code></li>
<li><code>^0.2.3 := &gt;=0.2.3 &lt;0.3.0-0</code></li>
<li><code>^0.0.3 := &gt;=0.0.3 &lt;0.0.4-0</code></li>
</ul>
</li>
</ul>
<h2>References</h2>
<ol>
<li><a href="https://semver.org/" target="_blank">https://semver.org/</a></li>
<li><a href="https://github.com/npm/node-semver" target="_blank">https://github.com/npm/node-semver</a></li>
<li><a href="https://devhints.io/semver" target="_blank">Semver cheatsheet</a></li>
<li><a href="https://nodesource.com/blog/semver-tilde-and-caret/" target="_blank">Semver: Tilde and Caret - NodeSource</a></li>
</ol>
<p class="last-modified">Last modified: 202309070438</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
