<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Slack is a communications software for large teams."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Slack</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Slack</h1><h2>Make Slack Not So Noisy</h2>
<p>Slack is very noisy unless you set certain settings a specific way. This is how I keep it not so anxiety-inducing:</p>
<ul>
<li>
General<ul>
<li><strong>NO SLACK ON YOUR PHONE</strong>. If you are on call, then make sure you're getting paid for it.</li>
<li>Leave channels that are not your job (except fun ones, obvs)</li>
<li>Mute channels that are not important except for emergencies</li>
</ul>
</li>
<li>
Preferences<ul>
<li>
Notifications<ul>
<li>DM's, mentions, and keywords</li>
<li>Notify me on thread replies</li>
<li>9am to 5pm</li>
<li>Notification sound for messages, huddles, and DMs</li>
<li>Show badge</li>
</ul>
</li>
<li>
Sidebar<ul>
<li>Always show: DMs, mentions, drafts &amp; sent, saved items</li>
<li>Unread only</li>
<li>Don't show pictures next to DMs</li>
</ul>
</li>
<li>
Themes<ul>
<li>Sync to OS</li>
<li>Aubergine theme</li>
</ul>
</li>
<li>
Messages<ul>
<li>Compact</li>
<li>Full and display names</li>
<li>Don't display who is typing</li>
<li>Show times with 24-hour clock</li>
<li>Don't convert my emoticons into emojis</li>
<li>Show images and files uploaded to slack</li>
<li>Show linked images and files</li>
<li>Show text previews</li>
</ul>
</li>
<li>
Language &amp; Region<ul>
<li>Set time automatically</li>
<li>Enable spellcheck</li>
</ul>
</li>
<li>
Accessibility<ul>
<li>Underline links to websites</li>
<li>Automatically play gifs</li>
</ul>
</li>
<li>
Maek as read<ul>
<li>Start me at newest message, but leave unseen unread</li>
<li>No prompt to confirm if I mark as read</li>
</ul>
</li>
<li>
Audio &amp; Video<ul>
<li>When in call, set status to &quot;On a call&quot;</li>
<li>When in huddle, set status to &quot;On a huddle&quot;</li>
<li>Send a warning if starting a huddle with more than 150 members</li>
<li>Blur background when in a video huddle</li>
<li>Allow shortcut to mute</li>
<li>Automatically leave if screen saver starts or comp locks</li>
</ul>
</li>
<li>
Privacy and visibility<ul>
<li>Slack Connect to no one</li>
<li>Share only within the org</li>
</ul>
</li>
<li>
Advanced<ul>
<li>Enter starts a newline, Cmd+Enter sends a message</li>
<li>Don't send channel suggestions or surveys</li>
<li>Disable hardware acceleration</li>
</ul>
</li>
</ul>
</li>
</ul>
<h2>References</h2>
<ol>
<li><a href="https://www.getro.com/blog/make-slack-a-less-noisy-place-to-work/" target="_blank">https://www.getro.com/blog/make-slack-a-less-noisy-place-to-work/</a></li>
</ol>
<p class="last-modified">Last modified: 202301050148</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
