<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Tools should empower others to live a better life. We should care about maintaining those tools."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Software Maintenance</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Software Maintenance</h1><p>&quot;Go fast and break things&quot; is a common cry of startups and the tech world in general, since hitting the market early will earn you an advantage. Unfortunately what this means about the <em>software</em> is that it's buggy, inaccessible to the differently abled, and difficult or impossible to maintain.</p>
<p>It's our responsibility as developers to stop this kind of behavior as early as possible. This is a disservice to everyone who uses or wants to use a product, and the market at large that will then have to race to the bottom at the expense of those who can't speak up.</p>
<blockquote>
<p><strong>Do you see designers as complicit in the conduct of the companies they operate within?</strong></p>
<p><strong>Mike Monteiro</strong>: Very, very complicit. All the stuff that Facebook does, all the stuff that Twitter does has to go through a designer at some point. About half of the designers I’ve talked to argue that they’re just a pair of hands doing what they were told to do. With that kind of attitude, I’m not surprised that we’re where we are today.[2]</p>
</blockquote>
<p>Another angle to this is to vie for simplicity and orthogonality in the software you create:</p>
<ul>
<li>The scope is intentionally reduced, so unexpected behavior and edge cases and reduce exponentially.</li>
<li>Others can use your software as it is made to do one thing well, not many things just okay.</li>
<li>When (not if) something goes wrong, it can be easily fixed[3].</li>
</ul>
<h2>CADT Model</h2>
<p>A close relative to this is what Jamie Zawinski calls the &quot;Cascade of Attention-Deficit Teenagers&quot; model[1]. The order is usually the following:</p>
<ol>
<li>Bugs are found and added to the bug tracker</li>
<li>Many weeks/months/years pass</li>
<li>Bug tickets from step 1 are closed because a new version is being developed</li>
<li>A new version is released without addressing the bugs from step 1</li>
<li>Repeat</li>
</ol>
<blockquote>
<p>Fixing bugs isn't fun; going through the bug list isn't fun; but rewriting everything from scratch <em>is</em> fun (because &quot;this time it will be <em>done right</em>&quot;, ha ha) and so that's what happens, over and over again.[1]</p>
</blockquote>
<h2>References</h2>
<ol>
<li><a href="https://www.jwz.org/doc/cadt.html" target="_blank">https://www.jwz.org/doc/cadt.html</a></li>
<li><a href="https://www.commarts.com/columns/move-slow-and-fix-things" target="_blank">https://www.commarts.com/columns/move-slow-and-fix-things</a></li>
<li><a href="http://stanleylieber.com/2022/04/03/0/" target="_blank">http://stanleylieber.com/2022/04/03/0/</a></li>
<li><a href="https://gist.github.com/BriSeven/a0899f49602823c6c9424f938358115b" target="_blank">https://gist.github.com/BriSeven/a0899f49602823c6c9424f938358115b</a></li>
</ol>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
