<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="ssh (secure shell) is a way to connect to remote computers and interact with them. scp (secure copy) is used to send/request files."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - ssh and scp</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">ssh and scp</h1><h2>Sending a single or a few files</h2>
<pre><code class="language-bash">scp /path/to/src/file user@server:/path/to/destination
</code></pre>
<h2>Sending lots of files at once[1]</h2>
<pre><code class="language-bash">tar -C /path/to/src/dir -jcf - ./ | ssh user@server &#x27;tar -C /path/to/dest/dir -jxf -&#x27;
</code></pre>
<ul>
<li>For <code><a href="tar.html">tar</a></code>, the flags are: <code>j</code> for filtering/compressing using the <code>bzip2</code> algorithm, <code>c</code> for creating a new archive, and <code>f</code> is for where it should send the new contents of the tar file; the hyphen signifies the contents of the new tar file should be piped.</li>
<li>For the <code>ssh</code> section, the other <code>tar</code> flag is <code>x</code> for extract the archive.</li>
</ul>
<h2>References</h2>
<ol>
<li><a href="https://unix.stackexchange.com/a/10037" target="_blank">https://unix.stackexchange.com/a/10037</a></li>
</ol>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
