<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="A station log is used to record all HF contacts, and can end up being useful."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Station Log</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Station Log</h1><p>Many hams keep a log of all HF contacts, typically including:</p>
<ul>
<li>Date and time, usually in the “Zulu” timezone (UTC)</li>
<li>Frequency</li>
<li>Other operator's call sign</li>
<li>Signal reports exchanged</li>
<li>Notes</li>
</ul>
<blockquote>
<p>When you allow someone else to operate your station, either as a control operator or third party, it's a good idea to note that fact in your station log.  If the FCC notifies you of a violation, at least you'll have documentation to show what was happening that day.</p>
<p>The log comes in especially handy if you need to resolve an interference complaint or an information request from the FCC.  If you can pull out your logbook and show that you were not operating at the time in question, that usually clears up the issue.  On the other hand, if you were operating at the time, it lets you know that there may be a real problem to be dealt with.[1]</p>
</blockquote>
<h2>References</h2>
<ol>
<li><a href="https://www.hamradiolicenseexam.com/" target="_blank">https://www.hamradiolicenseexam.com/</a></li>
<li><a href="http://www.arrl.org/logbook-of-the-world" target="_blank">http://www.arrl.org/logbook-of-the-world</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="ham-radio.html">HAM Radio</a></li></ul></details></section><p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
