<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content=""><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - tech-interviews</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">tech-interviews</h1><p><a href="https://www.educative.io/courses/grokking-the-coding-interview" target="_blank">https://www.educative.io/courses/grokking-the-coding-interview</a></p>
<p><a href="https://www.techinterviewhandbook.org/software-engineering-interview-guide/" target="_blank">https://www.techinterviewhandbook.org/software-engineering-interview-guide/</a></p>
<p><a href="https://news.ycombinator.com/item?id=31898454" target="_blank">https://news.ycombinator.com/item?id=31898454</a></p>
<p><a href="https://www.frontendinterviewhandbook.com/" target="_blank">https://www.frontendinterviewhandbook.com/</a></p>
<p class="last-modified">Last modified: 202301022000</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
