<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="This Thai curry can be used as a base for a "kitchen sink" kind of meal, throwing in whatever you got in your fridge or pantry."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Thai Curry</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Thai Curry</h1><p>This Thai curry can be used as a base for a &quot;kitchen sink&quot; kind of meal, throwing in whatever you got in your fridge or pantry. I usually double this recipe and use it as a meal prep for a few days of lunch/dinner. This recipe came from the <a href="https://www.spilledmilkpodcast.com/" target="_blank">Spilled Milk podcast</a> ages ago, can find it <a href="http://www.grubshack.com/essays/thai-curry2.html" target="_blank">here</a>.</p>
<h2>Ingredients</h2>
<ul>
<li>13.5oz/1 can <strong><a href="coconut-milk.html">coconut milk</a></strong>, <a href="https://cooking.stackexchange.com/questions/25068/how-to-make-canned-coconut-milk-separate?rq=1" target="_blank">with the cream and oil separated</a></li>
<li>2-3T <strong><a href="curry-paste.html">curry paste</a></strong> (I use whatever kind is around: panang, red, yellow, green, etc.)</li>
<li>1 medium <strong><a href="onion.html">onion</a></strong>, chopped</li>
<li>1t <strong>oyster sauce</strong></li>
<li>2t <strong>dark <a href="soy-sauce.html">soy sauce</a></strong></li>
<li>1t <strong>palm sugar</strong></li>
<li>1/2 <strong><a href="lime.html">lime</a></strong>, juiced</li>
<li><strong><a href="pepper.html">Pepper</a></strong>, crushed</li>
<li>
Whatever <strong>meat substitutes</strong>, <strong>vegetables</strong>, and <strong>starches</strong> you have sitting around, e.g.<ul>
<li><a href="mushrooms.html">mushrooms</a></li>
<li>soya chunks</li>
<li>frozen green beans</li>
<li>sweet potatoes</li>
<li><a href="potatoes.html">potatoes</a></li>
<li>soaked <a href="lentils.html">lentils</a></li>
</ul>
</li>
<li><strong>Fresh <a href="serrano-chiles.html">serrano chiles</a></strong>, sliced thin</li>
<li>Cooked <strong><a href="rice.html">rice</a></strong> to place curry on top</li>
</ul>
<h3>Substitutions</h3>
<ul>
<li>Instead of <strong>palm sugar</strong>, I often use <strong>white or brown sugar</strong> because <strong>palm sugar</strong> is a pain</li>
<li>I often omit the <strong>lime</strong></li>
<li>I use <strong><a href="foraging.html">peruvian peppercorn</a></strong>, but regular pepper is good. Anything to cut through with brightness</li>
</ul>
<h2>Cookware</h2>
<ul>
<li>Deep pot</li>
<li>Wooden spoon</li>
</ul>
<h2>Instructions</h2>
<ol>
<li>In a medium saucepan, heat the thick <strong>coconut cream</strong> over medium-high heat until bubbling furiously.</li>
<li>Add the <strong>curry paste</strong> and stir until well mixed, grinding the paste against the bottom and sides of the pot if necessary. Add the chopped <strong>onion</strong>, and cook until you see dark streaks of coconut oil forming, or until bored.</li>
<li>Add the <strong>oyster sauce</strong>, <strong>soy sauce</strong>, <strong>sugar</strong>, <strong>lime</strong>, and thin <strong>coconut milk</strong>. Stir to mix.</li>
<li>Taste and adjust seasonings.</li>
<li>Reduce heat to medium. Add your <strong>meat substitutes</strong>, <strong>vegetables</strong>, and <strong>starches</strong>.</li>
<li>Simmer 30 minutes or, if using <strong><a href="potatoes.html">potatoes</a></strong>, until <strong>potato</strong> is cooked through. If you don't simmer gently, the coconut milk will separate a <em>lot</em>, and the curry will look kind of weird and be harder to dish up. It will still be perfectly tasty, though.</li>
<li>Taste and adjust seasonings. Garnish with <strong>fresh chiles</strong> and serve over <strong><a href="rice.html">rice</a></strong>.</li>
</ol>
<h2>References</h2>
<ul>
<li><a href="http://www.grubshack.com/essays/thai-curry2.html" target="_blank">http://www.grubshack.com/essays/thai-curry2.html</a></li>
<li><a href="https://cooking.stackexchange.com/questions/25068/how-to-make-canned-coconut-milk-separate?rq=1" target="_blank">https://cooking.stackexchange.com/questions/25068/how-to-make-canned-coconut-milk-separate?rq=1</a></li>
</ul>
<p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
