* {
  --B: #000;
  --b: #222;

  --W: #fff;
  --w: #ddd;

  --ld: #00e;
  --ll: #0ae;

  --bg: var(--w);
  --hd: var(--B);
  --tx: var(--b);
  --l: var(--ld);
}

@media (prefers-color-scheme: dark) {
  * {
    --bg: var(--b);
    --hd: var(--W);
    --tx: var(--w);
    --l: var(--ll);
  }
}

body {
  background: var(--bg);
  color: var(--tx);
  font: 1rem/1.25 sans-serif;
  max-width: 50rem;
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--hd);
  margin: 2em 0 1em;
}

h1 {
  font-size: 2rem;
  margin-top: 1em;
}

a { color: var(--l); }
a[target="_blank"]::after {
  content: '\2197';
  font-size: 0.66em;
  vertical-align: super;
}

pre {
  border: .125rem solid var(--tx);
  padding: 0.5rem;
  white-space: pre-wrap;
}

table { border-collapse: collapse; }
tr, th, td { border: 1px solid var(--tx); }
th, td {
  padding: .5rem;
  text-align: left;
}

footer {
  border-top: .125rem solid var(--tx);
  margin-top: 1rem;
}

footer > * { margin-top: 1rem; }

nav > *,
footer .social > * {
  display: inline-block;
  margin: .3rem .5rem .3rem 0;
}

/* Spoilers */

spoiler {
  display: block;
  position: relative;
}
spoiler::after {
  background: #000;
  bottom: -.1rem;
  content: ' ';
  left: -.25rem;
  opacity: 1;
  position: absolute;
  right: -.25rem;
  top: -.1rem;
  visibility: visible;
}
spoiler:hover::after,
spoiler:focus::after {
  opacity: 0;
  visibility: hidden;
}
