<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Toum is a naturally vegan garlic aioli/mayonnaise."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Toum</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Toum</h1><p>Toum is a naturally vegan garlic aioli/mayonnaise.</p>
<h2>Ingredients</h2>
<ul>
<li>1/2 cup / ~24 medium sized cloves <strong><a href="garlic.html">garlic</a></strong>, peeled</li>
<li>1 tsp <strong><a href="salt.html">salt</a></strong></li>
<li>1/4 cup <strong><a href="lemon-juice.html">lemon juice</a></strong> or <strong><a href="vinegar.html">vinegar</a></strong> or <strong><a href="kombucha.html">kombucha</a></strong> (I'll call this the <strong>tart liquid</strong>)</li>
<li>1 1/2 cup <strong><a href="olive-oil.html">olive oil</a></strong></li>
</ul>
<h2>Cookware</h2>
<ul>
<li>Blender</li>
<li>Measuring cups/spoons</li>
<li>Glass vessel for pouring wet ingredients</li>
<li>Rubber spatula</li>
</ul>
<h2>Instructions</h2>
<ol>
<li>Add <strong>garlic</strong> and <strong>salt</strong> to blender. Pulse/blend as fine as possible.</li>
<li>Scrape down the sides and repeat the above step as needed. (Our blender couldn't get it too fine because it would stick to the side, so we repeated a few times).</li>
<li>Add a teaspoon of <strong>tart liquid</strong> and pulse until you have a paste (same advice as before, you may have to scrape a bit; no need to go too crazy though).</li>
<li>Start your blender at a low speed. While running, alternate adding a little <strong>olive oil</strong> and a little <strong>tart liquid</strong> very slowly. Stop blender and scrape sides as needed until you have enough liquid to keep it going and not throw up on the sides. <em>Go slowly!</em></li>
<li>Repeat the previous step until all wet ingredients are gone. Then you are done <em>Remember, go slow!</em></li>
</ol>
<h2>References</h2>
<ol>
<li><a href="https://www.cheftariq.com/recipe/lebanese-garlic-sauce/" target="_blank">Original recipe</a></li>
</ol>
<p class="last-modified">Last modified: 202301290110</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
