<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Vanilla Javascript is javascript with no or minimal external frameworks."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Vanilla Javascript</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Vanilla Javascript</h1><p>Vanilla <a href="javascript.html">Javascript</a> is Javascript with no or minimal external <a href="frameworks-javascript.html">frameworks</a>.</p>
<h2>Modules</h2>
<p>One way to avoid the monolithic Javascript files that can occur when not using frameworks is to utilize Javascript modules and the <code>import</code>/<code>export</code> syntax. For instance, if you wanted to put a function into an external file and import that in as a module, there are a few steps you have to take. Let's use an example:</p>
<p><strong>index.html</strong></p>
<pre><code class="language-html">&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
  &lt;meta charset=&quot;UTF-8&quot;&gt;
  &lt;title&gt;&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;script src=&quot;index.js&quot;&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
<p><strong>index.js</strong></p>
<pre><code class="language-javascript">const greeting = (name) =&gt; {
  return `Hello, my name is ${name}!`;
};

[&quot;Bob&quot;, &quot;Jane&quot;].forEach(name =&gt; {
  console.log(greeting(name));
});
</code></pre>
<p>If we wanted to use modules for this to separate the <code>greeting</code> function to another file, we need to do the following things:</p>
<ol>
<li>Move relevant code into external files.</li>
<li>Put <code>export</code> instructions into the new external files.</li>
<li>Put <code>import</code> instructions in the <strong>top</strong> of the file we want the external code to reside in.</li>
<li>Add script tags into our HTML to load all our scripts on page load (you may not need the ones being imported in another file if they are locally accessible).</li>
<li>Make our scripts into modules by adding <code>type=&quot;module&quot;</code> to all of our interacting <code>script</code> tags.</li>
</ol>
<p>If we do this to the earlier example, we end up with the following:</p>
<p><strong>index.html</strong></p>
<pre><code class="language-html">&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
  &lt;meta charset=&quot;UTF-8&quot;&gt;
  &lt;title&gt;&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;!-- You no longer need `greeting.js` import--&gt;&gt;
  &lt;script src=&quot;index.js&quot; type=&quot;module&quot;&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
<p><strong>greeting.js</strong></p>
<pre><code class="language-javascript">const greeting = (name) =&gt; {
  return `Hello, my name is ${name}!`;
};

export default greeting;
</code></pre>
<p><strong>index.js</strong></p>
<pre><code class="language-javascript">import greeting from &#x27;./greeting.js&#x27;;

[&quot;Bob&quot;, &quot;Jane&quot;].forEach(name =&gt; {
  console.log(greeting(name));
});
</code></pre>
<h2>Different Import/Export Strategies</h2>
<p>If using <code>export default</code>, then we can just <code>import</code> the function without need for curly braces. If we however use named exports, we have to do things a little differently[3].</p>
<p><strong>external.js</strong></p>
<pre><code class="language-javascript">// ...

export {
  function1,
  function2
};
</code></pre>
<p><strong>index.js</strong></p>
<pre><code class="language-javascript">import { function1, function2 } from &#x27;./external.js&#x27;;
</code></pre>
<h2>References</h2>
<ol>
<li><a href="testing-vanilla-javascript.html">Testing Vanilla Javascript</a></li>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Modules" target="_blank">https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Modules</a></li>
<li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Modules#default_exports_versus_named_exports" target="_blank">https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Modules#default_exports_versus_named_exports</a></li>
</ol>
<p class="last-modified">Last modified: 202307290920</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
