<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Vendor prefixes are used to ensure that older or unsupported browsers have every possibility of implementing the desired rule."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Vendor Prefixes (CSS)</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Vendor Prefixes (CSS)</h1><p>Vendor prefixes are used to ensure that older or unsupported browsers have every possibility of implementing the desired rule. Vendor prefixes are before the declarations and denote which tech/browser/setup it is intended for.</p>
<pre><code class="language-css">div {
  -webkit-box-shadow: 0px 0px 4px #fff;
     -moz-box-shadow: 0px 0px 4px #fff;
      -ms-box-shadow: 0px 0px 4px #fff;
          box-shadow: 0px 0px 4px #fff;
}
</code></pre>
<h2>Using <a href="sass.html">Sass</a></h2>
<p><a href="sass.html">Sass</a> mixins allow browser prefixes to be done easily.</p>
<h2>Using <a href="https://github.com/postcss/autoprefixer#preprocessors" target="_blank">Autoprefixer</a></h2>
<p>You can run <a href="https://github.com/postcss/autoprefixer#preprocessors" target="_blank">Autoprefixer</a> on your <a href="css.html">CSS</a> to add the prefixes needed on your completed CSS.</p>
<h2>Do I have to?</h2>
<p>Find out if you do here: </p>
<ul>
<li><a href="http://shouldiprefix.com/" target="_blank">http://shouldiprefix.com/</a> </li>
<li><a href="https://caniuse.com/" target="_blank">https://caniuse.com/</a></li>
</ul>
<h2>References</h2>
<ol>
<li><a href="https://css-tricks.com/snippets/sass/mixin-prefix-properties/" target="_blank">https://css-tricks.com/snippets/sass/mixin-prefix-properties/</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="organization-and-structure-css.html">Organization and Structure (CSS)</a></li></ul></details></section><p class="last-modified">Last modified: 202206101419</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
