<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Virtual environments allow you to develop in a clean slate, leaving nothing to global packages and allowing easy installation by others."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Virtual Environments (Python)</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Virtual Environments (Python)</h1><p>Virtual environments allow you to develop in a clean slate, leaving nothing to global packages and allowing easy installation by others.</p>
<p>You are in a virtual environment for your <a href="python.html">Python</a> project when you see the env name (in this case, literally <code>env</code>) to the left of the bash prompt.</p>
<h2>Create</h2>
<p><code>cd</code> to project folder and then type:</p>
<pre><code class="language-bash">python3 -m venv env
</code></pre>
<h2>Activate</h2>
<p><code>cd</code> to project folder and then type:</p>
<pre><code class="language-bash">source env/bin/activate
</code></pre>
<h2>Deactivate</h2>
<pre><code class="language-bash">deactivate
</code></pre>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="flask.html">Flask</a></li></ul></details></section><p class="last-modified">Last modified: 202206101419</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
