<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Sourdough, yeast, and baking soda waffles."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Waffles</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Waffles</h1><h2>Ingredients</h2>
<ul>
<li>One of the below variations of flour, water, and rising agent</li>
<li>100g <strong>soy/alt milk</strong> (add enough to make it a batter)</li>
<li>1.5 tsp <strong>vinegar</strong> (opt. if using sourdough)</li>
<li>10g <strong>olive oil</strong></li>
<li>1/2 tsp <strong>salt</strong></li>
<li>1 Tbsp <strong>cornmeal</strong> (opt.)</li>
</ul>
<h3>100% Hydration Sourdough Discard</h3>
<p>This is essentially the recipe from Zero Waste Chef[1] for pancakes, but it works well for waffles and is totally vegan, too, which is nice.</p>
<ul>
<li>230g/1 cup 100% hydration <strong><a href="sourdough.html">sourdough</a> discard</strong> (usually fairly spent)</li>
<li>1/8 tsp <strong>baking soda</strong></li>
</ul>
<h3>60% Hydration Rye Sourdough Discard</h3>
<ul>
<li>24g 60% hydration <strong><a href="sourdough.html">sourdough</a> discard</strong></li>
<li>108g <strong><a href="water.html">water</a></strong></li>
<li>68g <strong>bread flour</strong></li>
<li>40g <strong>whole wheat flour</strong></li>
</ul>
<h3>Instant Yeast</h3>
<ul>
<li>1 tsp <strong>instant <a href="yeast.html">yeast</a></strong></li>
<li>120g <strong><a href="water.html">water</a></strong></li>
<li>80g <strong>bread flour</strong></li>
<li>40g <strong>whole wheat flour</strong></li>
</ul>
<h3>Baking Soda</h3>
<ul>
<li>1/2-1 tsp <strong>baking soda</strong></li>
<li>120g <strong><a href="water.html">water</a></strong></li>
<li>80g <strong>bread flour</strong></li>
<li>40g <strong>whole wheat flour</strong></li>
</ul>
<h2>Cookware</h2>
<ul>
<li>Mixing bowl</li>
<li>Dough whisk (opt.)</li>
<li>Spatula</li>
<li>Waffle iron</li>
<li>1/4 cup measuring cup, or something around that for scooping batter into the iron</li>
</ul>
<h2>Instructions</h2>
<ol>
<li>If using <strong>vinegar</strong>, mix <strong>vinegar</strong> and <strong>soy milk</strong> and let stand for 5 minutes or so until it &quot;curdles&quot; similar to buttermilk[2].</li>
<li>If using the <strong>stiff starter</strong> or <strong>standard yeast</strong>, mix everything together and let it rest for 8 hours/overnight. Otherwise, mix ingredients and use immediately.</li>
<li>Plugin and heat up the waffle iron.</li>
<li>Add 1/4 cup of batter at a time and let it cook. Repeat until batter is gone.</li>
</ol>
<h2>References</h2>
<ol>
<li><a href="https://zerowastechef.com/2016/04/01/sourdough-pancakes/" target="_blank">https://zerowastechef.com/2016/04/01/sourdough-pancakes/</a></li>
<li><a href="https://www.thespruceeats.com/make-your-own-buttermilk-p2-995500" target="_blank">https://www.thespruceeats.com/make-your-own-buttermilk-p2-995500</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="alt-milk.html">Alt Milk</a></li></ul></details></section><p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
