<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="YAML is a markup language that is great for non-technical users, but has many flaws."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - YAML</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">YAML</h1><p>While YAML is nice and convenient for small configuration files, it has many flaws[2], most notably the Norway problem[3] and all it's siblings. Utilizing another language that can be parsed into data is most likely a better idea for whatever usage you have in mind. For example:</p>
<ul>
<li><a href="toml.html">TOML</a></li>
<li><a href="xml.html">XML</a></li>
<li><a href="json.html">JSON</a></li>
<li><a href="kdl.html">KDL</a></li>
</ul>
<h2>References</h2>
<ol>
<li><a href="http://yaml.org/spec/1.2.2/" target="_blank">http://yaml.org/spec/1.2.2/</a></li>
<li><a href="https://www.arp242.net/yaml-config.html" target="_blank">https://www.arp242.net/yaml-config.html</a></li>
<li><a href="https://hitchdev.com/strictyaml/why/implicit-typing-removed/" target="_blank">https://hitchdev.com/strictyaml/why/implicit-typing-removed/</a></li>
</ol>
<p class="last-modified">Last modified: 202206221435</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
