<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="Yarn is a hub from which you can install, manage, and maintain node/Javascript projects"><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - Yarn</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">Yarn</h1><p>Yarn is a hub from which you can install, manage, and maintain <a href="node.html">node</a>/<a href="javascript.html">Javascript</a> projects.</p>
<h2>Installation</h2>
<p>Yarn needs to be installed globally via <a href="npm.html">NPM</a>.</p>
<pre><code class="language-sh">$ npm i --global yarn
</code></pre>
<h2>Basic Commands (for Yarn 1)</h2>
<table>
<thead>
<tr>
<th>Command</th>
<th>Args</th>
<th>Effect</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>add n [--dev]</code></td>
<td><code>n</code>: Package name(s);<br /><code>--dev</code>: Add to dev dependencies</td>
<td>Adds package(s) to project</td>
</tr>
<tr>
<td><code>install</code></td>
<td></td>
<td>Install all packages found in project</td>
</tr>
<tr>
<td><code>run n</code></td>
<td><code>n</code>: Name of script</td>
<td>Run the script <code>n</code> found under <code>scripts</code> in package JSON</td>
</tr>
<tr>
<td><code>start</code></td>
<td></td>
<td>Run the script found under <code>scripts</code>/<code>start</code> in package JSON</td>
</tr>
<tr>
<td><code>test</code></td>
<td></td>
<td>Run the script found under <code>scripts</code>/<code>test</code> in package JSON</td>
</tr>
<tr>
<td><code>upgrade &lt;package&gt;</code></td>
<td><code>package</code> is optional package name. Can be suffixed with <code>@</code> followed by a <a href="semver.html">semver</a>. Without a package, will upgrade all packages <br/> <code>--latest</code> to get to latest version</td>
<td>Upgrade</td>
</tr>
</tbody></table><h2>References</h2>
<ol>
<li><a href="https://classic.yarnpkg.com/en/" target="_blank">Yarn</a></li>
<li><a href="https://classic.yarnpkg.com/lang/en/docs/cli/upgrade/" target="_blank">Upgrading packages (Yarn 1)</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="eslint.html">ESLint</a></li><li><a href="react.html">React</a></li><li><a href="semantic-versioning.html">Semantic Versioning</a></li><li><a href="socketio.html">Socket.IO</a></li><li><a href="sqlite.html">SQLite</a></li><li><a href="storybook.html">Storybook</a></li></ul></details></section><p class="last-modified">Last modified: 202306041808</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
