<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="description" content="zsh is a Unix shell based on the Bourne shell."><!-- Bing --><meta name="msvalidate.01" content="45CBBE1BD8265A2217DFDA630EB8F84A" /><title>Tiny Brain Fans - zsh</title><link rel="stylesheet" href="tinystyle.css"><link rel="stylesheet" href="prism.css"></head><body class="theme">
<main id="main"><article id="content"><h1 id="title">zsh</h1><p>Zsh is a Unix shell based on the Bourne shell, like <a href="bash.html">bash</a>.</p>
<h2>Installation</h2>
<p>Use <a href="homebrew.html">homebrew</a> to install Zsh:</p>
<pre><code class="language-shell">$ brew install zsh
</code></pre>
<p>To set it as your default shell:</p>
<pre><code class="language-shell">$ sudo sh -c &quot;echo $(which zsh) &gt;&gt; /etc/shells&quot; &amp;&amp; chsh -s $(which zsh)
</code></pre>
<h2>Shortcuts</h2>
<p>These shortcuts work in <a href="bash.html">Bash</a> as well.</p>
<table>
<thead>
<tr>
<th>Keystroke</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>Ctrl + A / Ctrl + E</td>
<td>Go to start/end of line</td>
</tr>
<tr>
<td>Ctrl + W</td>
<td>Delete previous word</td>
</tr>
<tr>
<td>Ctrl + U / Ctrl + K</td>
<td>Remove everything from cursor to beginning/end of the line</td>
</tr>
<tr>
<td>Ctrl + X + E</td>
<td>Open a temporary file in <code>$EDITOR</code> that will be executed on close</td>
</tr>
</tbody></table><h2>Oh My Zsh</h2>
<blockquote>
<p>Oh My Zsh is a delightful, open source, community-driven framework for managing your Zsh configuration.</p>
</blockquote>
<h3>Installation</h3>
<p>To install, use this:</p>
<pre><code class="language-shell">$ curl -L https://raw.github.com/robbyrussell/oh-my-zsh/master/tools/install.sh | sh
</code></pre>
<h2>Plugins</h2>
<p>Plugins are installed using Oh My Zsh and the <code>~/.zshrc</code> file.</p>
<ul>
<li><a href="https://github.com/agkozak/zsh-z" target="_blank"><code>z</code></a>: &quot;Zsh-z is a command line tool that allows you to jump quickly to  directories that you have visited frequently in the past, or recently -- but most often a combination of the two (a concept known as <a href="https://en.wikipedia.org/wiki/Frecency" target="_blank">&quot;frecency&quot;</a>). It works by keeping track of when you go to directories and how much time you spend in them.&quot;</li>
</ul>
<h3>Preinstalled</h3>
<ul>
<li>Git shortcuts: <code><a href="git.html">git</a></code> is aliased to <code>g</code> and many of the most used commands are aliased as well, like <code>gaa</code> is <code>git add .</code> and <code>gcmsg</code> is <code>git commit -m </code>, etc. You can find a list of the shortcuts in the oh-my-zsh repo[2].</li>
</ul>
<h2>Profile</h2>
<p>Your profile, which includes your different environment variables, can be found at <code>.zprofile</code>.</p>
<h2>References</h2>
<ol>
<li><a href="https://gist.github.com/derhuerst/12a1558a4b408b3b2b6e#file-mac-md" target="_blank">https://gist.github.com/derhuerst/12a1558a4b408b3b2b6e#file-mac-md</a></li>
<li><a href="https://github.com/ohmyzsh/ohmyzsh/blob/master/plugins/git/git.plugin.zsh" target="_blank">https://github.com/ohmyzsh/ohmyzsh/blob/master/plugins/git/git.plugin.zsh</a></li>
<li><a href="https://www.sitepoint.com/zsh-commands-plugins-aliases-tools/" target="_blank">https://www.sitepoint.com/zsh-commands-plugins-aliases-tools/</a></li>
</ol>
<section id="incoming"><details open><summary>Incoming Links</summary><ul><li><a href="dotfiles.html">Dotfiles</a></li><li><a href="low-no-tech-productivity.html">Low-/No-Tech Productivity</a></li><li><a href="my-git-aliases.html">My git Aliases</a></li><li><a href="shell.html">Shell</a></li></ul></details></section><p class="last-modified">Last modified: 202212070107</p></article></main><footer><nav><p><a href="index.html">Home</a></p><ul><li>Built using <a href="http://codeberg.org/milofultz/swiki" rel="noopener">{{SWIKI}}</a></li><li><a href="http://codeberg.org/milofultz/" rel="noopener">Codeberg</a></li><li><a href="http://milofultz.com/" rel="noopener">milofultz.com</a></li><li><a href="https://merveilles.town/@milofultz" rel="me noopener">Mastodon</a></li><li><a href="https://fediring.net/previous?host=milofultz.com">←</a><a href="https://fediring.net/">Fediring</a><a href="https://fediring.net/random" style="color: red;text-decoration: green wavy underline;">&nbsp;!&nbsp;</a><a href="https://fediring.net/next?host=milofultz.com">→</a></li></ul></nav></footer><script src="prism.js"></script></body></html>
